@charset "utf-8";
/* CSS Document */
body {
  margin: 0 0 0 0;
  background: #f8f8f8;
  color: 000;
  font-size: 14px;
  font-family: '游明朝', 'Yu Mincho', YuMincho, serif;
  font-weight: normal;
  letter-spacing: .04em;
  line-height: 1;
}
#container {
  margin: 0 auto;
}
 section.top-image {
	width: 100%;
    height: 50%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	display: flex;
}
  section.top-image p {
	width: 30%;
	height: 25%;
    background-color: #EBEBEB;
    font-size: 20px;
    color: #797979;
    text-align: center;
	margin: 0 auto;
	padding: 10px 0 10px 0;
    border-radius: 30px;
	align-self: center;
	vertical-align: middle;
	order: 2;
  }
  section.top-image img {
   width: 50%;
   height: 50%;
   order: 1;
  }
div.position {
	margin: 0 20px;
}
div.content-block-1 {
  margin: 120px auto 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}
section.profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.profiel img {
  margin: 20px auto;
  display: block;
}
section.profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.wcb-cafe-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 0 20px;
  box-sizing: border-box;
}
section.wcb-cafe-profiel img {
  margin: 20px auto;
  display: block;
}
section.wcb-cafe-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.wcb-cafe-profiel a .WCBCAFE {
  margin: 20px auto;
  display: block;
}
section.cafe-67-2-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.cafe-67-2-profiel img {
  margin: 20px auto;
  display: block;
}
section.cafe-67-2-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.cafe-67-2-profiel p:nth-of-type(3) {
  margin: 20px auto;
  display: block;
}
section.cafe-67-2-profiel  a .cafe67 {
  margin: 20px auto;
  display: block;
}
div.content-block-2 {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-around;
}
section.kowa-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.kowa-profiel img {
  margin: 20px auto;
  display: block;
}
section.kowa-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.kowa-profiel a .kowa {
  margin: 20px auto;
  display: block;
}
section.tea-theory-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 0 20px;
  box-sizing: border-box;
}
section.tea-theory-profiel img {
  margin: 20px auto;
  display: block;
}
section.tea-theory-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.tea-theory-profiel  a .tea-theory {
  margin: 20px auto;
  display: block;
}
section.tempura-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.tempura-profiel img {
  margin: 20px auto;
  display: block;
}
section.tempura-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.tempura-profiel  a .tempura {
  margin: 20px auto;
  display: block;
}
div.content-block-3 {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
section.travel-agency-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}
section.travel-agency-profiel img {
  margin: 20px auto;
  display: block;
}
section.travel-agency-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.travel-agency-profiel  a .travel-agency {
  margin: 20px auto;
  display: block;
}
section.nursery-school-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 20px;
  box-sizing: border-box;
}
section.nursery-school-profiel img {
  margin: 20px auto;
  display: block;
}
section.nursery-school-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.nursery-school-profiel  a .nursery-school {
  margin: 20px auto;
  display: block;
}
section.trading-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0;
  box-sizing: border-box;
}
section.trading-profiel img {
  margin: 20px auto;
  display: block;
}
section.trading-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.trading-profiel  a .trading {
  margin: 20px auto;
  display: block;
}
div.content-block-4 {
  margin: 20px auto 0;
  display: flex;
  justify-content: space-around;
}
section.grilled-meat-profiel {
  width: 300px;
  height: 760px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.grilled-meat-profiel img {
  margin: 20px auto;
  display: block;
}
section.grilled-meat-profiel p {
  line-height: 1.5em;
  margin: 0 auto;
  display: block;
}
section.grilled-meat-profiel a .grilled-meat {
  margin: 20px auto;
  display: block;
}
section.footer div.end-footer {
  height: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: #30EFF8;
}
section.footer div.end-footer p {
  width: 200px;
  margin: 20px auto;
  padding-top: 20px;
  display: block;
}