@charset "utf-8";
/* CSS Document */
body {
	background-color: #e2edc2;
	font-size: 14px;
	color: #666666;
}
#container {
	width: 900px;
}
heder {
	height: 140px;
}
#menu {
	width: 265px;
	float: left;
}
#content {
	width: 635px;
	float: right;
	background-dolor: #ffffff;
}