@charset "utf-8";
/* CSS Document */
@media(max-width:768px) {
	section.top-image img {
		width: 100%;
	}
  section.introduce {
    width: 100%;
    margin: 68px auto 0 auto;
  }
  div.introduce-img img {
    float: left;
	width: 100%;
    margin: 0 0 34px 0;
  }
  div.introduce-massege p {
    width: 90%;
    color: #FFF;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    margin: 0 auto 68px auto;
  }
  section.each-shop-link {
    width: 100%;
    margin: 0 auto;
  }
  div.menu {
	width: 100%;
	position: relative;
}
div.menu li a {
	color: #FFF;
	font-weight: 1000;
	text-decoration: none;
}
div.menu li a:hover {
	color: #F4FB06;
	background-color: rgba(255, 255, 255, 0.5);
}
div.menu li a:focus {
	color: #F80707;
	background-color: rgba(255, 255, 255, 0.5);		
}
div.menu li a:visited {
	color: #0EF90C;
}
div.menu li:nth-of-type(1) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	margin: 0 0 34px 0;
	text-align: center;
	box-sizing: border-box;
}
div.menu li:nth-of-type(2) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	margin: 0 0 34px 0;
	text-align: center;
	box-sizing: border-box;
}
div.menu li:nth-of-type(3) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	margin: 0 0 34px 0;
	text-align: center;
	box-sizing: border-box;
}
div.menu li:nth-of-type(4) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	margin: 0 0 34px 0;
	text-align: center;
	box-sizing: border-box;
}
div.menu li:nth-of-type(5) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	margin: 0 0 34px 0;
	text-align: center;
	box-sizing: border-box;
}
div.menu li:nth-of-type(6) {
	clear: left;
	width: 100%;
	height: 217px;
	font-size: 26px;
	text-align: center;
	box-sizing: border-box;
}
div.menu li p.lunch{
	box-sizing: border-box;
	position: absolute;
	left: 40%;
}
div.menu li p.leave-it-to-me {
	font-size: 26px;
	box-sizing: border-box;
	position: absolute;
	top: 350px;
	left: 30%;
}
div.menu li p.assorted {
	font-size: 26px;
	box-sizing: border-box;
	position: absolute;
	top: 600px;
	left: 33%;
}
div.menu li p.materials-used {
	font-size: 26px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: 850px;
	left: 33%;
}
div.menu li p.weird {
	font-size: 26px;
	margin-right: 34px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: 1100px;
	left: 33%;
}
div.menu li p.the-way-to-the-store {
	font-size: 26px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: 1350px;
	left: 22%;
}
  section.explanation-of-shop-reception {
    clear: left;
    width: 100%;
    color: #fff;
    margin: 68px auto 0 auto;
  }
  section.explanation-of-shop-reception p {
	width: 90%;
	margin: 0 auto;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
  section.explanation-of-shop-reception p:nth-of-type(6) {
	margin-bottom: 34px;
  }
  section.our-shop-appeal {
    width: 100%;
    color: #fff;
    margin: 0 auto 68px auto;
    letter-spacing: 0.2em;
    line-height: 1.5em;
  }
  section.our-shop-appeal p {
    width: 90%;
    margin: 0 auto;
  }
  section.footer-group {
    width: 100%;
    color: #fff;
    margin: 0 auto;
  }
  div.business-form {
    width: 90%;
	margin: 0 auto;
  }
  div.business-form p:nth-of-type(1) {}
  div.business-form p:nth-of-type(2) {
    margin-bottom: 17px;
  }
  div.business-form p:nth-of-type(3) {}
  div.business-form p:nth-of-type(4) {}
  div.business-form p:nth-of-type(5) {}
  div.business-form p:nth-of-type(6) {
    font-size: 26px;
    margin: 85px 0 0 0;
   
  }
  div.business-form p:nth-of-type(7) {
    font-size: 26px;
    margin: 87px 0 0 0;
    
  }
  footer {
	width: 90%;
    margin: 98px auto 0 auto;
  }
}