@charset "utf-8";
/* CSS Document */
body {
  margin: 0 0 0 0;
  background: #f8f8f8;
  color: #5c5c5c;
  font-size: 14px;
  font-family: '游明朝', 'Yu Mincho', YuMincho, serif;
  font-weight: normal;
  letter-spacing: .04em;
  line-height: 1;
}
#container {
  margin: 0 auto;
}
section.smbc-logo {
	border-bottom: 10px solid #00FF00;
	height: 75px;
	background-color: #1A7300;
	width: 100%
}
#SMBC {
  position: relative;
  margin: 0 auto;
  width: 960px
}
#SMBC img {
 margin-top: 10px;
 width: 55px
}
#SMBC p:nth-of-type(1) {
 color: #FFFFFF;
 width: 200px;
 font-size: 40px;
 position: absolute;
 top: 20px;
 left: 50px;
}
#SMBC p:nth-of-type(2) {
 color: #FFFFFF;
 width: 200px;
 font-size: 20px;
 position: absolute;
 top: 30px;
 left: 850px;
}
section.customer-link {
	width: 100%;
	height: 40px;
	background-color: #C0C0C0;
}
.customer {
	width: 960px;
	margin: 0 auto;
}
.customer ul li {
	float: left;
	margin: 0 0 0 3%;
	list-style: none;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height: 26px;
}
.customer ul li:nth-of-type(1) {
	padding: 15px 20px 0 20px;
}
.customer ul li:nth-of-type(2) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(3) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(4) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(5) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(6) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer {
	display: block;
	content: "";
	clear: both;
}
section.mitui-logo {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
section.mitui-logo p,img,input {
	float: left;
	margin-top: 20px;
}
section.mitui-logo p.mitui {
	font-size: 30px;
	font-weight: bold;
	color: #1A7300;
}
section.mitui-logo input {
	margin: 15px 0 0 25%;
	height: 35px;
	border-radius: 30px;
}
section.mitui-logo img.serch {
	position: absolute;
	top: 7px;
	left: 60%;
}
section.mitui-logo img.language {
	border-left: 1px solid #00FF00;
	border-right: 1px solid #00FF00;
	margin: 25px 0 0 10px;
	padding: 0 10px 0 10px;
	height: 25px;
}
section.mitui-logo p.global-site {
	margin: 27px 0 0 15px;
	padding: 5px 10px 0 0;
	border-right: 1px solid #00FF00;
	height: 20px;
}
section.mitui-logo p.letter {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.small {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.middle {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.big {
	margin: 32px 0 30px 10px;
}
section.mitui-logo {
	display: block;
	content: "";
	clear: both;
}
section.service-link {
	width: 100%;
}
.service {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #00FF00;
	border-bottom: 10px solid #1A7300;
}
.service ul {
	width: 960px;
	margin: 0 auto;
}
.service ul li a img{
	float: left;
	margin: 0px 0 0 10%;
}
.service ul li {
	float: left;
	list-style: none;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height: 35px;
	margin-left: 14px;
}
.service ul li:nth-of-type(1) {
	padding: 15px 20px 0 20px;
	margin: 0 0 0 30px;
}
.service ul li:nth-of-type(2) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(3) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(4) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(5) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(6) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service {
	display: block;
	content: "";
	clear: both;
}
section.urgent-notice {
	width: 960px;
	margin: 0 auto;
}
.urgent-notice dl dt img,.urgent-notice dl dd.urgent-notice-news {
   float: left;
}
.urgent-notice dl dt img {
   margin: 20px 0 0 40px;
}
.urgent-notice dl dd:nth-of-type(1) {
	float: left;
	width: 800px;
	margin: 20px 0 0 10px;
	color: #FF0000;
	font-weight: bold;
	font-size: 20px;
}
.urgent-notice dl dd:nth-of-type(2) {
	float: left;
	width: 800px;
	margin: 20px 0 0 67px;
	color: #FF0000;
	font-size: 16px;
}
.urgent-notice dl dd:nth-of-type(3) {
	float: left;
	width: 800px;
	margin: 20px 0 0 67px;
	color: #FF0000;
	font-size: 16px;
}
.urgent-notice {
	display: block;
	content: "";
	clear: both;
}
section.top-images {
	width: 100%;
	margin: 150px 0 0 0;
}
#main-image {
	width: 100%;
	margin: 0 auto;
}
section.service-hamberger {
	margin: 0 auto;
	position: relative;
}
#login-hamberger-menu p.login {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin: 20px 0 20px 0;
	background-color: #FC660D;
	text-align: center;
}
#login-hamberger-menu p.acount-opening {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin: 20px 0 20px 0;
	background-color: #1A7300;
	text-align: center;
}
#login-hamberger-menu p.login-with-the-app {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 20px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.1.png");
	background-repeat: no-repeat;
	background-position: 10px;
	text-align: center;
	border: 1px solid #000;
}
#login-hamberger-menu p.cash-card-balance-inquiry {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#various-procedures-hamberger-menu .procedure p {
	float: left;
	font-size: 12px;
}
#various-procedures-hamberger-menu .procedure p.store-atm {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.2.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
}
#various-procedures-hamberger-menu .procedure p.book-a-visit {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.3.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 35px;
}
#various-procedures-hamberger-menu .procedure p.various-procedures {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.4.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 35px;
}
#various-procedures-hamberger-menu {
	display: block;
	content: "";
	clear: both;
}
#various-procedures-hamberger-menu .things-about-money p {
	float: left;
	font-size: 12px;
}
#various-procedures-hamberger-menu .things-about-money p.commission {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.5.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 10px;
}
#various-procedures-hamberger-menu .things-about-money p.interest-rate-forex {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.6.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 30px;
}
#various-procedures-hamberger-menu .things-about-money p.faq {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.7.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 15px;
}
#various-procedures-hamberger-menu {
	display: block;
	content: "";
	clear: both;
}
.hamberger-content {
	width: 280px;
	height: 440px;
	padding: 5px 0 0 20px;
	background-color: #FFF;
	position: absolute;
	top: -502px;
	left: 59.8%;
}
section.past-news {
	width: 100%;
	text-align: center;
	margin: 50px 0 50px 0;
}
section.goods-services {
	width: 100%;
	height: 500px;
	background-color: #EDE6E6;
}
.card-related-service {
	width: 1200px;
	margin: 0 auto;
}
.card-related-service dt {
	text-align: center;
	margin: 50px 0 50px 0;
}
.card-related-service dd {
    float: left;
	margin: 0 5px 5px 0;
}
.card-related-service dd:nth-of-type(1) {
	width: 140px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.1.png");
	background-repeat: no-repeat;
	background-position: 70px 20px;
	padding: 100px 0 0 30px;
	margin-left: 75px;
}
.card-related-service dd:nth-of-type(2) {
	width: 135px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.2.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 35px;
}
.card-related-service dd:nth-of-type(3) {
	width: 140px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.3.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 30px;
}
.card-related-service dd:nth-of-type(4) {
	width: 115px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.4.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 55px;
}
.card-related-service dd:nth-of-type(5) {
	width: 115px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.5.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 55px;
}
.card-related-service dd:nth-of-type(6) {
	width: 120px;
	height: 30px;
	background-color: aquamarine;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.6.png");
	background-repeat: no-repeat;
	background-position: 55px 20px;
	padding: 100px 0 0 50px;
}
.card-related-service dd:nth-of-type(7) {
	width: 600px;
	margin-top: 50px;
}
.card-related-service dd:nth-of-type(8) {
	width: 600px;
	margin-top: 50px;
}
.card-related-service dd:nth-of-type(9) {
	
}