@charset "utf-8";
/* CSS Document */
body {
  margin: 0 0 0 0;
  background: #f8f8f8;
  color: #5c5c5c;
  font-size: 14px;
  font-family: 'Meiryo','メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Verdana,'ＭＳ Ｐゴシック',sans-serif;
  font-weight: normal;
  letter-spacing: .04em;
  line-height: 1;
}
#containar {
  margin: 0 auto;
}
section.smbc-logo {
	border-bottom: 10px solid #C6D80E;
	height: 75px;
	background-color: #004831;
	width: 100%
}
#SMBC {
  position: relative;
  margin: 0 auto;
  width: 960px
}
#SMBC img {
 margin-top: 10px;
 width: 55px
}
#SMBC h1 {
 color: #FFFFFF;
 width: 200px;
 font-size: 40px;
 position: absolute;
 top: 20px;
 left: 50px;
}
#SMBC p {
 color: #FFFFFF;
 width: 200px;
 font-size: 20px;
 position: absolute;
 top: 10px;
 left: 850px;
}
section.customer-link {
	width: 100%;
	height: 40px;
	background-color: #EBEBEB;
}
.customer {
	width: 960px;
	margin: 0 auto;
}
.customer ul li {
	float: left;
	margin: 0 0 0 3%;
	list-style: none;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height: 26px;
}
.customer ul li:nth-of-type(1) {
	padding: 15px 20px 0 20px;
}
.customer ul li:nth-of-type(2) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(3) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(4) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(5) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer ul li:nth-of-type(6) {
	border-left: none;
	padding: 15px 20px 0 0;
}
.customer {
	display: block;
	content: "";
	clear: both;
}
section.mitui-logo {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
section.mitui-logo h2,p,img,input {
	float: left;
	margin-top: 20px;
}
section.mitui-logo h2.mitui {
	font-size: 30px;
	font-weight: bold;
	color: #1A7300;
}
section.mitui-logo input {
	margin: 15px 0 0 25%;
	height: 35px;
	border-radius: 30px;
}
section.mitui-logo img.serch {
	position: absolute;
	top: 7px;
	left: 60%;
}
section.mitui-logo img.language {
	border-left: 1px solid #00FF00;
	border-right: 1px solid #00FF00;
	margin: 25px 0 0 10px;
	padding: 0 10px 0 10px;
	height: 25px;
}
section.mitui-logo p.global-site {
	margin: 27px 0 0 15px;
	padding: 5px 10px 0 0;
	border-right: 1px solid #00FF00;
	height: 20px;
}
section.mitui-logo p.letter {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.small {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.middle {
	margin: 32px 0 0 10px;
}
section.mitui-logo p.big {
	margin: 32px 0 30px 10px;
}
section.mitui-logo {
	display: block;
	content: "";
	clear: both;
}
section.service-link {
	width: 100%;
}
.service {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #A0C81E;
	border-bottom: 10px solid #508827;
}
.service ul {
	width: 960px;
	margin: 0 auto;
}
.service ul li a img{
	float: left;
	margin: 0px 0 0 10%;
}
.service ul li {
	float: left;
	list-style: none;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	height: 35px;
	margin-left: 14px;
}
.service ul li:nth-of-type(1) {
	padding: 15px 20px 0 20px;
	margin: 0 0 0 30px;
}
.service ul li:nth-of-type(2) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(3) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(4) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(5) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service ul li:nth-of-type(6) {
	border-left: none;
	padding: 15px 30px 0 30px;
}
.service {
	display: block;
	content: "";
	clear: both;
}
section.urgent-notice {
	width: 960px;
	margin: 0 auto;
}
.urgent-notice dl dt img,.urgent-notice dl dd.urgent-notice-news {
   float: left;
}
.urgent-notice dl dt img {
   margin: 20px 0 0 40px;
}
.urgent-notice dl dd:nth-of-type(1) {
	float: left;
	width: 800px;
	margin: 20px 0 0 10px;
	color: #D12318;
	font-weight: bold;
	font-size: 20px;
}
.urgent-notice dl dd:nth-of-type(2) {
	float: left;
	width: 800px;
	margin: 20px 0 0 67px;
	color: #D12318;
	font-size: 16px;
}
.urgent-notice dl dd:nth-of-type(3) {
	float: left;
	width: 800px;
	margin: 20px 0 0 67px;
	color: #D12318;
	font-size: 16px;
}
.urgent-notice {
	display: block;
	content: "";
	clear: both;
}
section.top-images {
	width: 100%;
	margin: 150px 0 0 0;
}
#main-image {
	width: 100%;
	margin: 0 auto;
}
section.service-hamberger {
	margin: 0 auto;
	position: relative;
}
#login-hamberger-menu p.login {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin: 20px 0 10px 0;
	background-color: #F27329;
	text-align: center;
}
#login-hamberger-menu p.acount-opening {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin: 10px 0 10px 0;
	background-color: #004833;
	text-align: center;
}
#login-hamberger-menu p.login-with-the-app {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 10px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.1.png");
	background-repeat: no-repeat;
	background-position: 10px;
	text-align: center;
	border: 1px solid #000;
}
#login-hamberger-menu p.cash-card-balance-inquiry {
	width: 240px;
	height: 30px;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
#various-procedures-hamberger-menu {
	position: relative;
}
#various-procedures-hamberger-menu .procedure p {
	float: left;
	font-size: 12px;
}
#various-procedures-hamberger-menu .procedure p.store-atm {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.2.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
}
#various-procedures-hamberger-menu .procedure p.book-a-visit {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.3.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 35px;
}
#various-procedures-hamberger-menu .procedure p.various-procedures {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.4.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 35px;
}
#various-procedures-hamberger-menu {
	display: block;
	content: "";
	clear: both;
}
#various-procedures-hamberger-menu .things-about-money {
	position: absolute;
	top: 80px;
}
#various-procedures-hamberger-menu .things-about-money p {
	float: left;
	font-size: 12px;
}
#various-procedures-hamberger-menu .things-about-money p.commission {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.5.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 10px;
}
#various-procedures-hamberger-menu .things-about-money p.interest-rate-forex {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.6.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 30px;
}
#various-procedures-hamberger-menu .things-about-money p.faq {
	height: 50px;
	background-image: url("../img/PNG/index.html-png/index-html-service-hamberger/service-hamberger-No.7.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 45px;
	margin-left: 15px;
}
#various-procedures-hamberger-menu {
	display: block;
	content: "";
	clear: both;
}
.hamberger-content {
	width: 280px;
	height: 460px;
	padding: 5px 0 0 20px;
	background-color: #FFF;
	position: absolute;
	top: -502px;
	left: 59.8%;
}
#login-hamberger-menu {
	margin-left: 15px;
}
section.past-news {
	width: 220px;
	text-align: center;
	margin: 50px auto 150px auto;
}
section.goods-services {
	width: 100%;
	height: 350px;
	background-color: #EBEBEB;
}
.card-related-service {
	width: 1200px;
	margin: 0 auto;
}
.card-related-service dt {
	text-align: center;
	margin: 50px 0 50px 0;
	padding-top: 40px;
}
.card-related-service dd {
    float: left;
	margin: 0 5px 5px 0;
}
.card-related-service dd:nth-of-type(1) {
	width: 140px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.1.png");
	background-repeat: no-repeat;
	background-position: 70px 20px;
	padding: 100px 0 0 30px;
	margin-left: 75px;
}
.card-related-service dd:nth-of-type(2) {
	width: 135px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.2.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 35px;
}
.card-related-service dd:nth-of-type(3) {
	width: 140px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.3.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 30px;
}
.card-related-service dd:nth-of-type(4) {
	width: 115px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.4.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 55px;
}
.card-related-service dd:nth-of-type(5) {
	width: 115px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.5.png");
	background-repeat: no-repeat;
	background-position: 60px 20px;
	padding: 100px 0 0 55px;
}
.card-related-service dd:nth-of-type(6) {
	width: 120px;
	height: 30px;
	background-color: #FFF;
	background-image: url("../img/PNG/index.html-png/index-html-goods-services/service-link-No.6.png");
	background-repeat: no-repeat;
	background-position: 55px 20px;
	padding: 100px 0 0 50px;
}
.card-related-service dd:nth-of-type(7) {
	float: left;
	width: 520px;
	height: 40px;
	margin: 0 0 0 75px;
	padding-top: 20px;
	text-align: center;
	background-color: #FFF;
}
.card-related-service dd:nth-of-type(8) {
	float: right;
	width: 520px;
	height: 40px;
	margin: 0 80px 0 0;
	padding-top: 20px;
	text-align: center;
	background-color: #FFF;
}
.card-related-service dd:nth-of-type(9) {
	width: 1055px;
	height: 40px;
	margin: 20px 0 50px 65px;
	text-align: center;
}
.card-related-service {
	display: block;
	content: "";
	clear: both;
}
section.future-money-guide {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.title {
	width: 100%;
}
.title h3 {
	width: 460px;
	margin: 0 auto;
}
.overview {
	width: 1050px;
	height: 420px;
	background-color: #F0FFD1;
	position: absolute;
	top: 180px;
	left: 75px;
}
dl.student-campus-life {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 50px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.student-campus-life dt {
	width: 50px;
}
dl.student-campus-life dt img {
	padding-right: 10px;
}
dl.student-campus-life dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.student-campus-life dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.employment-career-life {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.employment-career-life dt {
	width: 50px;
}
dl.employment-career-life dt img {
	padding-right: 10px;
}
dl.employment-career-life dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.employment-career-life dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.marriage-new-life {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.marriage-new-life dt {
	width: 50px;
}
dl.marriage-new-life dt img {
	padding-right: 10px;
}
dl.marriage-new-life dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.marriage-new-life dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.child-birth {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 50px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.child-birth dt {
	width: 50px;
}
dl.child-birth dt img {
	padding-right: 10px;
}
dl.child-birth dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.child-birth dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.buying-a-house {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.buying-a-house dt {
	width: 50px;
}
dl.buying-a-house dt img {
	padding-right: 10px;
}
dl.buying-a-house dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.buying-a-house dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.nursing {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.nursing dt {
	width: 50px;
}
dl.nursing dt img {
	padding-right: 10px;
}
dl.nursing dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.nursing dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
dl.retirement-second-life {
	width: 310px;
	height: 100px;
	float: left;
	margin: 30px 0 0 50px;
	padding-left: 10px;
	background-color: #FFF;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.retirement-second-life dt {
	width: 50px;
}
dl.retirement-second-life dt img {
	padding-right: 10px;
}
dl.retirement-second-life dd:nth-of-type(1) {
	width: 300px;
	margin: 30px 0 0 0;
}
dl.retirement-second-life dd:nth-of-type(2) {
	width: 300px;
	margin: 5px 0 0 0;
}
.overview {
	display: block;
	content: "";
	clear: both;
}
section.user-service {
	display: block;
	content: "";
	clear: both;
	width: 400px;
	height: 700px;
	margin: 600px 0 0 415px;
}
dl.various-procedures {
	width: 150px;
	height: 144px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.various-procedures dt {
	width: 52px;
	margin: 0 auto;
}
dl.various-procedures dd:nth-of-type(1) {
	width: 100px;
	margin: 80px auto 0 auto;
}
dl.various-procedures dd:nth-of-type(2) {
	font-size: 12px;
	width: 170px;
	margin: 5px auto 0 auto;
}
dl.fee-list {
	width: 150px;
	height: 144px;
	float: left;
	margin: 30px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.fee-list dt {
	width: 52px;
	margin: 0 auto;
}
dl.fee-list dd {
	width: 85px;
	margin: 100px auto 0 auto;
}
section.user-service .clear-flex-1 {
	display: block;
	content: "";
	clear: both;
}
dl.store-atm {
	width: 150px;
	height: 144px;
	float: left;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.store-atm dt {
	width: 62px;
	margin: 0 auto;
}
dl.store-atm dd {
	width: 80px;
	margin: 100px auto 0 auto;
}
dl.book-a-visit-or-seminar {
	width: 150px;
	height: 144px;
	float: left;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.book-a-visit-or-seminar dt {
	width: 60px;
	margin: 0 auto;
}
dl.book-a-visit-or-seminar dd {
	width: 120px;
	margin: 100px auto 0 auto;
}
section.user-service .clear-flex-2 {
	display: block;
	content: "";
	clear: both;
}
dl.document-request {
	width: 150px;
	height: 144px;
	float: left;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.document-request dt {
	width: 60px;
	margin: 0 auto;
}
dl.document-request dd {
	width: 70px;
	margin: 100px auto 0 auto;
}
dl.faq {
	width: 150px;
	height: 144px;
	float: left;
	margin: 10px 0 0 10px;
	padding-left: 10px;
	background-color: #EDF3B2;
	border: solid 1px #000;
	box-sizing: border-box;
}
dl.faq dt {
	width: 60px;
	margin: 0 auto;
}
dl.faq dd {
	width: 110px;
	margin: 100px auto 0 auto;
}
section.user-service {
	display: block;
	content: "";
	clear: both;
}
section.column{
	width: 660px;
	margin: 0 auto;
	position: relative;
}
section.column .news {
	position: absolute;
	top: -600px;
	left: 19%;
}
section.column .txt-1 {
	position: absolute;
	top: -70px;
}
section.column .txt-1 p.selected {
	background-color: #004831;
}
section.column .news .news-release-1 dt {
	float: left;
}
section.column .news .news-release-1 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: -7px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
	color: #FFF;
}
section.column .news .news-release-1 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .opened-chuorinkan-branch dt {
	float: left;
	margin-top: 30px;
}
section.column .news .opened-chuorinkan-branch dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
	color: #FFF;
}
section.column .news .opened-chuorinkan-branch dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .opened-ooimachi-branch dt {
	float: left;
	margin-top: 30px;
}
section.column .news .opened-ooimachi-branch dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
	color: #FFF;
}
section.column .news .opened-ooimachi-branch dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .mega-big-campain dt {
	float: left;
	margin-top: 30px;
}
section.column .news .mega-big-campain dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	text-align: center;
	color: #FFF;
}
section.column .news .mega-big-campain dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .goods-services dt {
	float: left;
	margin-top: 30px;
}
section.column .news .goods-services dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	text-align: center;
	color: #FFF;
}
section.column .news .goods-services dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .net dt {
	float: left;
	margin-top: 30px;
}
section.column .news .net dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #FCD866;
	text-align: center;
	color: #FFF;
}
section.column .news .net dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .sumitomo-mitsui-financial-group dt {
	float: left;
	margin-top: 30px;
}
section.column .news .sumitomo-mitsui-financial-group dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
	color: #FFF;
}
section.column .news .sumitomo-mitsui-financial-group dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .news-release-2 dt {
	float: left;
	margin-top: 30px;
}
section.column .news .news-release-2 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
	color: #FFF;
}
section.column .news .news-release-2 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .news .news-release-3 dt {
	float: left;
	margin-top: 30px;
}
section.column .news .news-release-3 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 10px;
	padding: 7px 10px 0 10px;
	background-color: #8372A6;
    color: #FFF;
}
section.column .news .news-release-3 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .goods-services {
	position: absolute;
	top: -600px;
	left: 19%;
}
section.column .txt-3 {
	position: absolute;
	top: -70px;
	left: 150px;
}
section.column .txt-3 p.selected {
	background-color: #004831;
}
section.column .goods-services-1 dt {
	float: left;
}
section.column .goods-services-1 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: -7px 0 0 12px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	color: #FFF;
	text-align: center;
}
section.column .goods-services-1 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .goods-services-2 dt {
	float: left;
	margin-top: 30px;
}
section.column .goods-services-2 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 20px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	color: #FFF;
	text-align: center;
}
section.column .goods-services-2 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .goods-services-3 dt {
	float: left;
	margin-top: 30px;
}
section.column .goods-services-3 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 11px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	color: #FFF;
	text-align: center;
}
section.column .goods-services-3 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .goods-services-4 dt {
	float: left;
	margin-top: 30px;
}
section.column .goods-services-4 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 20px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	text-align: center;
	color: #FFF;
}
section.column .goods-services-4 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .goods-services-5 dt {
	float: left;
	margin-top: 30px;
}
section.column .goods-services-5 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 11px;
	padding: 7px 10px 0 10px;
	background-color: #66BEE8;
	text-align: center;
	color: #FFF;
}
section.column .goods-services-5 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .txt-4 {
	float: right;
}
section.column .txt-4 p:nth-of-type(1) {
	margin-right: 140px;
}
section.column .txt-4 p:nth-of-type(2) {
	margin-right: 30px;
}
section.column .campain {
	position: absolute;
	top: -600px;
	left: 19%;
}
section.column .txt-5 {
	position: absolute;
	top: -70px;
	left: 300px;
}
section.column .txt-5 p.selected {
	background-color: #004831;
}
section.column .campain-1 dt {
	float: left;
}
section.column .campain-1 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: -7px 0 0 12px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	color: #FFF;
	text-align: center;
}
section.column .campain-1 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .campain-2 dt {
	float: left;
	margin-top: 30px;
}
section.column .campain-2 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 12px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	color: #FFF;
	text-align: center;
}
section.column .campain-2 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .campain-3 dt {
	float: left;
	margin-top: 30px;
}
section.column .campain-3 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 12px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	color: #FFF;
	text-align: center;
}
section.column .campain-3 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .campain-4 dt {
	float: left;
	margin-top: 30px;
}
section.column .campain-4 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 12px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	text-align: center;
	color: #FFF;
}
section.column .campain-4 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .campain-5 dt {
	float: left;
	margin-top: 30px;
}
section.column .campain-5 dd:nth-of-type(1) {
	width: 118px;
	float: left;
	height: 20px;
	margin: 23px 0 0 20px;
	padding: 7px 10px 0 10px;
	background-color: #E88EB2;
	text-align: center;
	color: #FFF;
}
section.column .campain-5 dd:nth-of-type(2) {
	width: 460px;
	font-size: 14px;
	float: left;
	margin: -25px 0 0 265px;
}
section.column .txt-6 {
	float: right;
}
section.column .txt-6 p:nth-of-type(1) {
	margin-right: 140px;
}
section.column .txt-6 p:nth-of-type(2) {
	margin-right: 30px;
}