@charset "utf-8";
/* CSS Document */
@media(max-width:767px){
section.title h1 {
	width: 35%;
	margin: 50px auto 0 auto;
}
	
/* ハンバーガーメニュー　*/	
	
span.nav-toggle {
    display: block;
	margin-top: -55px;
    position: relative;
    height: 1.5rem;
}
span.nav-toggle i {
    display: block;
    width: 10%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
	margin-left: 90%;
}
span.nav-toggle i:nth-child(1) {
    top: 0;
}
span.nav-toggle i:nth-child(2) {
    top: 10px;
    bottom: 0;
}
span.nav-toggle i:nth-child(3) {
    bottom: 0;
}
span.nav-toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
span.nav-toggle.show i:nth-child(2) {
    opacity: 0;
}
span.nav-toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
section.responsive-nav {
	width: 93.51%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	z-index: 99;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
	-webkit-overflow-scrolling: touch;
}
section.responsive-nav.show {
	width: 100%;
	opacity: 1;
    visibility: visible;
	z-index: 1;
	background-color: #E2F98B;
	margin-top: 40px;
}
	
/* 上段UIドロップダウンメニュー レスポンシブ版　*/	
	
section#main-link {
	width: 100%;
	margin: 0 auto;
}
	
/* 上段ドロップダウンメニュー位置設定コード　レスポンシブ版 */	
	
section#main-link ul.business li {
	width: 100%;
	list-style-type: none;
}
ul.business li {
	position: relative;
}
html ul.business li {
	display: inline;
	zoom: 1.0;
}
* + html ul.business li {
	display: inline;
	zoom: 1.0;
}
ul.business li a{
	display: block;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
	position: relative;
	font-size: 14px;
}
ul.business li a:hover {
	color: #717171;
}
* html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* html ul.sub-3 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-3 {
  zoom: 1;
  position: relative;
}
ul.business {
  width: 90%;
  zoom: 1;
  margin: -20px 0 0 5%;
  position: absolute;
  left: 0;
}
ul.business li.corporate-information {
  width: 100%;
  float: left;
  margin: 50px 0 450px 0;
}
ul.business li.business-introduction {
    width: 100%;
	float: left;
    margin: 600px 0 0 -13%;
}
ul.business li.news {
	width: 100%;
	float: left;
    margin: 1210px 0 0 -27%;
}
ul.business li.sustainability {
	width: 100%;
	float: left;
    margin: 1950px 0 0 -37%;
}
ul.business li.investor-information {
	width: 100%;
	float: left;
    margin: 2890px 0 600px -53%;
}
ul.business li.employment-information {
	width: 100%;
	float: left;
    margin: 3730px 0 0 -67%;
}
ul.business li.future {
	width: 100%;
	float: left;
    margin: 4270px 0 0 -78%;
	padding-bottom: 100px;
}
	
/* ドロップダウンメニューグループ1 */	
	
div.business-group-1 {
	display: inline;
	width: 100%;
	height: 490px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin-left: -5%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
	margin-top: 20px;
}
ul.business div.business-group-1 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.1.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 80px 0 0 35%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ1 リンク*/	
	
ul.business div.business-group-1 ul.sub-1  {
	width: 45%;
	float: left;
	display: inline;
	margin: -7px 0 0 5%;
}
ul.business div.business-group-1 ul.sub-2 {
	width: 35%;
	float: left;
	display: inline;
	margin: -7px 0 0 3%;
}
ul.business div.business-group-1 ul.sub-3 {
	width: 50%;
	float: left;
	display: inline;
	margin: 170px 0 0 -83%;
}
	
/* ドロップダウンメニューグループ2 */	
	
div.business-group-2 {
	display: inline;
	width: 100%;
	height: 550px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin: 20px 0 0 -5%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
}
ul.business div.business-group-2 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.2.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 80px 0 0 35%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ2 リンク */	
	
ul.business div.business-group-2 ul.sub-1 {
	width: 90%;
	height: 90px;
	float: left;
	display: inline;
	margin: -7px 0 0 5%;
}
	
/* ドロップダウンメニューグループ3 */	
	
div.business-group-3 {
	display: inline;
	width: 100%;
	height: 680px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin: 20px 0 0 -3%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
}
ul.business div.business-group-3 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.3.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 70px 0 0 35%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ3 リンク */	
	
ul.business div.business-group-3 ul.sub-1 {
	width: 90%;
	float: left;
	display: inline;
	margin: -7px 0 0 5%;
}
ul.business div.business-group-3 ul.sub-2 {
	width: 90%;
	height: 60px;
	float: left;
	display: inline;
	margin: 130px 0 0 5%;
}
	
/* ドロップダウンメニューグループ4 */	
	
div.business-group-4 {
	display: inline;
	width: 100%;
	height: 880px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin: 20px 0 0 -4%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
	color: #FFF;
}
ul.business div.business-group-4 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.4.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 80px 0 0 30%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ4 リンク */	
	
ul.business div.business-group-4 ul.sub-1 {
	width: 90%;
	float: left;
	display: inline;
	height: 30px;
	margin: -7px 0 0 5%;
}
ul.business div.business-group-4 ul.sub-2 {
	width: 90%;
	float: left;
	display: inline;
	height: 35px;
	margin: 150px 0 0 5%;
}
ul.business div.business-group-4 ul.sub-3 {
	width: 90%;
	float: left;
	display: inline;
	height: 30px;
	margin: 230px 0 0 5%;
}
	
/* ドロップダウンメニューグループ5 */	
	
div.business-group-5 {
	display: inline;
	width: 100%;
	height: 770px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin: 20px 0 0 -6%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
	color: #FFF;
}
ul.business div.business-group-5 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.5.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 80px 0 0 32%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ5 リンク */	
	
ul.business div.business-group-5 ul.sub-1 {
	width: 90%;
	float: left;
	display: inline;
	height: 30px;
	margin: -7px 0 0 5%;
}
ul.business div.business-group-5 ul.sub-2 {
	width: 90%;
	float: left;
	display: inline;
	height: 70px;
	margin: 200px 0 0 5%;
}
	
/* ドロップダウンメニューグループ6 */	
	
div.business-group-6 {
	display: inline;
	width: 100%;
	height: 480px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	margin: 20px 0 0 -5%;
	position: absolute;
	left: 0;
	z-index: 1;
	overflow: hidden;
}
ul.business div.business-group-6 p {
	width: 100%;
	display: inline-block;
	background: url("../img/jpg/business-link/No.6.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	text-align: left;
	margin: 10px 0 0 5%;
	padding: 70px 0 0 35%;
	color: #FFF;
	font-weight: 1000;
	box-sizing: border-box;
}
	
/* ドロップダウンメニューグループ6 リンク */	
	
ul.business div.business-group-6 ul.sub-1 {
	width: 90%;
	float: left;
	display: inline;
	height: 30px;
	margin: -7px 0 0 5%;
}
ul.business div.business-group-6 ul.sub-2 {
	width: 90%;
	float: left;
	display: inline;
	height: 30px;
	margin: 90px 0 0 5%;

}	

/* メインイメージ画像 */	
	
section.main-image {
	width: 100%;
	overflow: hidden;
	margin-top: 100px;
}
section.news-content-area-1 {
	width: 100%;
	margin: 100px auto 0 auto;
}
	
/* ニュース及びお知らせ */	
	
div.content-1 {
	width: 100%;
}
dl.manila-railway-philippines {
	float: none;
	width: 95%;
	border-top: 2px dotted #666;
	border-bottom: 2px dotted #666;
	margin-left: 2%;
	padding: 20px 0 20px 0;
}
dl.manila-railway-philippines dt {
	float: none;
}
dl.manila-railway-philippines dd:nth-of-type(1) {
   float: none;
   margin: 5px 0 0 0;
}
dl.manila-railway-philippines dd:nth-of-type(2) {
   float: none;
   margin: 5px 0 0 0;
}
div.content-2 {
   width: 100%;
}
dl.friend {
	float: none;
	width: 95%;
	border-bottom: 2px dotted #666;
	margin-left: 2%;
	padding: 0 0 20px 0;
}
dl.friend dt {
	float: none;
}
dl.friend dd:nth-of-type(1) {
    float: none;
	margin: 5px 0 0 0;
}
dl.friend dd:nth-of-type(2) {
    float: none;
	margin: 5px 0 0 0;
}
div.content-3 {
	width: 100%;
}
dl.personnel-changes-at-the-supervisor-level-1 {
	float: none;
	width: 95%;
	border-bottom: 2px dotted #666;
	margin-left: 2%;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-1 dt {
	float: none;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(1) {
   float: none;
   margin: 5px 0 0 0;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(2) {
   float: none;
   margin: 5px 0 0 0;
}
div.content-4 {
	width: 100%;
}
dl.country-exposure {
	float: none;
	width: 95%;
	border-bottom: 2px dotted #666;
	margin-left: 2%;
	padding: 0 0 20px 0;
}
dl.country-exposure dt {
	float: none;
}
dl.country-exposure dd:nth-of-type(1) {
   float: none;
   margin: 5px 0 0 0;
}
dl.country-exposure dd:nth-of-type(2) {
   float: none;
   margin: 5px 0 0 0;
}
div.content-5 {
	width: 100%;
}
dl.personnel-changes-at-the-supervisor-level-2 {
	float: none;
	width: 95%;
	border-bottom: 2px dotted #666;
	margin-left: 2%;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-2 dt {
	float: none;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(1) {
   float: none;
   margin: 5px 0 0 0;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(2) {
   float: none;
   margin: 5px 0 0 0;
}
section.news-content-area-1::after {
	content: "";
	display: block;
	clear: both;
}
section.news-content-area-2 {
	width: 100%;
	margin: 50px auto 0 auto;
}
section.news-content-area-2 div.content-1 {
	
}
section.news-content-area-2 div.content-1 p:nth-of-type(1) {
   margin-left: 0px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(2) {
	margin: 10px 0 0 0;
}
section.news-content-area-2 div.content-1 p:nth-of-type(3) {
	margin: 10px 0 0 0;
}
section.news-content-area-2 div.content-1 p:nth-of-type(4) {
	float: left;
	margin: 10px 0 0 10px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(5) {
	float: left;
	margin: 10px 0 0 50px;
}
	
/* 事業紹介 */	
	
section.business-details {
	width: 100%;
	display: flex;
	flex-direction: column;
	color: #66FF00;
}
div.business-introduction-1 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 50px auto 0 auto;
	font-size: 15px;
}
div.business-introduction-1 p:nth-of-type(2) {
	width: 90%;
	display: inline-block;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 15px;
}
div.business-introduction-1 p:nth-of-type(3) {
	width: 90%;
	display: inline-block;
	margin: 0 0 0 5%;
	padding-top: 17px;
	font-size: 20px;
}
div.business-introduction-2 {
	width: 100%;
	color: #66FF00;
	backgroud-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
}
div.business-introduction-2 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 250px 0 0 5%;
	font-size: 25px;
}
div.business-introduction-2 p:nth-of-type(2) {
	width: 70%;
	display: inline-block;
	margin: 3% 0 0 15%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
div.business-introduction-3 {
	width: 100%;
	color: #66FF00;
	backgroud-size: 100%;
	display: inline-block;
}
div.business-introduction-3 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 120px 0 0 5%;
	font-size: 25px;
}
div.business-introduction-3 p:nth-of-type(2) {
	width: 50%;
	display: inline-block;
	margin: 3% 0 0 25%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
div.business-introduction-4 {
	width: 100%;
	color: #66FF00;
	backgroud-size: 100%;
	display: inline-block;
}
div.business-introduction-4 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 120px 0 0 5%;
	font-size: 25px;
}
div.business-introduction-4 p:nth-of-type(2) {
	width: 50%;
	display: inline-block;
	margin: 3% 0 0 25%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
div.business-introduction-5 {
	width: 100%;
	color: #66FF00;
	backgroud-size: 100%;
	display: inline-block;
}
div.business-introduction-5 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 120px auto 0 5%;
	font-size: 20px;
}
div.business-introduction-5 p:nth-of-type(2) {
	width: 25%;
	display: inline-block;
	margin: 3% 0 0 35%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
div.business-introduction-6 {
	float: left;
	width: 100%;
	color: #66FF00;
	backgroud-size: 100%;
	display: inline-block;
}
div.business-introduction-6 p:nth-of-type(1) {
	width: 90%;
	display: inline-block;
	margin: 120px auto 0 5%;
	font-size: 20px;
}
div.business-introduction-6 p:nth-of-type(2) {
	width: 40%;
	display: inline-block;
	margin: 3% 0 0 30%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
	
/*　事業紹介 事業分野 */	
	
section.business-field {
	margin-top: 0;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: column;
}
section.business-field dl dt {
	width: 100%;
	margin: 30px auto 70px auto;
}
section.business-field dd {
	margin: 30px 0 0 0;
}
section.business-field dd:nth-of-type(1) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.1.png");
	background-repeat: no-repeat;
	margin-left: 10%;
	padding: 80px 0 0 12px;
}
section.business-field dd:nth-of-type(2) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.2.png");
	background-repeat: no-repeat;
	background-position: 18px 0;
	margin-left: 0;
	padding: 75px 0 0 12px;
}
section.business-field dd:nth-of-type(3) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.3.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: 10%;
	padding: 75px 0 0 5px;
}
section.business-field dd:nth-of-type(4) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.4.png");
	background-repeat: no-repeat;
	background-position: 30% 0px;
	margin-left: 0;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(5) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.5.png");
	background-repeat: no-repeat;
	background-position: 45px 0px;
	margin-left: 0;
	padding: 80px 0 0 10%;
}
section.business-field dd:nth-of-type(6) {
	float: left;
	width: 40%;
	background: url("../img/png/business-field/icon-No.6.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	margin-left: 5%;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(7) {
	width: 85%;
	margin: 750px 0 0 5%;
}
section.business-field dd:nth-of-type(8) {
	width: 90%;
	margin: 20px 0 0 5%;
}
section.business-field dd:nth-of-type(9) {
	width: 90%;
	margin: 20px 0 0 5%;
}
section.business-field dd:nth-of-type(10) {
	width: 160px;
	height: 45px;
	margin: 30px auto 0 auto;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
	
/* 何でだか商事グループ 企業情報 */	
	
section.what-group {
	width: 100%;
	display: flex;
	flex-direction: column;
}
section.what-group div.what-group-1 {
	margin-top: 100px;
	color: #66FF00;
	display: flex;
	flex-direction: column;
	justify-content: center;
	backgroud-size: 100%;
	
}
section.what-group div.what-group-1 dt {
	width: 90%;
	margin: -120px auto 0 5%;
	display: inline-block;
	font-size: 10px;
	color: #66FF00;
}
section.what-group div.what-group-1 dd:nth-of-type(1) {
	width: 90%;
	margin: 0 0 0 5%;
	display: inline-block;
	font-size: 12px;
	color: #66FF00;
}
section.what-group div.what-group-1 dd:nth-of-type(2) {
	width: 90%;
	margin: 0 0 0 5%;
	display: inline-block;
	white-space: pre;
	font-size: 12px;
	color: #66FF00;
	padding-top: 20px;
}
section.what-group div.what-group-2 {
	float: none;
	width: 100%;
	color: #000;
	background-repeat: no-repeat;
	display: inline-block;
}
section.what-group div.what-group-2 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 30px;
	color: #66FF00;
}
section.what-group div.what-group-3 {
	float: none;
	width: 100%;
	backgroud-size: 100%;
	display: inline-block;
}
section.what-group div.what-group-3 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 30px;
	color: #66FF00;
}
section.what-group div.what-group-4 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.what-group div.what-group-4 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 30px;
	color: #66FF00;
}
section.what-group div.what-group-5 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.what-group div.what-group-5 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 30px;
	color: #66FF00;
}
section.what-group::after {
	content: "";
	display: block;
	clear: both;
}
section.what-group-data {
	width: 100%;
	margin: 0 auto;
}
section.what-group-data div.what-group-data-1 {
	width: 100%;
	margin: 50px auto 50px auto;
	padding-bottom: 10px;
	font-size: 34px;
	font-weight: 1000;
	border-bottom: 7px solid #000;
}
section.what-group-data div.what-group-data-2 {
	width: 95%;
	float: none;
	margin: 0 0 0 5%;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(1) {
	width: 90%;
	margin-left: 0;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) {
	width: 90%;
	margin: 10px 0 0 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-3 {
	width: 95%;
	float: none;
	margin: 10px 0 0 5%;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(1) {
	width: 90%;
	margin-left: 0;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(2) {
	width: 90%;
	margin: 10px 0 0 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 {
	width: 95%;
	float: none;
	margin: 10px 0 0 5%;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(1) {
	width: 90%;
	margin-left: 0;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) {
	width: 90%;
	margin: 10px 0 0 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-5 {
	width: 95%;
	float: none;
	margin: 10px 0 0 5%;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(1) {
	width: 90%;
	margin-left: 0;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) {
	width: 90%;
	margin: 10px 0 0 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-6 {
	width: 100%;
	float: none;
}
section.what-group-data div.what-group-data-6 p {
	width: 50%;
	box-sizing: border-box;
	font-weight: bold;
	margin: 30px auto 0 auto;
}
section.what-group-data div.what-group-data-7 p {
	width: 160px;
	margin: 70px 0 50px 25%;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.what-group-data::after {
	content: "";
	display: block;
	clear: both;
}

/* サステナビリティ */

section.company-growth {
	width: 100%;
}
section.company-growth div.company-growth-1 {
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.company-growth div.company-growth-1 dt {
	width: 90%;
	margin: 250px 0 0 5%;
	display: inline-block;
	font-size: 10px;
}
section.company-growth div.company-growth-1 dd:nth-of-type(1) {
	width: 90%;
	margin: 0 0 0 5%;
	display: inline-block;
	font-size: 12px;
}
section.company-growth div.company-growth-1 dd:nth-of-type(2) {
	width: 90%;
	margin: 0 0 0 5%;
	display: inline-block;
	white-space: pre;
	font-size: 12px;
}
section.company-growth div.company-growth-2 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.company-growth div.company-growth-2 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 25px;
}
section.company-growth div.company-growth-3 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.company-growth div.company-growth-3 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 25px;
}
section.company-growth div.company-growth-4 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.company-growth div.company-growth-4 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 22px;
}
section.company-growth div.company-growth-5 {
	float: none;
	width: 100%;
	color: #66FF00;
	background-repeat: no-repeat;
	display: inline-block;
}
section.company-growth div.company-growth-5 p {
	width: 90%;
	margin: 150px 0 0 5%;
	display: inline-block;
	font-size: 25px;
}
section.company-growth::after {
	content: "";
	display: block;
	clear: both;
}
section.company-growth-message {
	width: 90%;
	margin: 0 0 0 5%;
}
section.company-growth-message dl dt {
	width: 100%;
	margin: 50px auto 50px auto;
	padding: 10px 0 10px 0;
	border-bottom: 7px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-size: 34px;
	font-weight: 1000;
}
section.company-growth-message dl dd:nth-of-type(1) img {
	width: 90%;
	float: none;
	margin-left: 5%;
}
section.company-growth-message dl dd:nth-of-type(2) {
	float: none;
	width: 90%;
	margin: 15px 0 0 5%;
}
section.company-growth-message dl dd:nth-of-type(3) {
	float: none;
	width: 90%;
	margin: 20px 0 20px 5%;
}
section.company-growth-message dl dd:nth-of-type(4) {
	float: none;
	width: 90%;
	margin-left: 5%;
}
section.company-growth-message dl dd:nth-of-type(5) {
	float: none;
	width: 70%;
	height: 45px;
	margin: 50px 0 0 15%;
	padding: 15px 0 0 5px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}

/* フッター部分 */

section.footer-img {
	width: 100%;
	margin: 100px auto 0 auto;
}
section.footer-img div.footer-img-1 {
	float: none;
	width: 100%;
	background-repeat: no-repeat;
	display: inline-block;
}
section.footer-img div.footer-img-1 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	display: inline-block;
	color: #66FF00;
}
section.footer-img div.footer-img-1 p:nth-of-type(2){
	width: 70px;
    margin-left: 40%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	display: inline-block;
	color: #66FF00;
}
section.footer-img div.footer-img-2 {
	float: none;
	width: 100%;
	background-repeat: no-repeat;
	display: inline-block;
}
section.footer-img div.footer-img-2 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	display: inline-block;
	color: #66FF00;
}
section.footer-img div.footer-img-2 p:nth-of-type(2){
	width: 70px;
    margin-left: 40%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	display: inline-block;
	color: #66FF00;
}
section.footer-img div.footer-img-3 {
	float: none;
	width: 100%;
	background-repeat: no-repeat;
	display: inline-block;
}
section.footer-img div.footer-img-3 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	display: inline-block;
	color: #66FF00;
}
section.footer-img div.footer-img-3 p:nth-of-type(2){
	width: 130px;
    margin-left: 32%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	display: inline-block;
	color: #66FF00;
}

/* 最下段フッター部分 */

section.last-footer {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	background-color: #09F943;
}
div.what-trading-footer p {
	width: 50%;
	margin: 0 auto;
	padding: 15px 0 10px 0;
	white-space: pre-wrap;
}
}