@charset "utf-8";
/* CSS Document */
body {
	margin: 0 0 0 0;
}
div#container {
	margin: 0 auto;
}
section.title h1 {
	width: 200px;
	margin: 50px auto 0 auto;
}

/* 上段UIドロップダウンメニュー　*/

section#main-link {
	width: 100%;
	margin: 0 auto;
}

/* 上段ドロップダウンメニュー位置設定コード　*/

section#main-link ul.business li {
	list-style-type: none;
}
ul.business li {
	position: relative;
}
html ul.business li {
	display: inline;
	zoom: 1.0;
}
* + html ul.business li {
	display: inline;
	zoom: 1.0;
}
ul.business li a{
	display: block;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
	position: relative;
	font-size: 14px;
}
ul.business li a:hover {
	color: #717171;
}
* html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* html ul.sub-3 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-3 {
  zoom: 1;
  position: relative;
}
ul.business {
  zoom: 1;
  width: 1600px;
  margin: 50px auto 0 auto;
}
ul.business li.corporate-information {
  float: left;
  margin-left: 100px;
}
ul.business li.business-introduction {
  float: left;
  margin-left: 150px;
}
ul.business li.news {
  float: left;
  margin-left: 150px;
}
ul.business li.sustainability {
  float: left;
  margin-left: 150px;
}
ul.business li.investor-information {
  float: left;
  margin-left: 120px;
}
ul.business li.employment-information {
  float: left;
  margin-left: 120px;
}
ul.business li.future {
  float: left;
  margin: -7px 0 0 100px;
}

/* ドロップダウンメニューグループ1 */

div.business-group-1 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -260px;
	z-index: 1;
	margin-top: 0;
}
ul.business div.business-group-1 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.1.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ1 リンク*/

ul.business div.business-group-1 ul.sub-1  {
	float: left;
	display: none;
	height: 150px;
    margin: -300px 0 0 700px;
}
ul.business div.business-group-1 ul.sub-2 {
	float: left;
	display: none;
	height: 150px;
	margin: -300px 0 0 950px;
}
ul.business div.business-group-1 ul.sub-3 {
	float: left;
	display: none;
	height: 150px;
	margin: -300px 0 0 1150px;
}

/* ドロップダウンメニューグループ2 */

div.business-group-2 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -475px;
	z-index: 1;
	margin-top: 0;
}
ul.business div.business-group-2 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.2.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ2 リンク */

ul.business div.business-group-2 ul.sub-1 {
	float: left;
	display: none;
	height: 150px;
	margin: -300px 0 0 700px;
}

/* ドロップダウンメニューグループ3 */

div.business-group-3 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -688px;
	z-index: 1;
	margin-top: 0;
}
ul.business div.business-group-3 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.3.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ3 リンク */

ul.business div.business-group-3 ul.sub-1 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 700px;
}
ul.business div.business-group-3 ul.sub-2 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 950px;
}
ul.business div.business-group-3 ul.sub-2 li:nth-of-type(1) {
	color: #FFF;
}

/* ドロップダウンメニューグループ4 */

div.business-group-4 {
	width: 1917px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -902px;
	z-index: 1;
	margin-top: 0;
}
ul.business div.business-group-4 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.4.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ4 リンク */

ul.business div.business-group-4 ul.sub-1 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 700px;
}
ul.business div.business-group-4 ul.sub-2 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 950px;
}
ul.business div.business-group-4 ul.sub-2 li:nth-of-type(1){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-2 li:nth-of-type(5){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-3 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 1150px;
}
ul.business div.business-group-4 ul.sub-3 li:nth-of-type(1){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-3 li:nth-of-type(4){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-4 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 1350px;
}

/* ドロップダウンメニューグループ5 */

div.business-group-5 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -1150px;
	z-index: 1;
	margin-top: 0;
	color: #FFF;
}
ul.business div.business-group-5 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.5.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ5 リンク */

ul.business div.business-group-5 ul.sub-1 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 700px;
}
ul.business div.business-group-5 ul.sub-2 {
	float: left;
	display: none;
	height: 150px;
	 margin: -300px 0 0 950px;
}

/* ドロップダウンメニューグループ6 */

div.business-group-6 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -1350px;
	z-index: 1;
	margin-top: 0;
}
ul.business div.business-group-6 p {
	display: none;
	width: 400px;
	height: 200px;
	background: url("../img/jpg/business-link/No.6.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin: 50px 0 0 250px;
	padding-top: 100px;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ6 リンク */

ul.business div.business-group-6 ul.sub-1 {
	float: left;
	display: none;
	width: 550px;
	height: 150px;
	 margin: -300px 0 0 700px;
}
ul.business div.business-group-6 ul.sub-1 li:nth-of-type(1){
	float: left;
	display: none;
	width: 550px;
	height: 150px;
	 margin: -300px 0 0 700px;
}
ul.business div.business-group-6 ul.sub-2 {
	float: left;
	display: none;
	width: 550px;
	height: 150px;
	 margin: -300px 0 0 950px;
}
ul.business div.business-group-6 ul.sub-2 li:nth-of-type(1){
	float: left;
	display: none;
	width: 550px;
	height: 150px;
	 margin: -300px 0 0 700px;
}

/* ドロップダウンメニューグループ7 */

div.business-group-7 {
	width: 1920px;
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -10px;
	z-index: 1;
}
ul.business li.future a{
	color: #000;
}
ul.business::after {
	content: "";
	display: block;
	clear: both;
}

/* メインイメージ画像 */

section.main-image img {
	margin: 50px auto 0 auto;
}
section.news-content-area-1 {
	width: 1000px;
	margin: 100px auto 0 auto;
}

/* ニュース及びお知らせ */

div.content-1 {
	width: 1000px;
}
dl.manila-railway-philippines {
	float: left;
	width: 1000px;
	border-top: 2px dotted #666;
	border-bottom: 2px dotted #666;
	padding: 20px 0 20px 0;
}
dl.manila-railway-philippines dt {
	float: left;
}
dl.manila-railway-philippines dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.manila-railway-philippines dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
div.content-2 {
   width: 1000px;
}
dl.friend {
	float: left;
	width: 1000px;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.friend dt {
	float: left;
}
dl.friend dd:nth-of-type(1) {
    float: left;
	margin: 0 0 0 50px;
}
dl.friend dd:nth-of-type(2) {
    float: left;
	margin: 0 0 0 90px;
}
div.content-3 {
	width: 1000px;
}
dl.personnel-changes-at-the-supervisor-level-1 {
	float: left;
	width: 1000px;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-1 dt {
	float: left;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
div.content-4 {
	width: 1000px;
}
dl.country-exposure {
	float: left;
	width: 1000px;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.country-exposure dt {
	float: left;
}
dl.country-exposure dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.country-exposure dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 130px;
}
div.content-5 {
	width: 1000px;
}
dl.personnel-changes-at-the-supervisor-level-2 {
	float: left;
	width: 1000px;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-2 dt {
	float: left;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 57px;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
section.news-content-area-1::after {
	content: "";
	display: block;
	clear: both;
}
section.news-content-area-2 {
	width: 1000px;
	margin: 50px auto 0 auto;
}
section.news-content-area-2 div.content-1 {
	
}
section.news-content-area-2 div.content-1 p:nth-of-type(1) {
   margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(2) {
	margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(3) {
	margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(4) {
	float: left;
	margin-left: 10px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(5) {
	float: left;
	margin-left: 50px;
}
section.news-content-area-2 {
	content: "";
	display: block;
	clear: both;
}

/* 事業紹介 */

section.business-details {
	width: 1920px;
	margin: 0 auto;
}
div.business-introduction-1 {
	margin-top: 100px;
	color: #FFF;
	position: relative;
}
div.business-introduction-1 img {
	z-index: -1;
}
div.business-introduction-1 p:nth-of-type(1) {
	width: 1920px;
	text-align: center;
	margin: 0 auto;
	font-size: 30px;
	position: absolute;
	top: 250px;
}
div.business-introduction-1 p:nth-of-type(2) {
	width: 1920px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 50px;
	position: absolute;
	top: 300px;
	z-index: 1;
}
div.business-introduction-1 p:nth-of-type(3) {
	width: 1920px;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	font-size: 20px;
	position: absolute;
	top: 400px;
	z-index: 1;
}
div.business-introduction-2 {
	float: left;
	width: 960px;
	color: #FFF;
	position: relative;
}
div.business-introduction-2 img {
	z-index: -1;
}
div.business-introduction-2 p:nth-of-type(1) {
	width: 950px;
	text-align: center;
	margin: 0 auto;
	padding-top: 300px;
	font-size: 25px;
	position: absolute;
	top: -50px;
}
div.business-introduction-2 p:nth-of-type(2) {
	width: 330px;
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: absolute;
	top: 300px;
	left: 270px;
}
div.business-introduction-3 {
	float: left;
	width: 480px;
	color: #FFF;
	position: relative;
}
div.business-introduction-3 img {
	z-index: -1;
}
div.business-introduction-3 p:nth-of-type(1) {
	width: 480px;
	text-align: center;
	margin: 0 auto;
	padding-top: 130px;
	font-size: 20px;
	position: absolute;
	top: -20px;
}
div.business-introduction-3 p:nth-of-type(2) {
	width: 150px;
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: absolute;
	top: 150px;
	left: 150px;
}
div.business-introduction-4 {
	float: left;
	width: 480px;
	color: #FFF;
	position: relative;
}
div.business-introduction-4 img {
	z-index: -1;
}
div.business-introduction-4 p:nth-of-type(1) {
	width: 380px;
	text-align: center;
	margin: 0 auto;
	padding-top: 130px;
	font-size: 20px;
	position: absolute;
	top: -20px;
	left: 50px;
}
div.business-introduction-4 p:nth-of-type(2) {
	width: 130px;
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: absolute;
	top: 150px;
	left: 180px;
}
div.business-introduction-5 {
	float: left;
	width: 480px;
	color: #FFF;
	position: relative;
}
div.business-introduction-5 img {
	z-index: -1;
}
div.business-introduction-5 p:nth-of-type(1) {
	width: 380px;
	text-align: center;
	margin: 0 auto;
	padding-top: 130px;
	font-size: 20px;
	position: absolute;
	top: -20px;
	left: 50px;
}
div.business-introduction-5 p:nth-of-type(2) {
	width: 80px;
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: absolute;
	top: 150px;
	left: 180px;
}
div.business-introduction-6 {
	float: left;
	width: 480px;
	color: #FFF;
	position: relative;
}
div.business-introduction-6 img {
	z-index: -1;
}
div.business-introduction-6 p:nth-of-type(1) {
	width: 380px;
	text-align: center;
	margin: 0 auto;
	padding-top: 130px;
	font-size: 20px;
	position: absolute;
	top: -20px;
	left: 50px;
}
div.business-introduction-6 p:nth-of-type(2) {
	width: 120px;
	text-align: center;
	margin: 20px auto 0 auto;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	position: absolute;
	top: 150px;
	left: 180px;
}
section.business-details {
	content: "";
	display: block;
	clear: both;
}

/*　事業紹介 事業分野 */

section.business-field {
	width: 1300px;
	margin: 700px auto 0 auto;
}
section.business-field dt {
	text-align: center;
	margin: 0 0 50px 50px;
}
section.business-field dd:nth-of-type(1) {
	float: left;
	width: 100px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.1.png");
	background-repeat: no-repeat;
	padding: 80px 0 0 12px;
}
section.business-field dd:nth-of-type(2) {
	float: left;
	width: 100px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.2.png");
	background-repeat: no-repeat;
	background-position: 5px 0px;
	margin-left: 105px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(3) {
	float: left;
	width: 100px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.3.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-left: 100px;
	padding: 80px 0 0 5px;
}
section.business-field dd:nth-of-type(4) {
	float: left;
	width: 140px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.4.png");
	background-repeat: no-repeat;
	background-position: 40px 0px;
	margin-left: 60px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(5) {
	float: left;
	width: 140px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.5.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	margin-left: 90px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(6) {
	float: left;
	width: 140px;
	height: 100px;
	background: url("../img/png/business-field/icon-No.6.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	margin: 0 110px 0 90px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(7) {
	margin-top: 200px;
}
section.business-field dd:nth-of-type(8) {
	margin-top: 20px;
}
section.business-field dd:nth-of-type(9) {
	margin-top: 20px;
}
section.business-field dd:nth-of-type(10) {
	width: 160px;
	height: 45px;
	margin: 40px auto 50px auto;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.business-field {
	content: "";
	display: block;
	clear: both;
}

/* 何でだか商事グループ 企業情報 */

section.what-group {
	width: 1920px;
	margin: 0 auto;
}
section.what-group div.what-group-1 {
	position: relative;
}
section.what-group div.what-group-1  dt img {
	width: 100%;
	color: #FFF;
	z-index: -1;
}
section.what-group div.what-group-1 dd:nth-of-type(1) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	color: #FFF;
	padding-top: 250px;
	position: absolute;
	top: 0;
}
section.what-group div.what-group-1 dd:nth-of-type(2) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	color: #FFF;
	padding-top: 20px;
	position: absolute;
	top: 300px;
}
section.what-group div.what-group-1 dd:nth-of-type(3) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	white-space: pre;
	font-size: 20px;
	color: #FFF;
	padding-top: 20px;
	position: absolute;
	top: 400px;
}
section.what-group div.what-group-2 {
	float: left;
	color: #000;
	position: relative;
}
section.what-group div.what-group-2 img {
	z-index: -1;
}
section.what-group div.what-group-2 p {
	width: 230px;
	margin: 0 auto;
	font-size: 30px;
	color: #FFF;
	position: absolute;
	top: 150px;
	left: 130px;
}
section.what-group div.what-group-3 {
	float: left;
	position: relative;
}
ection.what-group div.what-group-3 img {
	z-index: -1;
}
section.what-group div.what-group-3 p {
	width: 160px;
	margin: 0 auto;
	font-size: 30px;
	color: #FFF;
	position: absolute;
	top: 150px;
	left: 150px;
}
section.what-group div.what-group-4 {
	float: left;
	color: #FFF;
	position: relative;
}
ection.what-group div.what-group-4 img {
	z-index: -1;
}
section.what-group div.what-group-4 p {
	width: 160px;
	margin: 0 auto;
	font-size: 30px;
	color: #FFF;
	position: absolute;
	top: 150px;
	left: 170px;
}
section.what-group div.what-group-5 {
	float: left;
	color: #FFF;
	position: relative;
}
ection.what-group div.what-group-5 img {
	z-index: -1;
}
section.what-group div.what-group-5 p {
	width: 220px;
	margin: 0 auto;
	font-size: 30px;
	color: #FFF;
	position: absolute;
	top: 150px;
	left: 130px;
}
section.what-group::after {
	content: "";
	display: block;
	clear: both;
}
section.what-group-data {
	width: 1000px;
	margin: 0 auto;
}
section.what-group-data div.what-group-data-1 {
	width: 560px;
	margin: 50px auto 50px auto;
	padding-bottom: 10px;
	font-size: 34px;
	font-weight: 1000;
	border-bottom: 7px solid #000;
}
section.what-group-data div.what-group-data-2 {
	float: left;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(1) {
	width: 200px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) {
	width: 200px;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-3 {
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(1) {
	width: 200px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(2) {
	width: 200px;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 {
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(1) {
	width: 200px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) {
	width: 200px;
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-5 {
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(1) {
	width: 200px;
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) {
	width: 200px;
	margin: 10px 0 20px 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-6 {
	float: right;
}
section.what-group-data div.what-group-data-6 p {
	width: 200px;
	box-sizing: border-box;
	font-weight: bold;
	margin-right: 10px;
}
section.what-group-data div.what-group-data-7 p {
	width: 160px;
	height: 45px;
	margin: 200px auto 50px auto;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.what-group-data::after {
	content: "";
	display: block;
	clear: both;
}

/* サステナビリティ */

section.company-growth {
	width: 1920px;
	margin: 0 auto;
}
section.company-growth div.company-growth-1 {
	width: 1920px;
	color: #FFF;
	position: relative;
}
section.company-growth div.company-growth-1 dt img {
	width: 100%;
	z-index: -1;
}
section.company-growth div.company-growth-1 dd:nth-of-type(1) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	padding-top: 250px;
	position: absolute;
	top: 50px;
}
section.company-growth div.company-growth-1 dd:nth-of-type(2) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
	position: absolute;
	top: 350px;
}
section.company-growth div.company-growth-1 dd:nth-of-type(3) {
	width: 1920px;
	margin: 0 auto;
	text-align: center;
	white-space: pre;
	font-size: 20px;
	padding-top: 20px;
	position: absolute;
	top: 450px;
}
section.company-growth div.company-growth-2 {
	float: left;
	color: #FFF;
	position: relative;
}
section.company-growth div.company-growth-2 img {
	width: 100%;
	z-index: -1;
}
section.company-growth div.company-growth-2 p {
	width: 380px;
	margin: 0 auto;
	font-size: 30px;
	position: absolute;
	top: 150px;
	left: 70px;
}
section.company-growth div.company-growth-3 {
	float: left;
	color: #FFF;
	position: relative;
}
section.company-growth div.company-growth-3 img {
	width: 100%;
	z-index: -1;
}
section.company-growth div.company-growth-3 p {
	width: 200px;
	margin: 0 auto;
	font-size: 30px;
	position: absolute;
	top: 150px;
	left: 130px;
}
section.company-growth div.company-growth-4 {
	float: left;
	color: #FFF;
	position: relative;
}
section.company-growth div.company-growth-4 img {
	width: 100%;
	z-index: -1;
}
section.company-growth div.company-growth-4 p {
	width: 380px;
	margin: 0 auto;
	font-size: 30px;
	position: absolute;
	top: 150px;
	left: 70px;
}
section.company-growth div.company-growth-5 {
	float: left;
	color: #FFF;
	position: relative;
}
section.company-growth div.company-growth-5 img {
	width: 100%;
	z-index: -1;
}
section.company-growth div.company-growth-5 p {
	width: 380px;
	margin: 0 auto;
	font-size: 30px;
	position: absolute;
	top: 150px;
	left: 70px;
}
section.company-growth::after {
	content: "";
	display: block;
	clear: both;
}
section.company-growth-message {
	width: 1300px;
	margin: 0 auto;
}
section.company-growth-message dl dt {
	width: 680px;
	margin: 50px auto 50px auto;
	padding: 10px 0 10px 0;
	border-bottom: 7px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-size: 34px;
	font-weight: 1000;
}
section.company-growth-message dl dd:nth-of-type(1) img {
	float: left;
}
section.company-growth-message dl dd:nth-of-type(2) {
	float: left;
	width: 700px;
	margin-left: 100px;
}
section.company-growth-message dl dd:nth-of-type(3) {
	float: left;
	width: 700px;
	margin: 20px 0 20px 100px;
}
section.company-growth-message dl dd:nth-of-type(4) {
	float: left;
	width: 700px;
	margin-left: 100px;
}
section.company-growth-message dl dd:nth-of-type(5) {
	width: 220px;
	height: 45px;
	margin: 250px 0 0 580px;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.company-growth-message::after {
	content: "";
	display: block;
	clear: both;
}

/* フッター部分 */

section.footer-img {
	width: 1920px;
	margin: 100px auto 0 auto;
}
section.footer-img div.footer-img-1 {
	float: left;
	width: 640px;
	position: relative;
}
section.footer-img div.footer-img-1 img {
	z-index: -1;
}
section.footer-img div.footer-img-1 p:nth-of-type(1){
	width: 240px;
    margin: 0 auto;
	color: #FFF;
	position: absolute;
	top: 80px;
	left: 200px;
}
section.footer-img div.footer-img-1 p:nth-of-type(2){
	width: 70px;
    margin: 0 auto;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	color: #FFF;
	position: absolute;
	top: 130px;
	left: 270px;
}
section.footer-img div.footer-img-2 {
	float: left;
	width: 640px;
	position: relative;
}
section.footer-img div.footer-img-2 img {
	z-index: -1;
}
section.footer-img div.footer-img-2 p:nth-of-type(1){
	width: 240px;
    margin: 0 auto;
	color: #FFF;
	position: absolute;
	top: 80px;
	left: 200px;
}
section.footer-img div.footer-img-2 p:nth-of-type(2){
	width: 70px;
    margin: 0 auto;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	color: #FFF;
	position: absolute;
	top: 120px;
	left: 280px;
}
section.footer-img div.footer-img-3 {
	float: left;
	width: 640px;
	position: relative;
}
section.footer-img div.footer-img-3 img {
	z-index: -1;
}
section.footer-img div.footer-img-3 p:nth-of-type(1){
	width: 240px;
    margin: 0 auto;
	color: #FFF;
	position: absolute;
	top: 80px;
	left: 200px;
}
section.footer-img div.footer-img-3 p:nth-of-type(2){
	width: 130px;
    margin: 0 auto;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	color: #FFF;
	position: absolute;
	top: 120px;
	left: 250px;
}
section.footer-img::after {
	content: "";
	display: block;
	clear: both;
}

/* 最下段フッター部分 */

section.last-footer {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #09F943;
}
div.what-trading-footer p {
	width: 250px;
	margin: 0 auto;
	padding-top: 15px;
	white-space: pre;
}