@charset "utf-8";
/* CSS Document */
body {
    margin: 0 0 0 0;
	display: block;
}
div.container {
	margin: 0 auto;
}
section.header{
	width: 79%;
	height: 290px;
	margin: 20px auto 0 auto;
	background-color: #FFF;
}
div.name p {
	width: 96%;
	margin-left: 25px;
	padding: 20px 0 10px 0;
	border-bottom: dotted 1px #FFA900;
}
div.name h1 {
	width: 65%;
	font-size: 24px;
	margin: 30px 0 0 25px;
}
div.name h1 span {
	font-size: 34px;
}
div.inquiries-by-phone {
	width: 70%;
	margin: 30px 0 0 0;
}
div.inquiries-by-phone p:nth-of-type(1) {
	float: left;
	width: 120px;
	margin: 0 0 0 20px;
	white-space: pre;
	color: #FFA900;
}
div.inquiries-by-phone p:nth-of-type(2) {
	float: left;
	font-size: 24px;
	width: 220px;
	height: 40px;
	margin: 0 0 0 50px;
	padding: 8px 0 0 30px;
	background-color: #FFA900;
	color: #FFF;
	border-radius: 20px;
	box-sizing: border-box;
}
div.inquiries-by-phone::after {
	content: "";
	display: block;
	clear: both;
}
div.address {
	width: 30%;
	margin: 30px 0 0 1.5%;
}
section.main-img {
	width: 79%;
	margin: 20px auto 0 auto;
	border: 10px solid #FFA900;
	border-radius: 10px;
}
section.main-img img {
	width: 100%;
}

/* タブパネル　*/

section.column {
  width: 79%;
　height: 1550px;
  margin: 50px auto 0 auto;
  border: 5px solid #F4F4F4;
  background-color: #FFF;
  box-sizing: border-box;
}
section.column ul {
  float: left;
  margin: 20px auto 0 50px;
}
.over {
  color: #8EAEA4;
  cursor: pointer;
}
.selected {
  cursor: default;
  text-align: center;
  background-color: #004831;
  color: #FFF;
}
section.column ul.tab li:nth-of-type(1) {
  list-style-type: none;
  float: left;
  margin: 0 0 0 0;
  padding-top: 20px;
}
section.column ul.tab li:nth-of-type(2) {
  list-style-type: none;
  float: left;
  margin: 20px 0 0 0;
}
section.column ul.tab li:nth-of-type(3) {
  list-style-type: none;
  float: left;
  margin: 20px 0 0 0;
}
section.column ul.tab li:nth-of-type(4) {
  list-style-type: none;
  float: left;
  margin: 20px 0 0 0;
}
section.column ul.tab li:nth-of-type(5) {
  list-style-type: none;
  float: left;
  margin: 20px 0 0 0;
}
section.column::after {
	content: "";
	display: block;
	clear: both;
}
section.column ul.tab li a {
  margin: 0 80px 0 10px;
}

/* タブパネル-1 */

ul.panel li#tab1 {
	list-style-type: none;
}
ul.panel li#tab1 div.news {
	float: left;
	width: 70%;
}
dl.menu {
	width: 100%;
}
dl.menu dt {
	width: 100%;
	margin: 50px 0 40px 0;
}
dl.menu dd:nth-of-type(1) {
	float: left;
	margin: 0 0 0 0;
}
dl.menu dd:nth-of-type(2) {
	float: left;
	margin: 0 0 30px 30px;
}
dl.menu::after {
	content: "";
	display: block;
	clear: both;
}
dl.state {
	width: 100%;	
}
dl.state dt {
	float: left;
}
dl.state dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.state::after {
	content: "";
	display: block;
	clear: both;
}
dl.popular-snack {
	width: 100%;
}
dl.popular-snack dt {
	float: left;
}
dl.popular-snack dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.popular-snack::after {
	content: "";
	display: block;
	clear: both;
}
dl.popular-menu-for-school-lunch {
	width: 100%;
}
dl.popular-menu-for-school-lunch dt {
	float: left;
}
dl.popular-menu-for-school-lunch dd {
	float: left;
	margin: 0 0 30px 30px;
}
dl.popular-menu-for-school-lunch::after {
	content: "";
	display: block;
	clear: both;
}
dl.fun-event {
	width: 100%;
	margin: 0 0 0 0;
}
dl.fun-event dt {
	float: left;
}
dl.fun-event dd {
	width: 60%;
	float: left;
	margin:  0 0 30px 30px;
}
dl.fun-event::after {
	content: "";
	display: block;
	clear: both;
}
dl.cake {
	width: 100%;
	margin: 0 0 0 0;
}
dl.cake dt {
	float: left;
}
dl.cake dd {
	width: 60%;
	float: left;
	margin:  0 0 30px 30px;
}
dl.cake::after {
	content: "";
	display: block;
	clear: both;
}
dl.Doctors-opinion-form-regarding-medication {
	width: 100%;
}
dl.Doctors-opinion-form-regarding-medication dt {
	float: left;
}
dl.Doctors-opinion-form-regarding-medication dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.Doctors-opinion-form-regarding-medication::after {
	content: "";
	display: block;
	clear: both;
}
dl.cookie {
	width: 100%;
}
dl.cookie dt {
	float: left;
}
dl.cookie dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.cookie::after {
	content: "";
	display: block;
	clear: both;
}
dl.part-recruitment {
	width: 100%;
}
dl.part-recruitment dt {
	float: left;
}
dl.part-recruitment dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.part-recruitment::after {
	content: "";
	display: block;
	clear: both;
}
dl.popular-menu-for-school-lunch-2 {
	width: 100%;
}
dl.popular-menu-for-school-lunch-2 dt {
	float: left;
}
dl.popular-menu-for-school-lunch-2 dd {
	float: left;
	margin:  0 0 30px 30px;
}
dl.popular-menu-for-school-lunch-2::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab1 div.news::after {
	content: "";
	display: block;
	clear: both;
}

/* タブパネル-1 a-side */
section.contact-1 {
	float: left;
	margin: 35px 0 0 20px;
}
section.contact-1 div.txt-area-1 {
	width: 370px;
	height: 230px;
	background-color: #F1F1F1;
}
section.contact-1 div.txt-area-1 div.inquiry-method p {
   width: 350px;
   height: 50px;
   background-color: #F4F3F3;
   margin: 10px 0 0 10px;
   padding-top: 15px;
   text-align: center;
   box-sizing: border-box;
}
section.contact-1 div.txt-area-1 div.details {
   width: 350px;
   height: 150px;
   background-color: #FFF;
   margin: 10px 0 0 10px;
   box-sizing: border-box;
}
section.contact-1 div.txt-area-1 div.details p:nth-of-type(1) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-1 div.txt-area-1 div.details p:nth-of-type(2) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-1 div.txt-area-1 div.details p:nth-of-type(3) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-1 div.txt-area-1 div.details p:nth-of-type(4) {
   width: 310px;
   margin-left: 30px;
   padding-top: 5px;
   box-sizing: border-box;
   white-space: pre;
}
section.notice-from-nursery-school {
   float: left;
   margin: 35px 0 0 0;
   padding-left: 20px;
}
section.notice-from-nursery-school div.link-area {
   width: 370px;
}
section.notice-from-nursery-school div.link-area p:nth-of-type(1) {
    width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school div.link-area p:nth-of-type(2) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school div.link-area p:nth-of-type(3) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school div.link-area p:nth-of-type(4) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school div.link-area p:nth-of-type(5) {
    width: 370px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}

/* タブパネル-1 内部 */

section.state-of-kindergarten {
	float: left;
	width: 100%;
	margin-top: 100px;
}
section.state-of-kindergarten div.peach {
	float: left;
	width: 33%;
	margin-left: 0;
}
section.state-of-kindergarten div.peach img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.peach p {
	width: 30%;
	margin: 0 auto;
}
section.state-of-kindergarten div.dandelion-and-horsetail {
	width: 33%;
	float: left;
	margin-left: 0;
}
section.state-of-kindergarten div.dandelion-and-horsetail img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.dandelion-and-horsetail p {
	width: 45%;
	margin: 0 auto;
}
section.state-of-kindergarten div.churippu-sumire {
	width: 34%;
	float: left;
	margin-left: 0;
}
section.state-of-kindergarten div.churippu-sumire img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.churippu-sumire p {
	width: 55%;
	margin: 0 auto;
}
section.state-of-kindergarten div.sunflower {
	width: 35%;
	float: left;
	margin-left: 0;
}
section.state-of-kindergarten div.sunflower img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.sunflower p {
	width: 35%;
	margin: 0 auto;
}
section.state-of-kindergarten div.cherry-blossoms {
	width: 33%;
	float: left;
	margin-left: -10px;
}
section.state-of-kindergarten div.cherry-blossoms img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.cherry-blossoms p {
	width: 35%;
	margin: 0 auto;
}
section.state-of-kindergarten div.pigeon {
	width: 33%;
	float: left;
	margin-left: -10px;
}
section.state-of-kindergarten div.pigeon img {
	width: 90%;
	margin: 30px 0 30px 0;
}
section.state-of-kindergarten div.pigeon p {
	width: 35%;
	margin: 0 auto;
}


/*　タブパネル-2　*/

ul.panel li#tab2 {
	list-style-type: none;
}
ul.panel li#tab2 div.introducing-the-nursery-school {
	width: 70%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.nursery-details {
	width: 90%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.nursery-details dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 50px 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F1F1F1;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.nursery-details dd:nth-of-type(1) {
	float: left;
	width: 100%;
	height: 50px;
	margin: 20px 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.nursery-details dd:nth-of-type(2) {
	width: 100%;
	float: left;
	margin-top: 10px;
	color: #F66C18;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal {
	width: 90%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dd:nth-of-type(1) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dd:nth-of-type(2) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dd:nth-of-type(3) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dd:nth-of-type(4) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.policy-goal dd:nth-of-type(5) {
	width: 100%;
	color: #F66C18;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association {
	width: 90%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dd:nth-of-type(1) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dd:nth-of-type(2) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dd:nth-of-type(3) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dd:nth-of-type(4) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.social-welfare-corporation-smile-association dd:nth-of-type(5) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.garden-information {
	width: 90%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.garden-information dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.garden-information dd:nth-of-type(1) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 5px 0;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.temporary-childcare {
	width: 90%;
	float: left;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.temporary-childcare dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab2 div.introducing-the-nursery-school dl.temporary-childcare dd:nth-of-type(1) {
	width: 100%;
	color: #F66C18;
	margin: 0 0 155px 0;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}


/* タブパネル-2 a-side */

section.profiele {
	float: left;
	margin: 3% 0 0 -5%;
	padding: 5px 5% 0 0;
}
section.profiele div.profiele-area {
	width: 370px;
}
section.profiele dl.profiele-txt-area {
	width: 370px;
	box-sizing: border-box;
	border: 1px solid #000;
	border-radius: 10px;
}
section.profiele dl.profiele-txt-area dt {
	width: 368px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	border-bottom: 1px solid #000;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
	background-color: #B4B4B4;
	color: #FFF;
}
section.profiele dl.profiele-txt-area dd:nth-of-type(1) {
	width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	color: #F66C18;
}
section.profiele dl.profiele-txt-area dd:nth-of-type(2) {
	width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	color: #F66C18;;
}
section.profiele dl.profiele-txt-area dd:nth-of-type(3) {
	width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	color: #F66C18;
}
section.profiele dl.profiele-txt-area dd:nth-of-type(4) {
	width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	color: #F66C18;
}
section.profiele dl.profiele-txt-area dd:nth-of-type(5) {
	width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	color: #F66C18;
}
section.contact-2 {
	float: left;
	margin: 3% 0 0 0;
}
section.contact-2 div.txt-area-2 {
	width: 370px;
	height: 230px;
	background-color: #F1F1F1;
}
section.contact-2 div.txt-area-2 div.inquiry-method p {
   width: 350px;
   height: 50px;
   background-color: #F4F3F3;
   margin: 10px 0 0 10px;
   padding-top: 15px;
   text-align: center;
   box-sizing: border-box;
}
section.contact-2 div.txt-area-2 div.details {
   width: 350px;
   height: 150px;
   background-color: #FFF;
   margin: 10px 0 0 10px;
   box-sizing: border-box;
}
section.contact-2 div.txt-area-2 div.details p:nth-of-type(1) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-2 div.txt-area-2 div.details p:nth-of-type(2) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-2 div.txt-area-2 div.details p:nth-of-type(3) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-2 div.txt-area-2 div.details p:nth-of-type(4) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.notice-from-nursery-school-2 {
   float: left;
   margin: 3% 0 0 0;
   padding-bottom: 5%;
}
section.notice-from-nursery-school-2 div.link-area-2 {
   width: 370px;
}
section.notice-from-nursery-school-2 div.link-area-2 p:nth-of-type(1) {
    width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-2 div.link-area-2 p:nth-of-type(2) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-2 div.link-area-2 p:nth-of-type(3) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-2 div.link-area-2 p:nth-of-type(4) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-2 div.link-area-2 p:nth-of-type(5) {
    width: 370px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}

/* タブパネル-3 */

ul.panel li#tab3 {
	list-style-type: none;
}
ul.panel li#tab3 section.class-state {
	width: 70%;
	float: left;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age {
	width: 90%;
	float: left;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dt {
	float: left;
	width: 100%;
	height: 50px;
	margin: 20px 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F1F1F1;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(1) {
	width: 100%;
	float: left;
	height: 50px;
	margin: 0 0 0 0;
	padding-top: 40px;
	box-sizing: border-box;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(2) {
	width: 100%;
	float: left;
	margin: 10px 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(3) {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(4) {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(5) {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(6) {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd:nth-of-type(7) {
	width: 100%;
	float: left;
	margin: 0 0 5px 0;
    color: #F66C18;
}
ul.panel li#tab3 section.class-state dl.state-of-errands-of-each-age dd a {
    color: #F66C18;
	text-decoration: none;
}
section.state-of-kindergarten-children-by-age  {
	width: 90%;
	float: left;
	margin: 0 auto;
}
section#zero-year-old-kindergarten {
	width: 100%;
	float: left;
}
section#zero-year-old-kindergarten dl dt{
	width: 100%;
	height: 50px;
	float: left;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#zero-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#zero-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#zero-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#zero-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}
section#one-year-old-kindergarten {
	width: 100%;
	float: left;
}
section#one-year-old-kindergarten dl dt{
	width: 100%;
	height: 50px;
	float: left;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#one-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#one-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#one-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#one-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}
section#two-year-old-kindergarten {
	width: 100%;
}
section#two-year-old-kindergarten dl dt{
	width: 100%;
	float: left;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#two-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#two-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#two-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#two-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}
section#three-year-old-kindergarten {
	width: 100%;
	float: left;
}
section#three-year-old-kindergarten dl dt{
	width: 100%;
	float: left;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#three-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#three-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#three-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#three-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}
section#four-year-old-kindergarten {
	width: 100%;
	float: left;
}
section#four-year-old-kindergarten dl dt{
	width: 100%;
	float: left;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#four-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#four-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#four-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#four-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
	box-sizing: border-box;
}
section#five-year-old-kindergarten {
	width: 100%;
	float: left;
}
section#five-year-old-kindergarten dl dt{
	width: 100%;
	float: left;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
section#five-year-old-kindergarten dl dd:nth-of-type(1){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#five-year-old-kindergarten dl dd:nth-of-type(2){
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
section#five-year-old-kindergarten dl dd:nth-of-type(3) img{
	width: 100%;
	margin: 20px 0 0 0;
}
section#five-year-old-kindergarten dl dd:nth-of-type(4){
	width: 100%;
	float: left;
	margin: 20px 0 50px 0;
	box-sizing: border-box;
}

/* タブパネル-3 a-side */

section.contact-3 {
	float: left;
	margin: 0 0 0 0;
	padding: 5px 1% 0 0;
}
section.contact-3 div.txt-area-3 {
	width: 370px;
	height: 230px;
	background-color: #F1F1F1;
}
section.contact-3 div.txt-area-3 div.inquiry-method p {
   width: 350px;
   height: 50px;
   background-color: #F4F3F3;
   margin: 10px 0 0 10px;
   padding-top: 15px;
   text-align: center;
   box-sizing: border-box;
}
section.contact-3 div.txt-area-3 div.details {
   width: 350px;
   height: 150px;
   background-color: #FFF;
   margin: 10px 0 0 10px;
   box-sizing: border-box;
}
section.contact-3 div.txt-area-3 div.details p:nth-of-type(1) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-3 div.txt-area-3 div.details p:nth-of-type(2) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-3 div.txt-area-3 div.details p:nth-of-type(3) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-3 div.txt-area-3 div.details p:nth-of-type(4) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.notice-from-nursery-school-3 {
   float: left;
   margin: 1% 0 0 0;
   padding-bottom: 20px;
}
section.notice-from-nursery-school-3 div.link-area-3 {
   width: 370px;
}
section.notice-from-nursery-school-3 div.link-area-3 p:nth-of-type(1) {
    width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-3 div.link-area-3 p:nth-of-type(2) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-3 div.link-area-3 p:nth-of-type(3) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-3 div.link-area-3 p:nth-of-type(4) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-3 div.link-area-3 p:nth-of-type(5) {
    width: 370px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}

/* タブパネル-4 */

ul.panel li#tab4 {
	float: left;
	list-style-type: none;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
section.events {
	width: 70%;
	float: left;
}
ul.panel li#tab4 div.annual-events {
	width: 90%;
}
ul.panel li#tab4 div.annual-events p:nth-of-type(1) {
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F1F1F1;
}
ul.panel li#tab4 div.annual-events p:nth-of-type(2) {
	width: 100%;
	height: 50px;
	margin: 0 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab4 div.annual-events table th {
	border: solid 1px #000;
}
ul.panel li#tab4 div.annual-events table th:nth-of-type(1) {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}
ul.panel li#tab4 div.annual-events table th:nth-of-type(2) {
	height: 50px;
	text-align: center;
	vertical-align: middle;
	box-sizing: border-box;
}
ul.panel li#tab4 div.annual-events table td:nth-child(odd) {
    width: 5%;
	height: 50px;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	border: solid 1px #000;
}
ul.panel li#tab4 div.annual-events table td:nth-child(even) {
	width: 39%;
	height: 50px;
	vertical-align: middle;
	box-sizing: border-box;
	padding-left: 20px;
	border: solid 1px #000;
}
div.sports {
	width: 90%;
}
div.sports dl dt{
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
div.sports dl dd:nth-of-type(1) img{
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
div.sports dl dd:nth-of-type(2){
	width: 100%;
	margin: 20px 0 50px 0;
	box-sizing: border-box;
}
div.menu {
	width: 90%;
}
div.menu dl dt{
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
div.menu dl dd:nth-of-type(1) img{
	width: 50%;
	float: left;
	margin: 0 0 0 0;
	box-sizing: border-box;
}
div.menu dl dd:nth-of-type(2) img{
	width: 50%;
	float: left;
	margin: 0 0 30px 0;
	box-sizing: border-box;
}
div.menu dl dd:nth-of-type(3) {
	width: 100%;
	margin: 0 0 20px 0;
	box-sizing: border-box;
}
div.menu::after {
	content: "";
	display: block;
	clear: both;
}

/* タブパネル-4 a-side */

section.contact-4 {
	float: left;
	margin: 35px 0 0 0;
	padding: 5px 1% 0 0;
}
section.contact-4 div.txt-area-4 {
	width: 370px;
	height: 230px;
	background-color: #F1F1F1;
}
section.contact-4 div.txt-area-4 div.inquiry-method p {
   width: 350px;
   height: 50px;
   background-color: #F4F3F3;
   margin: 10px 0 0 10px;
   padding-top: 15px;
   text-align: center;
   box-sizing: border-box;
}
section.contact-4 div.txt-area-4 div.details {
   width: 350px;
   height: 150px;
   background-color: #FFF;
   margin: 10px 0 0 10px;
   box-sizing: border-box;
}
section.contact-4 div.txt-area-4 div.details p:nth-of-type(1) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-4 div.txt-area-4 div.details p:nth-of-type(2) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-4 div.txt-area-4 div.details p:nth-of-type(3) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-4 div.txt-area-4 div.details p:nth-of-type(4) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.notice-from-nursery-school-4 {
   float: left;
   margin: 1% 0 0 0;
   padding-bottom: 20px;
}
section.notice-from-nursery-school-4 div.link-area-4 {
   width: 370px;
}
section.notice-from-nursery-school-4 div.link-area-4 p:nth-of-type(1) {
    width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-4 div.link-area-4 p:nth-of-type(2) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-4 div.link-area-4 p:nth-of-type(3) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-4 div.link-area-4 p:nth-of-type(4) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-4 div.link-area-4 p:nth-of-type(5) {
    width: 370px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}

/* タブパネル-5 */

ul.panel li#tab5 {
	float: left;
	list-style-type: none;
}
ul.panel::after {
	content: "";
	display: block;
	clear: both;
}
ul.panel li#tab5 div.access {
	width: 82%;
	float: left;
}
ul.panel li#tab5 div.access dl.access-map dt {
	width: 100%;
	height: 50px;
	margin: 50px 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F1F1F1;
}
ul.panel li#tab5 div.access dl.access-map dd:nth-of-type(1) {
	width: 100%;
	height: 50px;
	margin: 0 0 20px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #FFF6C9;
}
ul.panel li#tab5 div.access dl.access-map dd:nth-of-type(2) ifrme{
	width: 100%;
}
ul.panel li#tab5::after {
	content: "";
	display: block;
	clear: both;
}
/* タブパネル-5 内部 a-side */

section.contact-5 {;
	float: left;
	margin: 35px 0 0 0;
	padding: 5px 5px 0 0;
}
section.contact-5 div.txt-area-5 {
	width: 370px;
	height: 230px;
	background-color: #F1F1F1;
}
section.contact-5 div.txt-area-5 div.inquiry-method p {
   width: 350px;
   height: 50px;
   background-color: #F4F3F3;
   margin: 10px 0 0 10px;
   padding-top: 15px;
   text-align: center;
   box-sizing: border-box;
}
section.contact-5 div.txt-area-5 div.details {
   width: 350px;
   height: 150px;
   background-color: #FFF;
   margin: 10px 0 0 10px;
   box-sizing: border-box;
}
section.contact-5 div.txt-area-5 div.details p:nth-of-type(1) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
   white-space: pre;
   border-bottom: 1px solid #F4F3F3;
}
section.contact-5 div.txt-area-5 div.details p:nth-of-type(2) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-5 div.txt-area-5 div.details p:nth-of-type(3) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.contact-5 div.txt-area-5 div.details p:nth-of-type(4) {
   width: 310px;
   margin-left: 30px;
   padding: 5px 0 5px 0;
   box-sizing: border-box;
}
section.notice-from-nursery-school-5 {
   float: left;
   margin: 1% 0 0 0;
   padding-bottom: 10%;
}
section.notice-from-nursery-school-5 div.link-area-5 {
   width: 370px;
}
section.notice-from-nursery-school-5 div.link-area-5 p:nth-of-type(1) {
    width: 370px;
	height: 50px;
	margin: 10px 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-5 div.link-area-5 p:nth-of-type(2) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-5 div.link-area-5 p:nth-of-type(3) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-5 div.link-area-5 p:nth-of-type(4) {
    width: 370px;
	height: 50px;
	margin: 0 0 10px 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}
section.notice-from-nursery-school-5 div.link-area-5 p:nth-of-type(5) {
    width: 370px;
	height: 50px;
	margin: 0 0 0 0;
	padding: 15px 0 0 20px;
	box-sizing: border-box;
	background-color: #F66C18;
	color: #FFF;
}

/* 共通フッター部分 */

section.nursery-address {
	margin: 10px 0 20px 220px;
}
section.nursery-address:nth-of-type(1) {
	white-space: pre;
}
section.nursery-address:nth-of-type(2) {
	white-space: pre;
}
section.footer {
	margin: 10px 0 20px 220px;
}
section.footer p {
	width: 1480px;
	border-top: 1px dotted #F66C18;
	padding-top: 10px;
	color: #F66C18;
	box-sizing: border-box;
}