@charset "utf-8";
/* CSS Document */
body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  #company-fictional-real-estate-facilities {
    font-size: 16px;
    margin-top: 60px;
    margin-left: 100px;
  }
 　header {
   margin-left: 10px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 443px;
    margin-top: -40px;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
    
  }
  #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
#main-image {
    margin-top: 30px;
	width: 100%;
    height: 455px;
    background: url("../img/png/costruction.html/costruction.html-No.1.png");
    background-repeat: no-repeat;
  }
#main-image p:nth-of-type(1) a{
    color: #d99365;
    text-decoration: none;
    border-style: none;
    position: absolute;
    top: 22%;
    left: 30%;
    }
#main-image p:nth-of-type(2) a{
	color: #ffffff;
    text-decoration: none;
    border-style: none;
	font-size: 24px;
	position: absolute;
    top: 25%;
    left: 30%;
}
section{
    margin-top: -10%;
}
#abundant-experience-in-functions-designs-customer-needs-etc h2{
	color: #8f671e;
	margin-top: 150px;
	margin-left: 220px;
}
#abundant-experience-in-functions-designs-customer-needs-etc p{
	font-size: 12px;
	margin-top: 20px;
	margin-left: 220px;
}
.construction-value-up-construction dt{
	margin-top: 50px;
	background-color: #B9640F;
	border-left: 4px solid #DCA772;
	height: 30px;
	padding-top: 15px;
}
.construction-value-up-construction dd img:nth-of-type(1){
	margin-top: 20px;
}
.construction-value-up-construction dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -29%;
	margin-left: 550px;
}
.construction-tenant-layout-work dt{
	margin-top: 210px;
	background-color: #B9640F;
	border-left: 4px solid #DCA772;
	height: 30px;
	padding-top: 15px;
}
.construction-tenant-layout-work dd img:nth-of-type(1){
	margin-top: 10px;
}
.construction-tenant-layout-work dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -275px;
	margin-left: 544px;
}
.construction-facilitie-and-energy-saving-renewal-construction dt{
	margin-top: 220px;
	background-color: #B9640F;
	border-left: 4px solid #DCA772;
	height: 30px;
	padding-top: 15px;
}
.construction-facilitie-and-energy-saving-renewal-construction dd img:nth-of-type(1){
	margin-top: 20px;
}
.construction-facilitie-and-energy-saving-renewal-construction dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -307px;
	margin-left: 530px;
}
.construction-exterior-wall-waterproofing-parking-lot-roadway-collection-work dt{
	margin-top: 240px;
	background-color: #B9640F;
	border-left: 4px solid #DCA772;
	height: 30px;
	padding-top: 15px;
}
.construction-exterior-wall-waterproofing-parking-lot-roadway-collection-work img{
	margin-top: 20px;
}
.construction-exterior-wall-waterproofing-parking-lot-roadway-collection-work dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -285px;
	margin-left: 530px;
}
.construction-safety-management-and-construction-quality-control {
	background-color: #FFE4B5;
	border: 2px solid #ffff00;
	height: 170px;
	margin-top: 200px;
	margin-bottom: 50px;
}
.construction-safety-management-and-construction-quality-control dt{
	margin-top: 20px;
}
.construction-safety-management-and-construction-quality-control dd:nth-of-type(1){
	margin-top: 10px;
	padding-top: 10px;
    width: 650px;
}
.construction-safety-management-and-construction-quality-control dd:nth-of-type(2){
	margin-top: -68px;
	margin-left: 650px;
	padding-left: 40px;
	background-color: #FFFFFF;
	height: 35px;
	padding-top: 15px;
	width: 180px;
	border: 2px solid #ffff00;
}
.construction-safety-management-and-construction-quality-control dd:nth-of-type(3){
	margin-top: 5px;
	margin-left: 650px;
	padding-left: 40px;
	background-color: #FFFFFF;
	height: 35px;
	padding-top: 15px;
	width: 180px;
	border: 2px solid #ffff00;
}
.arrow-first{
    content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -9.7%;
	margin-left: 70.0%;
}
.circle-first{
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.8%;
    margin-left: 69.4%;
}
.arrow-second{
    content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: 4.4%;
	margin-left: 70.0%;
}
.circle-second{
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.7%;
    margin-left: 69.4%;
}
#construction-examples p:nth-of-type(1){
	border-top: 2px solid #32CD32;
	padding-top: 50px;
	padding-left: 250px;
}
#construction-examples p:nth-of-type(2){
	margin-top: -37px;
	margin-left: 480px;
	border: 2px solid #ffff00;
	width: 140px;
	height: 30px;
	padding-top: 18px;
    padding-left: 40px;
}
.arrow-third{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -3%;
	margin-left: 52.0%;
	}
.circle-third{
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.6%;
    margin-left: 51.5%
}
#contact-us-here p{
	margin-top: 30px;
	margin-left: 340px;
	background-color: #149000;
	padding-left: 40px;
	width: 200px;
	height: 30px;
	padding-top: 10px;
}
.arrow-fourth{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 37.3%;
	}
.circle-fourth{
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.6%;
    margin-left: 36.7%;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 300px;
      float: left;
    }
    #business-overview {
      width: 360px;
      margin-left: 0px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #main-image{
      position: relative;
    }
    #main-image p {
      width: 220px;
    }
    #main-image p:nth-of-type(1) a{
      font-size: 35px;
      position: absolute;
      top: 30%;
      left: 30%;
    }
    #main-image p:nth-of-type(2) a{
      font-size: 45px;
      position: absolute;
      top: 40%;
    }
    #abundant-experience-in-functions-designs-customer-needs-etc{
      position: relative;
      }
    #abundant-experience-in-functions-designs-customer-needs-etc h2{
      width: 340px;
      font-size: 21px;
      margin-left: 10px;
      }
    #abundant-experience-in-functions-designs-customer-needs-etc p{
      margin-left: 10px;
      width: 340px;
      }
    #construction{
      width: 360px;
      position: relative;
    }
    #construction .construction-value-up-construction dd img{
      width: 360px;
    }
    #construction .construction-value-up-construction dd:nth-of-type(2){
        width: 340px;
        position: absolute;
        top: 18.1%;
        left: -150%;
    }
    #construction .construction-tenant-layout-work dd img{
      width: 360px;
    }
    #construction .construction-tenant-layout-work dd:nth-of-type(2){
        width: 340px;
        position: absolute;
        top: 48.1%;
        left: -149%;
    }
    #construction .construction-facilitie-and-energy-saving-renewal-construction dd img{
      width: 360px;
    }
    #construction .construction-facilitie-and-energy-saving-renewal-construction dd:nth-of-type(2){
        width: 340px;
        position: absolute;
        top: 72.8%;
        left: -144%;
    }
    #construction .construction-exterior-wall-waterproofing-parking-lot-roadway-collection-work dd img{
      width: 360px;
    }
    #construction .construction-exterior-wall-waterproofing-parking-lot-roadway-collection-work dd:nth-of-type(2){
        width: 340px;
        position: absolute;
        top: 96.3%;
        left: -143.7%;
    }
    #construction .construction-safety-management-and-construction-quality-control{
        width: 340px;
        margin-left: 10px;
    }
    #construction .construction-safety-management-and-construction-quality-control dd:nth-of-type(1){
      width: 320px;
    }
    #construction .construction-safety-management-and-construction-quality-control dd:nth-of-type(2){
        width: 180px;
        position: absolute;
        top: 104%;
        left: -165%;
    }
    #construction .construction-safety-management-and-construction-quality-control dd:nth-of-type(3){
        width: 180px;
        position: absolute;
        top: 103.5%;
        left: -165%;
    }
    #construction .arrow-first{
    content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #000000 transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: 17.8%;
	margin-left: 20.0%;
    }
    #construction .circle-first{
    display: none;
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -4.8%;
    margin-left: 18.4%;
    }
    #construction .arrow-second{
    content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #000000 transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: 16.6%;
	margin-left: 20.0%;
    }
    #construction .circle-second{
    display: none;
    width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -4.8%;
    margin-left: 18.4%;
    }
    #construction-examples p:nth-of-type(1){
     display: none;
    }
    #construction-examples p:nth-of-type(2){
      margin-top: 46%;
      margin-left: 15%;
    }
    #construction-examples .arrow-third{
      content: "";
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 8px 8px 0px 8px;
	  border-color: #000000 transparent transparent transparent;
	  transform: rotate(270deg);
	  margin-top: -8%;
      margin-left: 22%;
    }
    #construction-examples .circle-third{
      display: none;
      width: 25px;
      height: 25px;
      background-color: #B7AA00;
      border-radius: 50%;
      position: absolute;
      top: 527.5%;
      left: -31.5%;
          }
    #contact-us-here{
      position: relative;
    }
    #contact-us-here p{
      margin-top: 50px;
      margin-left: 50px;
    }
    #contact-us-here .arrow-fourth{
      content: "";
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 8px 8px 0px 8px;
	  border-color: #000000 transparent transparent transparent;
	  transform: rotate(270deg);
	  position: absolute;
      top: 104%;
      left: -17%;
    }
    #contact-us-here .circle-fourth{
      display: none;
      width: 25px;
      height: 25px;
      background-color: #B7AA00;
      border-radius: 50%;
      position: absolute;
      top: 34%;
      left: -19%;
    }
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
    }
    #guidelines p{
      width: 360px;
      text-align: center;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -172px;
      background-color: #888888;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -171px;
      background-color: #888888;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -171px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -171px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -171px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -171px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 227px;
	  height: 50px;
    }
  }