@charset "utf-8";
/* CSS Document */
#container{
	width:960px;
	margin-right:auto;
	margin-left:auto;
}
h1{
color:#221814;
font-size:13pt;
position:relative;
top:45px;
left:107px;
}
.logo{
position:relative;
top:15px;
left:45px;
}
.oya-gaisha-title p:nth-of-type(1){
font-size:13pt;
position:relative;
bottom:58px;
left:39px;
}
.oya-gaisha-title p:nth-of-type(2){
font-size:8pt;
color:#a6fd60;
position:relative;
bottom:68px;
left:249px;
}
.saite-map li:nth-of-type(1){
color:#5b8834;
font-size:12pt;
list-style:none;
position:relative;
bottom:65px;
left:685px;
}
.saite-map li:nth-of-type(2){
color:#5b8834;
font-size:12pt;
list-style:none;
position:relative;
bottom:80px;
left:802px;
}
.gaiyou-link li:nth-of-type(1){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:75px;
left:387px;
}
.gaiyou-link li:nth-of-type(2){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:89px;
left:452px;
}
.gaiyou-link li:nth-of-type(3){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:103px;
left:676px;
}
.gaiyou-link li:nth-of-type(4){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:118px;
left:741px;
}
.gaiyou-link li:nth-of-type(5){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:133px;
left:806px;
}
.gaiyou-link li:nth-of-type(6){
color:#221814;
font-size:11pt;
list-style:none;
position:relative;
bottom:147px;
left:871px;
}
.kaisha-main-gazou img{
position:relative;
bottom:131px;
}
.kaisha-main-gazou p{
color:#ffffff;
font-size:16pt;
position:relative;
bottom:339px;
left:130px	
}
.shoukai h2{
color:#5b8834;
font-size:16pt;
position:relative;
bottom:131px;
left:80px;
}
.shoukai p{
color:#221814;
font-size:9pt;
position:relative;
bottom:121px;
left:79px;
}
.soukanzu img{
height:313px;
position:relative;
bottom:335px;
left:563px;
}
.kigyou-rinen-eigyo-group p:nth-of-type(1){
color:#23a359;
font-size:15pt;
position:relative;
bottom:470px;
left:497px;
}
.kigyou-rinen-eigyo-group p:nth-of-type(2){
color:#23a359;
font-size:15pt;
position:relative;
bottom:470px;
left:493px;
}
.kigyou-rinen-eigyo-group p:nth-of-type(3){
color:#221814;
font-size:11pt;
position:relative;
bottom:486px;
left:503px;
}
.kigyou-rinen-eigyo-group p:nth-of-type(4){
color:#23a359;
font-size:15pt;
position:relative;
bottom:484px;
left:493px;
}
.kigyou-rinen-eigyo-group p:nth-of-type(5){
color:#221814;
font-size:11pt;
position:relative;
bottom:502px;
left:503px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(1){
color:#23a359;
font-size:15pt;
position:relative;
bottom:557px;
left:808px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(2){
color:#23a359;
font-size:15pt;
position:relative;
bottom:557px;
left:803px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(3){
color:#221814;
font-size:11pt;
position:relative;
bottom:575px;
left:814px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(4){
color:#23a359;
font-size:15pt;
position:relative;
bottom:572px;
left:803px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(5){
color:#221814;
font-size:11pt;
position:relative;
bottom:590px;
left:814px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(6){
color:#23a359;
font-size:15pt;
position:relative;
bottom:588px;
left:803px;
}
.kigyou-rinen-gyoumu-kanri-group p:nth-of-type(7){
color:#221814;
font-size:11pt;
position:relative;
bottom:606px;
left:814px;
}
.one-stop-service p:nth-of-type(1){
color:#5b8834;
font-size:23pt;
position:relative;
bottom:828px;
left:760px;
}
.one-stop-service p:nth-of-type(2){
color:#221814;
font-size:6pt;
position:relative;
bottom:828px;
left:760px;	
}
.gyoumu-acces-map img{
position:relative;
bottom:600px;
}
.jyutaku-bukken img{
position:relative;
bottom:604px;
}
.kouji-jirei img{
position:relative;
bottom:765px;
left:480px;
}
.kigyou-torikumi img{
position:relative;
bottom:772px;
}
.kaisha-gaiyou img{
position:relative;
bottom:775px;
}
.saiyou-jyouhou img{
position:relative;
bottom:938px;
left:480px;
}
.News-Release h2{
color:#5b8834;
font-size:28pt;
position:relative;
bottom:845px;
left:98px;
}
.News-Release p{
color:#221814;
font-size:9pt;
position:relative;
bottom:864px;
left:394px;
}
.News-Release img{
position:relative;
bottom:890px;
left:778px;
}
.News-coment p:nth-of-type(1){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-top:2px dashed #221814;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;
}
.News-coment p:nth-of-type(2){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;
}
.News-coment p:nth-of-type(3){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;

}
.News-coment p:nth-of-type(4){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;
}
.News-coment p:nth-of-type(5){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;
}
.News-coment p:nth-of-type(6){
color:#221814;
font-size:10.5pt;
position:relative;
bottom:851px;
left:100px;
border-bottom:2px dashed #221814;
padding-top:9px;
padding-bottom:9px;
}
.kakugaiyou p:nth-of-type(1){
color:#221814;
position:relative;
bottom:698px;
left:99px;
}
.kakugaiyou p:nth-of-type(2){
color:#221814;
position:relative;
bottom:682px;
left:99px;	
}
.kakugaiyou p:nth-of-type(3){
color:#221814;
position:relative;
bottom:671px;
left:99px;	
}
.kakugaiyou p:nth-of-type(4){
color:#221814;
position:relative;
bottom:665px;
left:99px;
}
.kakugaiyou p:nth-of-type(5){
color:#221814;
position:relative;
bottom:762px;
left:315px;	
}
.kakugaiyou p:nth-of-type(6){
color:#221814;
position:relative;
bottom:749px;
left:315px;	
}
.kakugaiyou p:nth-of-type(7){
color:#221814;
position:relative;
bottom:738px;
left:315px;	
}
.kakugaiyou p:nth-of-type(8){
color:#221814;
position:relative;
bottom:728px;
left:315px;
}
.kakugaiyou p:nth-of-type(9){
color:#221814;
position:relative;
bottom:718px;
left:315px;	
}
.kakugaiyou p:nth-of-type(10){
color:#221814;
position:relative;
bottom:708px;
left:315px;	
}
.kakugaiyou p:nth-of-type(11){
color:#221814;
position:relative;
bottom:858px;
left:568px;	
}
.kakugaiyou p:nth-of-type(12){
color:#221814;
position:relative;
bottom:846px;
left:568px;	
}
.kakugaiyou p:nth-of-type(13){
color:#221814;
position:relative;
bottom:834px;
left:568px;	
}
.kakugaiyou p:nth-of-type(14){
color:#221814;
position:relative;
bottom:824px;
left:568px;
}
.kakugaiyou p:nth-of-type(15){
color:#221814;
position:relative;
bottom:814px;
left:568px;	
}
.kakugaiyou p:nth-of-type(16){
color:#221814;
position:relative;
bottom:804px;
left:568px;	
}
.kakugaiyou p:nth-of-type(17){
color:#221814;
position:relative;
bottom:954px;
left:776px;	
}
.kakugaiyou p:nth-of-type(18){
color:#221814;
position:relative;
bottom:940px;
left:776px;	
}
.kakugaiyou p:nth-of-type(19){
color:#221814;
position:relative;
bottom:928px;
left:776px;	
}
.kakugaiyou p:nth-of-type(20){
color:#221814;
position:relative;
bottom:916px;
left:776px;	
}
.tokuteityuuijikou p:nth-of-type(1){
color:#221814;
position:relative;
bottom:822px;
left:19px;
}
.tokuteityuuijikou p:nth-of-type(2){
color:#221814;
position:relative;
bottom:848px;
left:162px;	
}
.tokuteityuuijikou p:nth-of-type(3){
color:#221814;
position:relative;
bottom:871px;
left:322px;	
}
.tokuteityuuijikou p:nth-of-type(4){
color:#221814;
position:relative;
bottom:904px;
left:462px;	
}
.tokuteityuuijikou p:nth-of-type(5){
color:#221814;
position:relative;
bottom:934px;
left:645px;		
}
.tokuteityuuijikou p:nth-of-type(6){
color:#221814;
position:relative;
bottom:962px;
left:838px;
}
footer{
color:221814;
}