@charset "utf-8";
/* CSS Document */
  body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  #business-overview {
    font-size: 12px;
    padding-left: 40px;
}
   #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
    
  }
  #contact .contact-contact-us{
	position: absolute;
	top: 90px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
  header {
   margin-left: 10px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 443px;
    margin-top: -40px;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	text-align: right;
  }
  #contact .contact-contact-us{
	margin-top: -70px;
	margin-right: 100px;
  }
  #contact .contact-site-map {
    margin-top: -12px;
  }
#main-image {
	margin-top: 100px;
}
#promoted-by-professionals:after {
  content: "";
  clear: both;
  display: block;
}
#promoted-by-professionals h2 {
	width: 280px;
	margin-top: 50px;
	margin-right: 33.3%;
	}
#promoted-by-professionals p {
	margin-top: 50px;
	margin-right: 33.3%;
    width: 450px;
}
#promoted-by-professionals img {
	float: right;
	width: 480px;
	margin-top: -280px;
}
#introduction-of-each-company {
	width: 100%;
	float: left;
}
.introduction-of-each-company-01 img {
	width: 960px;
	margin-top: -300px;
}
.introduction-of-each-company-02 {
position: relative;
}
.introduction-of-each-company-02 img {
z-index: -1;
}
.introduction-of-each-company-02 li {
	list-style: none;
	background-color: #A2A2A2;
	width: 960px;
	font-size: 14px;
	margin-top: 160px;
	margin-left: auto;
	z-index: 1;
}

.introduction-of-each-company-02  ul li:nth-of-type(1) {
	position: absolute;
	top: -30%;
	left: 45%;
	width: 95px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-02 ul li:nth-of-type(2) {
	position: absolute;
	top: 20%;
	left: 215px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-02 ul li:nth-of-type(3) {
	position: absolute;
	top: 20%;
	left: 365px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-02 ul li:nth-of-type(4) {
	position: absolute;
	top: 20%;
	left: 505px;
	width: 97px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
	}
.introduction-of-each-company-02 ul li:nth-of-type(5) {
	position: absolute;
	top: 20%;
	left: 645px;
	height: 60px;
	width: 80px;
	padding-top: 30px;
	padding-left: 23px;
	}
.introduction-of-each-company-03 {
	float: left;
	position: relative;
	}
.introduction-of-each-company-03 img {
	width: 480px;
	height: 156px;
	margin-top:-5px;
	z-index: -1;
	}
.introduction-of-each-company-03 p{
	font-size: 14px;
	width: 75px;
	height: 20px;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #2EBFFB;
	margin-left: 200px;
	vertical-align: middle;
	position: absolute;
	top: 50px;
	z-index: 1;
}
.introduction-of-each-company-03:after {
	content: "";
	display: block;
	clear: both;
}
.introduction-of-each-company-04 {
	float: right;
	margin-top: -0.5%;
	position: relative;
	}
.introduction-of-each-company-04 img {
	width: 480px;
	height: 156px;
	z-index: -1;
	}
.introduction-of-each-company-04 p {
	font-size: 14px;
	width: 75px;
	height: 20px;
	margin-left: auto;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #81F52E;
	position: absolute;
	top: 35%;
	left: 40%;
	z-index: 1;
}
.introduction-of-each-company-04:after {
	content: "";
	display: block;
	clear: both;
}
.introduction-of-each-company-05 {
	position: relative;
	margin-top: -20px;
	float: left;
}
.introduction-of-each-company-05 img {
	z-index: -1;
}
.introduction-of-each-company-05 li {
	display: inline;
	list-style: none;
	background-color: #A2A2A2;
	width: 105px;
	margin-top: 100px;
	z-index: 1;
	}
.introduction-of-each-company-05  ul li:nth-of-type(1) {
	font-size: 14px;
	position: absolute;
	top: 60px;
	left: 300px;
	width: 40%;
	height: 45px;
	padding-top: 30px;
	text-align: center;
	}
.introduction-of-each-company-05 ul li:nth-of-type(2) {
	font-size: 14px;
	white-space: pre-wrap;
	position: absolute;
	top: 160px;
	left: 215px;
	width: 95px;
	height: 70px;
	padding-top: 30px;
	text-align: center;
	line-height: 1.5;
}
.introduction-of-each-company-05 ul li:nth-of-type(3) {
	font-size: 14px;
	white-space: pre-wrap;
	position: absolute;
	top: 160px;
	left: 325px;
	width: 95px;
	height: 70px;
	padding-top: 30px;
	text-align: center;
	line-height: 1.5;
}
.introduction-of-each-company-05 ul li:nth-of-type(4) {
	font-size: 14px;
	white-space: pre-wrap;
	position: absolute;
	top: 160px;
	left: 435px;
	width: 97px;
	height: 75px;
	padding-top: 25px;
	text-align: center;
	line-height: 1.5;
	}
.introduction-of-each-company-05 ul li:nth-of-type(5) {
	font-size: 14px;
	position: absolute;
	top: 160px;
	left: 545px;
	height: 60px;
	width: 75px;
	padding-top: 40px;
	padding-left: 28px;
	}
.introduction-of-each-company-05 ul li:nth-of-type(6) {
	font-size: 14px;
	position: absolute;
	top: 160px;
	left: 655px;
	height: 60px;
	width: 80px;
	padding-top: 40px;
	padding-left: 23px;
	margin-left: 4px;
	}
.introduction-of-each-company-05::after {
	content: "";
	display: block;
	clear: both;
}
.introduction-of-each-company-06 {
	position: relative;
	float: left;
	margin-top: -1px;
}
.introduction-of-each-company-06 img {
	width: 480px;
	z-index: -1;
}
.introduction-of-each-company-06 p:nth-of-type(1) {
	background-color: #FF9900;
	width: 70px;
	height: 20px;
	margin-left: 210px;
	padding-top: 10px;
	padding-left: 5px;
	position: absolute;
	top: 50px;
	z-index: 1;
}
.introduction-of-each-company-06 p:nth-of-type(2) {
	position: absolute;
	top: 90px;
	left: 140px;
	z-index: 1;
}
.introduction-of-each-company-06:after {
	content: "";
	display: block;
	clear: both;
}
.introduction-of-each-company-07 {
	position: relative;
}
.introduction-of-each-company-07 img {
	width: 480px;
	height: 156px;
	z-index: -1;
}
.introduction-of-each-company-07 p {
	background-color: #0033CC;
	width: 70px;
	height: 20px;
	margin-top: 63%;
	margin-left: 70%;
	padding-top: 10px;
	padding-left: 5px;
	position: absolute;
	top: 40px;
	z-index: 1;
	}
#news {
	width: 960px;
	float: left;
	position: relative;
}
.news-content::after {
	content: "";
	display: block;
	clear: both;
}
#news h2 {
	margin-top: 100px;
	position: absolute;
	top: -5%;
}
#news p:nth-of-type(1) {
	position: absolute;
	top: 10%;
	left: 45%;
}
#news p:nth-of-type(2) {
	position: absolute;
	top: 10%;
	left: 91%;
}
#news-paper dl {
	margin-top: 120px;
}
#news-paper dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#news-paper dt:last-of-type {
	border-bottom: 1px dashed;
	padding-bottom: 50px;
}
#news-paper dd:nth-of-type(1) {
	margin-bottom: 20px;
}
#news-paper dd:nth-of-type(2) {
	margin-bottom: 20px;
}
#news-paper dd:nth-of-type(3) {
	margin-bottom: 20px;
}
#news-paper dd:nth-of-type(4) {
	margin-bottom: 20px;
}
#news-paper dd:nth-of-type(5) {
	margin-bottom: 20px;
}
#news-paper dd:nth-of-type(6) {
	margin-top: -30px;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
	margin-top: 200px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
  footer {
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 50px;
    color: #FFFFFF;
    background-color: #5B8834;
    width: 900px;
    height: 30px;
  }
  @media(min-width: 360px) and (max-width: 360px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 100%;
    }
    #business-overview {
      width: 100%;
	  margin-top: 10px;
      margin-left: -35px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #main-image{
	  width: 100%;
      }
    #main-image .section p {
      width: 220px;
      font-size: 5px;
      margin-top: 50px;
      margin-left: 20px;
      padding-top: 130px;
      line-height: 1.5em;
    }
    #promoted-by-professionals{
		width: 100%;
      }
    #promoted-by-professionals h2{
      width: 90%;
      font-size: 21px;
      margin-left: 10px;
      }
    #promoted-by-professionals p{
      margin-left: 10px;
      width: 340px;
      padding-top: -20%;
      }
    #promoted-by-professionals img{
      width: 360px;
      margin-top: 70px;
      }
    #introduction-of-each-company {
	  width: 100%;
      margin-top: 10px;
	  float: left;
      position: relative;
      }
    #introduction-of-each-company .introduction-of-each-company-01 img{
       margin-top: 0px;
	   width: 100%;
      }
	  #introduction-of-each-company .introduction-of-each-company-02 img{
		  width: 100%;
	  }
	#introduction-of-each-company .introduction-of-each-company-02 li {
	width: 65px;
	height: 25px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(1){
		margin-top: 70px;
		margin-left: -20px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(2){
        margin-top: 30px;
		margin-left: -150px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(3){
        margin-top: 30px;
		margin-left: -140px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(4){
        margin-top: 90px;
		margin-left: -440px;
      }
	#introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(5){
        margin-top: 90px;
		margin-left: -420px;
		padding-left: 0;
      }
    #introduction-of-each-company .introduction-of-each-company-03 img {
        width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-03 p{
        margin-left: 130px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 img{
      width: 100%;
	  margin-top: 0px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 p{
      margin-left: -15px;
      }
    #introduction-of-each-company .introduction-of-each-company-05 img{
      width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-05 li {
	width: 65px;
	height: 35px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(1){
      margin-top: -45px;
	  margin-left: -150px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(2){
      margin-top: -95px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(3){
      margin-top: -100px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(4){
      margin-top: -47px;
	  margin-left: -380px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(5){
      margin-top: -47px;
	  margin-left: -400px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(6){
      margin-top: -47px;
	  margin-left: -410px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-06 img {
      width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(1){
	  margin-top: -20px;
      margin-left: 150px;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(2){
	  margin-top: -20px;
      margin-left: -50px;
    }
    #introduction-of-each-company .introduction-of-each-company-07 img{
    width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-07 p{
    margin-top: 160%;
	margin-left: 150px;
    }
    #news {
	width: 100%;
	margin-top: 20px;
}
    #news h2{
    font-size: 14px;
	margin-top: 113px;
      }
    #news p:nth-of-type(1) {
	margin-left: -30px;
}
    #news p:nth-of-type(2) {
	margin-left: -40px;
}
	#news-paper {
    position: relative;
	  }
    #news-paper dl {
	margin-top: 150px;
	}
    #news-paper dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
    #news-paper dt:last-of-type {
	border-bottom: 1px dashed;
}
    #business {
      display: none;
    }
    #guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 15%;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 358px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 52%;
	  height: 50px;
    }
  }
@media(min-width: 375px) and (max-width: 410px) {
    #container {
      width: 100%;
    }
    .head-content h1 img{
      width: 100%;
    }
    #business-overview {
      width: 96%;
	  margin-top: 10px;
      margin-left: -30px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #main-image{
	  width: 100%;
      }
    #main-image .section p {
      width: 220px;
      font-size: 5px;
      margin-top: 50px;
      margin-left: 20px;
      padding-top: 130px;
      line-height: 1.5em;
    }
    #promoted-by-professionals{
		width: 100%;
      }
    #promoted-by-professionals h2{
      width: 90%;
      font-size: 21px;
      margin-left: 10px;
      }
    #promoted-by-professionals p{
      margin-left: 10px;
      width: 340px;
      padding-top: -20%;
      }
    #promoted-by-professionals img{
      width: 95%;
      margin-top: 70px;
      }
    #introduction-of-each-company {
	  width: 100%;
      margin-top: 10px;
      position: relative;
      }
    #introduction-of-each-company .introduction-of-each-company-01 img{
       margin-top: 0px;
	   width: 100%;
      }
	  #introduction-of-each-company .introduction-of-each-company-02 img{
		  width: 100%;
	  }
	#introduction-of-each-company .introduction-of-each-company-02 li {
	width: 65px;
	height: 25px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(1){
		margin-top: 70px;
		margin-left: -20px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(2){
        margin-top: 30px;
		margin-left: -150px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(3){
        margin-top: 30px;
		margin-left: -140px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(4){
        margin-top: 90px;
		margin-left: -440px;
      }
	#introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(5){
        margin-top: 90px;
		margin-left: -420px;
		padding-left: 0;
      }
    #introduction-of-each-company .introduction-of-each-company-03 img {
        width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-03 p{
        margin-left: 130px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 img{
      width: 100%;
      }
    #introduction-of-each-company .introduction-of-each-company-04 p{
      margin-left: -20px;
      }
    #introduction-of-each-company .introduction-of-each-company-05 img{
      width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-05 li {
	width: 65px;
	height: 35px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(1){
      margin-top: -45px;
	  margin-left: -150px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(2){
      margin-top: -95px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(3){
      margin-top: -100px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(4){
      margin-top: -47px;
	  margin-left: -380px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(5){
      margin-top: -47px;
	  margin-left: -400px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(6){
      margin-top: -47px;
	  margin-left: -410px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-06 img {
      width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(1){
	  margin-top: -20px;
      margin-left: 150px;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(2){
	  margin-top: -20px;
      margin-left: -50px;
    }
    #introduction-of-each-company .introduction-of-each-company-07 img{
    width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-07 p{
    margin-top: 160%;
	margin-left: 150px;
    }
    #news {
	width: 100%;
	margin-top: 20px;
}
    #news h2{
    font-size: 14px;
	margin-top: 113px;
      }
    #news p:nth-of-type(1) {
	margin-left: -30px;
}
    #news p:nth-of-type(2) {
	margin-left: -40px;
}
	#news-paper {
    position: relative;
	  }
    #news-paper dl {
	margin-top: 150px;
	}
    #news-paper dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
    #news-paper dt:last-of-type {
	border-bottom: 1px dashed;
}
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 25%;
    }
    #guidelines p {
      border: none;
    }
    #guidelines p:nth-of-type(1) {
      flex-basis: 375px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 373px;
    }
	#guidelines p:nth-of-type(2) {
      flex-basis: 375px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 75px;
    }
    #guidelines p:nth-of-type(3) {
      flex-basis: 375px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(4) {
      flex-basis: 375px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(5) {
      flex-basis: 375px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(6) {
      flex-basis: 375px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 345px;
      font-size: 14px;
	  margin-top: 60%;
	  margin-left: -20px;
	  height: 50px;
    }
  }
@media(min-width: 411px) and (max-width: 411px) {
    #container {
      width: 100%;
    }
    .head-content h1 img{
      width: 100%;
    }
    #business-overview {
      width: 100%;
	  float: left;
	  margin-top: 10px;
      margin-left: -30px;
      font-size: 4px;
    }
	nav::after{
		content: "";
		display: block;
		clear: both;
	}
    #contact{
      display: none;
      }
    #main-image{
	  width: 100%;
      }
    #promoted-by-professionals{
		width: 100%;
      }
    #promoted-by-professionals h2{
      width: 90%;
      font-size: 21px;
      margin-left: 30px;
      }
    #promoted-by-professionals p{
      margin-left: 30px;
      width: 340px;
      padding-top: -20%;
      }
    #promoted-by-professionals img{
      width: 100%;
	  margin-top: 70px;
      }
    #introduction-of-each-company {
	  width: 100%;
      margin-top: 10px;
      position: relative;
      }
    #introduction-of-each-company .introduction-of-each-company-01 img{
       margin-top: 0px;
	   width: 100%;
      }
	  #introduction-of-each-company .introduction-of-each-company-02 img{
		  width: 100%;
	  }
	#introduction-of-each-company .introduction-of-each-company-02 li {
	width: 65px;
	height: 25px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(1){
		margin-top: 70px;
		margin-left: -20px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(2){
        margin-top: 30px;
		margin-left: -110px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(3){
        margin-top: 30px;
		margin-left: -140px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(4){
        margin-top: 90px;
		margin-left: -400px;
      }
	#introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(5){
        margin-top: 90px;
		margin-left: -420px;
		padding-left: 0;
      }
    #introduction-of-each-company .introduction-of-each-company-03 img {
        width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-03 p{
        margin-left: 151px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 img{
      width: 100%;
      }
    #introduction-of-each-company .introduction-of-each-company-04 p{
      margin-left: -15px;
      }
    #introduction-of-each-company .introduction-of-each-company-05 img{
      width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-05 li {
	width: 65px;
	height: 35px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(1){
      margin-top: -30px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(2){
      margin-top: -70px;
	  margin-left: -90px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(3){
      margin-top: -75px;
	  margin-left: -90px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(4){
      margin-top: -22px;
	  margin-left: -350px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(5){
      margin-top: -22px;
	  margin-left: -370px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(6){
      margin-top: -22px;
	  margin-left: -380px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-06 img {
      width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(1){
	  margin-top: -20px;
      margin-left: 170px;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(2){
	  margin-top: -20px;
      margin-left: -50px;
    }
    #introduction-of-each-company .introduction-of-each-company-07 img{
    width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-07 p{
    margin-top: 150%;
	margin-left: 170px;
    }
    #news {
	width: 100%;
	margin-top: 20px;
}
    #news h2{
    font-size: 14px;
	margin-top: 113px;
      }
    #news p:nth-of-type(1) {
	margin-left: -30px;
}
    #news p:nth-of-type(2) {
	margin-left: -40px;
}
	#news-paper {
    position: relative;
	  }
    #news-paper dl {
	margin-top: 150px;
	}
    #news-paper dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
    #news-paper dt:last-of-type {
	border-bottom: 1px dashed;
}
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 15%;
    }
    #guidelines p {
      border: none;
    }
    #guidelines p:nth-of-type(1) {
      flex-basis: 411px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 406px;
    }
	#guidelines p:nth-of-type(2) {
      flex-basis: 411px;
      margin-left: -155px;
      padding-left: 150px;
      background-color: #888888;
	  width: 111px;
    }
    #guidelines p:nth-of-type(3) {
      flex-basis: 411px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(4) {
      flex-basis: 411px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(5) {
      flex-basis: 411px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines p:nth-of-type(6) {
      flex-basis: 411px;
      margin-left: -155px;
      padding-left: 155px;
      background-color: #888888;
    }
    footer {
      width: 361px;
      font-size: 14px;
	  margin-top: 47%;
	  height: 50px;
    }
}
@media(min-width: 412px) and (max-width: 414px) {
    #container {
      width: 100%;
    }
    .head-content h1 img{
      width: 100%;
    }
    #business-overview {
      width: 100%;
	  margin-top: 10px;
      margin-left: -30px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #main-image{
	  width: 100%;
      }
    #promoted-by-professionals{
		width: 100%;
      }
    #promoted-by-professionals h2{
      width: 90%;
      font-size: 21px;
      margin-left: 25px;
      }
    #promoted-by-professionals p{
      margin-left: 25px;
      width: 90%;
      padding-top: -20%;
      }
    #promoted-by-professionals img{
      width: 100%;
      margin-top: 70px;
      }
    #introduction-of-each-company {
	  width: 100%;
      margin-top: 10px;
      position: relative;
      }
    #introduction-of-each-company .introduction-of-each-company-01 img{
       margin-top: 0px;
	   width: 100%;
      }
	  #introduction-of-each-company .introduction-of-each-company-02 img{
		  width: 100%;
	  }
	#introduction-of-each-company .introduction-of-each-company-02 li {
	width: 65px;
	height: 25px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(1){
		margin-top: 70px;
		margin-left: -20px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(2){
        margin-top: 30px;
		margin-left: -110px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(3){
        margin-top: 30px;
		margin-left: -140px;
      }
    #introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(4){
        margin-top: 90px;
		margin-left: -400px;
      }
	#introduction-of-each-company .introduction-of-each-company-02 ul li:nth-of-type(5){
        margin-top: 90px;
		margin-left: -420px;
		padding-left: 0;
      }
    #introduction-of-each-company .introduction-of-each-company-03 img {
        width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-03 p{
        margin-left: 151px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 img{
      width: 100%;
      }
    #introduction-of-each-company .introduction-of-each-company-04 p{
      margin-left: -15px;
      }
    #introduction-of-each-company .introduction-of-each-company-05 img{
      width: 100%;
      }
	#introduction-of-each-company .introduction-of-each-company-05 li {
	width: 65px;
	height: 35px;
	font-size: 4px;
	margin-top: 160px;
	margin-left: auto;
	padding-top: 10px;
	  }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(1){
      margin-top: -30px;
	  margin-left: -120px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(2){
      margin-top: -70px;
	  margin-left: -90px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(3){
      margin-top: -75px;
	  margin-left: -90px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(4){
      margin-top: -22px;
	  margin-left: -350px;
    }
    #introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(5){
      margin-top: -22px;
	  margin-left: -370px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-05 ul li:nth-of-type(6){
      margin-top: -22px;
	  margin-left: -380px;
	  padding-left: 15px;
	  width: 49px;
    }
	#introduction-of-each-company .introduction-of-each-company-06 img {
      width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(1){
	  margin-top: -20px;
      margin-left: 170px;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(2){
	  margin-top: -20px;
      margin-left: -50px;
    }
    #introduction-of-each-company .introduction-of-each-company-07 img{
    width: 100%;
    }
    #introduction-of-each-company .introduction-of-each-company-07 p{
    margin-top: 150%;
	margin-left: 170px;
    }
    #news {
	width: 100%;
	margin-top: 20px;
}
    #news h2{
    font-size: 14px;
	margin-top: 113px;
      }
    #news p:nth-of-type(1) {
	margin-left: -30px;
}
    #news p:nth-of-type(2) {
	margin-left: -40px;
}
	#news-paper {
    position: relative;
	  }
    #news-paper dl {
	margin-top: 150px;
	}
    #news-paper dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
    #news-paper dt:last-of-type {
	border-bottom: 1px dashed;
}
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 25%;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 414px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 412px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 415px;
      margin-left: -155px;
      padding-left: 155px;
      background-color: #888888;
	  width: 115px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 415px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 415px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 415px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 415px;
      margin-left: -155px;
      padding-left: 165px;
      background-color: #888888;
    }
    footer {
      width: 384px;
      font-size: 14px;
	  margin-top: 57%;
	  margin-left: -20px;
	  height: 50px;
    }
  }
@media(min-width: 415PX) and (max-width: 768px) {
    #container {
      width: 100%;
    }
    .head-content h1 img{
      width: 100%;
    }
    #business-overview {
      width: 100%;
	  margin-top: 10px;
      margin-left: -20px;
      font-size: 18.5px;
    }
    #contact{
      display: none;
      }
    #main-image{
	  width: 100%;
      }
    #promoted-by-professionals{
		width: 100%;
      }
    #promoted-by-professionals h2{
      width: 100%;
      font-size: 21px;
      margin-left: 30px;
      }
    #promoted-by-professionals p{
      margin-left: 30px;
      width: 90%;
      padding-top: -20%;
      }
    #promoted-by-professionals img{
      width: 90%;
      margin-top: 70px;
      }
    #introduction-of-each-company {
	  float: left;
      margin-top: 10px;
      position: relative;
      }
	.each-item-link::after {
		content: "";
		display: block;
		clear: both;
	}
.introduction-of-each-company-01 img{
     width: 100%;
}
#introduction-of-each-company .introduction-of-each-company-02 img{
		  width: 100%;
	  }
.introduction-of-each-company-02 li {
	list-style: none;
	background-color: #A2A2A2;
	width: 960px;
	font-size: 14px;
	margin-top: 160px;
	margin-left: auto;
	z-index: 1;
}
.introduction-of-each-company-02  ul li:nth-of-type(1) {
	margin-left: -10px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
}
.introduction-of-each-company-02 ul li:nth-of-type(2) {
	margin-left: -90px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
}
.introduction-of-each-company-02 ul li:nth-of-type(3) {
	margin-left: -90px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
}
.introduction-of-each-company-02 ul li:nth-of-type(4) {
	margin-left: -90px;
	width: 97px;
	height: 50px;
	padding-top: 40px;
	}
.introduction-of-each-company-02 ul li:nth-of-type(5) {
	margin-left: -90px;
	width: 80px;
	height: 60px;
	padding-top: 30px;
	padding-left: 23px;
	}
    #introduction-of-each-company .introduction-of-each-company-03 img {
        width: 80%;
      }
	#introduction-of-each-company .introduction-of-each-company-03 p{
        margin-left: 151px;
      }
    #introduction-of-each-company .introduction-of-each-company-04 img{
      width: 80%;
	  float: right;
	  margin-top: -156px;
      }
	#introduction-of-each-company .introduction-of-each-company-04 {
		content: "";
		display: block;
		clear: both;
	}
    #introduction-of-each-company .introduction-of-each-company-04 p{
	  margin-top: -109px;
      margin-left: 65px;
      }
    .introduction-of-each-company-05 img {
	  width: 100%;
}
.introduction-of-each-company-05 li {
	width: 105px;
	margin-top: 100px;
	}
.introduction-of-each-company-05  ul li:nth-of-type(1) {
	font-size: 14px;;
	width: 40%;
	height: 45px;
	margin-top: 30px;
	margin-left: -80px;
	padding-top: 30px;
	}
.introduction-of-each-company-05 ul li:nth-of-type(2) {
	font-size: 14px;
	width: 95px;
	height: 70px;
	margin-top: 30px;
	margin-left: -130px;
	padding-top: 30px;
}
.introduction-of-each-company-05 ul li:nth-of-type(3) {
	font-size: 14px;
	width: 95px;
	height: 60px;
	margin-top: 30px;
	margin-left: -100px;
	padding-top: 40px;
}
.introduction-of-each-company-05 ul li:nth-of-type(4) {
	font-size: 14px;;
	width: 97px;
	height: 60px;
	margin-top: 30px;
	margin-left: -80px;
	padding-top: 40px;
	}
.introduction-of-each-company-05 ul li:nth-of-type(5) {
	font-size: 14px;
	width: 75px;
	height: 60px;
	margin-top: 30px;
	margin-left: -60px;
	padding-top: 40px;
	padding-left: 28px;
	}
.introduction-of-each-company-05 ul li:nth-of-type(6) {
	font-size: 14px;
	width: 80px;
	height: 60px;
	margin-top: 30px;
	margin-left: -20px;
	padding-top: 40px;
	padding-left: 23px;
	}
	#introduction-of-each-company .introduction-of-each-company-06 img {
      width: 80%;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(1){
	  margin-top: -20px;
      margin-left: 170px;
    }
    #introduction-of-each-company .introduction-of-each-company-06 p:nth-of-type(2){
	  margin-top: -20px;
      margin-left: -50px;
    }
    #introduction-of-each-company .introduction-of-each-company-07 img{
	float: right;
    width: 50%;
	height: 127px;
	margin-top: -129px;
    }
	#introduction-of-each-company .introduction-of-each-company-07::after {
		content: "";
		display: block;
		clear: both;
	}
    #introduction-of-each-company .introduction-of-each-company-07 p{
    margin-top: 65%;
	margin-left: 70%;
    }
    #news {
	width: 100%;
}
    #news h2{
    font-size: 36px;
	width: 100%;
	padding-bottom: 5px;
      }
    #news p:nth-of-type(1) {
    margin-top: 15px;
	margin-left: -10px;
}
    #news p:nth-of-type(2) {
	margin-top: 15px;
	margin-right: -20px;
}
    #news-paper dl {
	width: 100%;
	margin-top: 120px;
}
    #news-paper dt {
	width: 100%;
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
    #news-paper dt:last-of-type {
	border-bottom: 1px dashed;
}
    #business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
	font-size: 10px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 35px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -16%;
    margin-left: 180px;
  }
#overview {
    margin-top: -18.5%;
    margin-left: 380px;
  }
#case {
    margin-top: -18.5%;
    margin-left: 560px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 110px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 165px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 140px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -110px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
    footer {
      width: 718px;
      font-size: 14px;
	  height: 50px;
	  margin-top: 70px;
    }
  }