@charset "utf-8";
/* CSS Document */
 body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 463px;
    margin-top: -4.5%;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
    
  }
  #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
#inspection .title h2{
    font-size: 25px;
    color: #898500;
    border-bottom: 1px solid #000000;
    margin-top: 150px;
    padding-bottom: 15px;
}
#inspection .build-a-reliable-quality-system h2{
    font-size: 25px;
    color: #898500;
    margin-top: 20px;
    height: 30px;
    padding-top: 15px;
}
#inspection .build-a-reliable-quality-system p{
    font-size: 16px;
    margin-top: 20px;
    width: 520px;
    line-height: 1.5em;
}
#inspection .build-a-reliable-quality-system img{
    float: right;
    margin-top: -25%;
}
#inspection .inspection-equipment-management h2{
    margin-top: 35%;
    background-color: #B7AA00;
    border-left: 4px solid #DFD238;
    height: 30px;
    padding-top: 15px;
}
#inspection .inspection-equipment-management dt{
   margin-top: 20px;
   
}
#inspection .inspection-equipment-management dd{
    float: right;
    font-size: 14px;
    margin-top: -29.5%;
    width: 440px;
}
#inspection .inspection-equipment-management p{
    margin-top: -15%;
    margin-left: 54%;
    padding-top: 10px;
    padding-left: 35px;
    border: 2px solid #B7AA00;
    width: 190px;
    height: 30px;
}
#inspection .inspection-equipment-management p a{
    text-decoration: none;
    color: #B7AA00;
}
#inspection .arrow-first{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(270deg);
    margin-top: -2.8%;
    margin-left: 55.9%;
}
#inspection .circle-first{
    width: 20px;
    height: 20px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.4%;
    margin-left: 55.3%;
}
#inspection .inspection-cleaning-management h2{
    margin-top: 200px;
    background-color: #B7AA00;
    border-left: 4px solid #DFD238;
    height: 30px;
    padding-top: 15px;
}
#inspection .inspection-cleaning-management dt{
   margin-top: 20px;
}
#inspection .inspection-cleaning-management dd{
    float: right;
    font-size: 14px;
    margin-top: -29.5%;
    width: 440px;
}
#inspection .inspection-cleaning-management p{
    margin-top: -15%;
    margin-left: 54%;
    padding-top: 10px;
    padding-left: 35px;
    border: 2px solid #B7AA00;
    width: 190px;
    height: 30px;
}
#inspection .inspection-cleaning-management p a{
    text-decoration: none;
    color: #B7AA00;
}
#inspection .arrow-second{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0px 5px;
    border-color: #ffffff transparent transparent transparent;
    transform: rotate(270deg);
    margin-top: -2.8%;
    margin-left: 55.9%;
    }
#inspection .circle-second{
    width: 20px;
    height: 20px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.3%;
    margin-left: 55.3%;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 300px;
      float: left;
    }
    #business-overview {
      width: 360px;
      margin-left: 0px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #inspection{
      width: 360px;
      display: flex;
      flex-direction: column;
      position: relative;
      z-index: -1;
      }
    #inspection .title h2{
      font-size: 45px;
    }
    #inspection .build-a-reliable-quality-system h2{
      width: 340px;
      font-size: 17px;
      padding-top: 20px;
      }
    #inspection .build-a-reliable-quality-system p{
      margin-left: 10px;
      width: 340px;
      }
    #inspection .build-a-reliable-quality-system img{
      width: 360px;
      margin-top: 20%;
      }
    #inspection .inspection-equipment-management dt{
	margin-top: 50px;
	height: 30px;
	padding-top: 15px;
}
    #inspection .inspection-equipment-management img{
    width: 360px;
    margin-top: -40px;
}
    #inspection .inspection-equipment-management dd{
	width: 340px;
    font-size: 13px;
    position: absolute;
	top: 78.5%;
	left: 3%;
}
    #inspection .inspection-equipment-management p{
    position: absolute;
    top: 81.5%;
    left: -35%;
    }
    #inspection .arrow-first{
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 80.2%;
    left: -32%;
    z-index: 2;
    }
    #inspection .circle-first{
    position: absolute;
    top: 79.6%;
    left: -33%;
    z-index: 1;
    }
    #inspection .inspection-cleaning-management{
    margin-top: 54%;
    }
    #inspection .inspection-cleaning-management dt{
	margin-top: 213px;
	height: 30px;
	padding-top: 15px;
}
    #inspection .inspection-cleaning-management img{
    width: 360px;
    position: absolute;
    top: 88.9%;
}
    #inspection .inspection-cleaning-management dd{
	width: 340px;
    font-size: 13px;
	position: absolute;
    top: 108.2%;
    left: 3%;
}
    #inspection .inspection-cleaning-management p{
    position: absolute;
    top: 110.6%;
    left: -35%;
    }
    #inspection .arrow-second{
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 109.3%;
    left: -32%;
    z-index: 2;
    }
    #inspection .circle-second{
    position: absolute;
    top: 108.7%;
    left: -33%;
    z-index: 1;
    }
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 300px;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 358px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 447px;
	  height: 50px;
    }
  }