@charset "utf-8";
/* CSS Document */
body{
	margin: 0 0 0 0;
}
#container{
	margin: 0 auto 0 auto;
	max-width: 960px;
}
#main-image img{
	margin-top: 80px;
}
#introduction-of-the-business{
	color: #c3d100;
	margin-left: 100px;
	margin-top: -230px;
	font-size: 16px;
}
#building-equipment-management{
	margin-left: 99px;
	margin-top: 10px;
	color: #ffffff;
	font-size: 18px;
}
#company-fictional-real-estate-facilities{
	font-size: 16px;
	margin-top: 60px;
	margin-left: 100px;
}
#company img{
	margin-top: -30px;
	margin-left: 40px;
}
#business-overview{
	font-size: 12px;
	display: flex;
	flex-direction: row;
	margin-left: 423px;
	margin-top: -30px;
}
#contact{
	font-size: 12px;
	color: #5B8834;
	display: flex;
	flex-direction: row;
	margin-left: 703px;
	margin-top: -40px;
}
#contact-site-map{
	margin-left: 10px;
}
#parent{
	display: flex;
	flex-direction: row;
	margin-top: -40px;
	margin-left: 40px;
}
#parent-fictional-real-estate-group{
	font-size: 14px;
}
#parent-trusted-and-proven-parther{
	font-size: 10px;
	color: #5b8834;
	margin-top: 4px;
	margin-left: 20px;
}
#main-image p:nth-of-type(1){
	color: #65aadd;
	margin-top: -160px;
	margin-left: 100px;
}
#main-image p:nth-of-type(2){
	color: #ffffff;
	margin-left: 100px;
	font-size: 24px;
	line-height: 1.5em;
}
#one-stop-support-for-various-needs-that-meet-customer-needs-and-expectations h2{
	color: #0076a9;
	margin-top: 140px;
	margin-left: 220px;
}
#one-stop-support-for-various-needs-that-meet-customer-needs-and-expectations p{
	font-size: 12px;
	margin-top: 20px;
	margin-left: 220px;
}
.costomer-support-maintenance-preventive-maintenance-proposal dt{
	margin-top: 50px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-maintenance-preventive-maintenance-proposal img{
	margin-top: 20px;
}
.costomer-support-maintenance-preventive-maintenance-proposal dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -282px;
	margin-left: 550px;
}
.costomer-support-energy-saving-proposal dt{
	margin-top: 213px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-energy-saving-proposal img{
	margin-top: 20px;
}
.costomer-support-energy-saving-proposal dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -278px;
	margin-left: 544px;
}
.costomer-support-disaster-response dt{
	margin-top: 220px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-disaster-response img{
	margin-top: 20px;
}
.costomer-support-disaster-response dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -282px;
	margin-left: 530px;
}
.costomer-support-management-service-business dt{
	margin-top: 240px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-management-service-business img{
	margin-top: 20px;
}
.costomer-support-management-service-business dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -285px;
	margin-left: 530px;
}
.costomer-support-ｃustomer-service-for-building-operation-and-management dt{
	margin-top: 240px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-ｃustomer-service-for-building-operation-and-management img{
	margin-top: 20px;
}
.costomer-support-ｃustomer-service-for-building-operation-and-management dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -283px;
	margin-left: 530px;
	}
.costomer-support-Regular-cleaning-special-cleaning-proposal dt{
	margin-top: 240px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-Regular-cleaning-special-cleaning-proposal img{
	margin-top: 20px;
}
.costomer-support-Regular-cleaning-special-cleaning-proposal dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -285px;
	margin-left: 530px;
}

.costomer-support-ｃleaning-man-hour-management dt{
	margin-top: 240px;
	background-color: #1E90FF;
	border-left: 4px solid #00BFFF;
	height: 30px;
	padding-top: 15px;
}
.costomer-support-ｃleaning-man-hour-management img{
	margin-top: 20px;
}
.costomer-support-ｃleaning-man-hour-management dd:nth-of-type(2){
	font-size: 13px;
	margin-top: -285px;
	margin-left: 530px;
}
#contact-us p{
	margin-top: 280px;
	margin-left: 340px;
	background-color: #149000;
	padding-left: 40px;
	width: 200px;
	height: 30px;
	padding-top: 10px;
	color: #ffffff;
}
#arrow{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 11px 11px 0px 11px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 350px;
	}
#business{
	background-color: #888888;
	height: 160px;
	line-height: 20px;
}
#introduction-of-each-business{
	margin-top: 100px;
	margin-left: 100px;
	padding-top: 15px;
}
#efforts{
	margin-top: -121px;
	margin-left: 300px;
	}
#overview{
	margin-top: -141px;
	margin-left: 550px;
}
#case{
	margin-top: -141px;
	margin-left: 750px;
}
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}
#introduction-of-each-business-introducation{
	border-bottom: 1px solid;
	width: 190px;
	line-height: 30px;
}
#efforts-quality-improvement{
	border-bottom: 1px solid;
	width: 235px;
	line-height: 30px;
}
#overview-company-profile{
	border-bottom: 1px solid;
	width: 190px;
	line-height: 30px;
}
#case-entrusted-property{
	border-bottom: 1px solid;
	width: 200px;
	line-height: 30px;
}
#introduction-of-each-business-building-equipment-management{
	line-height: 30px;
}
#efforts-quality{
	line-height: 30px;
}
#overview-greetings{
	line-height: 30px;
}
#case-examples-of-construction-work{
	line-height: 30px;
}
#guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    #company h1 {
      width: 360px;
      font-size: 15px;
      margin-left: 60px;
      margin-top: 80px;
    }
    #company img {
      width: auto;
      margin-left: 5px;
    }
    #business-overview {
      width: 360px;
      margin-top: -80px;
      margin-left: 5px;
      font-size: 4px;
    }
    #contact {
      width: 360px;
      margin-top: 10px;
      margin-left: 170px;
    }
    #parent-fictional-real-estate-group {
      width: 110px;
      margin-top: -20px;
      margin-left: -40px;
      font-size: 10px;
    }
    #parent-trusted-and-proven-parther {
      width: 250px;
      font-size: 5px;
      margin-top: -20px;
    }
    #main-image img {
      width: 360px;
      margin-top: 0px;
    }
    #main-image p {
      width: 360px;
      font-size: 5px;
      margin-top: -90px;
      margin-left: 50px;
      line-height: 1.5em;
    }
      #business {
      display: none;
    }
    #guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
    }
    #guidelines p {
      border: none;
    }
    #guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: -20px;
      margin-left: -170px;
      background-color: #888888;
	  width: 360px;
    }
	#guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
    }
    #guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 207px;
	  height: 50px;
    }
  }