@charset "utf-8";
/* CSS Document */
body {
  margin: 0;
}
#container {
  margin: 0 auto;
  max-width: 960px;
}
header {
  margin-left: 10px;
}
#business-overview {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  margin-left: 448px;
  margin-top: -45px;
}
#contact p {
  font-size: 12px;
  color: #5B8834;
  position: relative;
}
#contact .contact-contact-us {
  position: absolute;
  top: 30px;
  left: 64.3%;
}
#contact .contact-site-map {
  position: absolute;
  top: 30px;
  left: 69%;
}
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
  color: #5c8934;
  margin-top: 50px;
  margin-left: 60px;
  line-height: 1.5rem;
  font-size: 20px;
  width: 420px;
}
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
  font-size: 12px;
  margin-top: 20px;
  margin-left: 60px;
  line-height: 1.5rem;
  width: 670px;
}
#business-introduction-menu {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  position: relative;
}
#business-introduction-menu ul {
  text-decoration: none;
  color: #000000;
  list-style: none;
}
#business-introduction-menu a {
  text-decoration: none;
  color: #000000;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation {
  margin-top: -15%;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation img {
  margin-top: 30%;
  border-top: solid 10px #B8860B;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
  color: #B8860B;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #000000;
  width: 475px;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
  padding-top: 10px;
  font-size: 14px;
  width: 475px;
}
#business-introduction-menu .inspection {
  margin-top: -33%;
}
#business-introduction-menu .inspection img {
  margin-left: 520px;
  border-top: solid 10px #B8860B;
}
#business-introduction-menu .inspection p:nth-of-type(1) {
  margin-left: 515px;
  color: #B8860B;
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #000000;
}
#business-introduction-menu .inspection p:nth-of-type(2) {
  margin-left: 515px;
  padding-top: 10px;
  margin-top: 9px;
  width: 476px;
  font-size: 14px;
  ;
}
#business-introduction-menu .safety-initiatives img {
  margin-top: 20%;
  border-top: solid 10px #B8860B;
}
#business-introduction-menu .safety-initiatives p:nth-of-type(1) {
  color: #B8860B;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #000000;
  width: 475px;
}
#business-introduction-menu .safety-initiatives p:nth-of-type(2) {
  padding-top: 10px;
  width: 476px;
  font-size: 14px;
  ;
}
#business-introduction-menu .cs-improvement {
  margin-top: -11.1%;
}
#business-introduction-menu .cs-improvement img {
  margin-top: -33%;
  margin-left: 515px;
  border-top: solid 10px #B8860B;
}
#business-introduction-menu .cs-improvement p:nth-of-type(1) {
  color: #B8860B;
  margin-bottom: 10px;
  margin-left: 515px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #000000;
}
#business-introduction-menu .cs-improvement p:nth-of-type(2) {
  padding-top: 10px;
  width: 475px;
  margin-left: 515px;
  font-size: 14px;
}
#business-introduction-menu .education-and-training img {
  margin-top: 10%;
  border-top: solid 10px #B8860B;
}
#business-introduction-menu .education-and-training p:nth-of-type(1) {
  color: #B8860B;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-bottom: 1px solid #000000;
  width: 475px;
}
#business-introduction-menu .education-and-training p:nth-of-type(2) {
  padding-top: 10px;
  width: 475px;
  font-size: 14px;
}
#business {
  background-color: #888888;
  height: 160px;
  line-height: 20px;
}
#business .introduction-of-each-business {
  margin-top: 20%;
  margin-left: 100px;
  padding-top: 15px;
}
#efforts {
  margin-top: -12.6%;
  margin-left: 300px;
}
#overview {
  margin-top: -141px;
  margin-left: 550px;
}
#case {
  margin-top: -141px;
  margin-left: 750px;
}
#business .introduction-of-each-business-introducation {
  border-bottom: 1px solid;
  width: 190px;
  line-height: 30px;
}
#business .efforts-quality-improvement {
  border-bottom: 1px solid;
  width: 235px;
  line-height: 30px;
}
#business .overview-company-profile {
  border-bottom: 1px solid;
  width: 190px;
  line-height: 30px;
}
#business .case-entrusted-property {
  border-bottom: 1px solid;
  width: 200px;
  line-height: 30px;
}
#business .introduction-of-each-business-building-equipment-management {
  line-height: 30px;
}
#business .efforts-quality {
  line-height: 30px;
}
#business .overview-greetings {
  line-height: 30px;
}
#business .case-examples-of-construction-work {
  line-height: 30px;
}
#guidelines {
  font-size: 12px;
  margin-top: 73px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}
#guidelines .guidelines-about-the-use-of-the-site {
  border-left: 1px solid;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -20px;
  text-align: center;
}
#guidelines .guidelines-privacy-policy {
  margin-left: 5px;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information {
  margin-left: 5px;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#guidelines .guidelines-compliance-initiatives {
  margin-left: 5px;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#guidelines .guidelines-anti-social-forces {
  margin-left: 5px;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#guidelines .guidelines-site-map {
  margin-left: 5px;
  border-right: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
}
#guidelines {
  margin-left: 0px;
  padding-left: 150px;
}
footer {
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 50px;
  color: #FFFFFF;
  background-color: #5B8834;
  width: 900px;
  height: 30px;
}
@media(min-width: 360px) and (max-width: 360px) {
  #container {
    width: auto;
  }
  .head-content h1 img {
    width: 300px;
    float: left;
  }
  #business-overview {
    width: 360px;
    margin-left: 0px;
    font-size: 4px;
  }
  #contact {
    display: none;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service {
    position: relative;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
    width: 340px;
    font-size: 21px;
    margin-left: 10px;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
    margin-left: 10px;
    width: 340px;
  }
  #business-introduction-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation {
    width: 355px;
    margin-top: 15%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation img {
    width: 357px;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
    width: 353px;
    padding-left: 1%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
    width: 350px;
    font-size: 13px;
    margin-left: 2%;
  }
  #business-introduction-menu .inspection img {
    width: 357px;
    margin-top: 42%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(1) {
    width: 354px;
    margin-top: 2.5%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(2) {
    width: 350px;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 1%;
  }
  #business-introduction-menu .safety-initiatives img {
    width: 357px;
    margin-top: 10%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(1) {
    width: 354px;
    padding-left: 1%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(2) {
    width: 350px;
    font-size: 13px;
    margin-left: 1%;
  }
  #business-introduction-menu .cs-improvement img {
    width: 357px;
    margin-top: 24%;
    margin-left: 0%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(1) {
    width: 354px;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(2) {
    width: 350px;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 1%;
  }
  #business-introduction-menu .education-and-training img {
    width: 357px;
    margin-top: 13%;
    margin-left: 0%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(1) {
    width: 354px;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(2) {
    width: 350px;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 1%;
  }
  #business {
    display: none;
  }
  #guidelines {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 15%;
  }
  #guidelines p {
    border: none;
  }
  #guidelines .guidelines-about-the-use-of-the-site {
    flex-basis: 360px;
    margin-top: 0px;
    margin-left: -170px;
    background-color: #888888;
    width: 358px;
  }
  #guidelines .guidelines-privacy-policy {
    flex-basis: 360px;
    margin-left: -155px;
    padding-left: 130px;
    background-color: #888888;
    width: 60px;
  }
  #guidelines .guidelines-basic-policy-on-specific-personal-information {
    flex-basis: 360px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines .guidelines-compliance-initiatives {
    flex-basis: 360px;
    margin-left: -159px;
    background-color: #888888;
  }
  #guidelines .guidelines-anti-social-forces {
    flex-basis: 360px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines .guidelines-site-map {
    flex-basis: 360px;
    margin-left: -155px;
    padding-left: 135px;
    background-color: #888888;
  }
  footer {
    width: 310px;
    font-size: 14px;
    margin-top: 63%;
    height: 50px;
  }
}
@media(min-width: 375px) and (max-width: 410px) {
  #container {
    width: auto;
  }
  .head-content h1 img {
    width: 100%;
    float: left;
  }
  #business-overview {
    width: 100%;
    margin-left: 0px;
    font-size: 4px;
  }
  #contact {
    display: none;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service {
    position: relative;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
    width: 95%;
    font-size: 21px;
    margin-left: 10px;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
    margin-left: 10px;
    width: 95%;
  }
  #business-introduction-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation {
    width: 100%;
    margin-top: 15%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation img {
    width: 100%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 2%;
  }
  #business-introduction-menu .inspection img {
    width: 100%;
    margin-top: 42%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(1) {
    width: 99%;
    margin-top: 2.5%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 1%;
  }
  #business-introduction-menu .safety-initiatives img {
    width: 100%;
    margin-top: 10%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 1%;
  }
  #business-introduction-menu .cs-improvement img {
    width: 100%;
    margin-top: 24%;
    margin-left: 0%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(1) {
    width: 99%;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 1%;
  }
  #business-introduction-menu .education-and-training img {
    width: 100%;
    margin-top: 13%;
    margin-left: 0%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(1) {
    width: 99%;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 1%;
  }
  #business {
    display: none;
  }
  #guidelines {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 25%;
  }
  #guidelines p {
    border: none;
  }
  #guidelines p:nth-of-type(1) {
    flex-basis: 375px;
    margin-top: 0px;
    margin-left: -170px;
    background-color: #888888;
    width: 373px;
  }
  #guidelines p:nth-of-type(2) {
    flex-basis: 375px;
    margin-left: -155px;
    padding-left: 130px;
    background-color: #888888;
    width: 75px;
  }
  #guidelines p:nth-of-type(3) {
    flex-basis: 375px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(4) {
    flex-basis: 375px;
    margin-left: -159px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(5) {
    flex-basis: 375px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(6) {
    flex-basis: 375px;
    margin-left: -155px;
    padding-left: 135px;
    background-color: #888888;
  }
  footer {
    width: 345px;
    font-size: 14px;
    margin-top: 60%;
    margin-left: -20px;
    height: 50px;
  }
}
@media(min-width: 411px) and (max-width: 411px) {
  #container {
    width: auto;
  }
  .head-content h1 img {
    width: 100%;
    float: left;
  }
  #business-overview {
    width: 95%;
    margin-left: 10px;
    font-size: 4px;
  }
  #contact {
    display: none;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service {
    position: relative;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
    width: 95%;
    font-size: 21px;
    margin-left: 10px;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
    margin-left: 10px;
    width: 95%;
  }
  #business-introduction-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation {
    width: 100%;
    margin-top: 15%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation img {
    width: 100%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 2%;
  }
  #business-introduction-menu .inspection img {
    width: 100%;
    margin-top: 42%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(1) {
    width: 99%;
    margin-top: 2.5%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 1%;
  }
  #business-introduction-menu .safety-initiatives img {
    width: 100%;
    margin-top: 10%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 1%;
  }
  #business-introduction-menu .cs-improvement img {
    width: 100%;
    margin-top: 24%;
    margin-left: 0%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(1) {
    width: 99%;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 1%;
  }
  #business-introduction-menu .education-and-training img {
    width: 100%;
    margin-top: 13%;
    margin-left: 0%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(1) {
    width: 99%;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 1%;
  }
  #business {
    display: none;
  }
  #guidelines {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 15%;
  }
  #guidelines p {
    border: none;
  }
  #guidelines p:nth-of-type(1) {
    flex-basis: 411px;
    margin-top: 0px;
    margin-left: -170px;
    background-color: #888888;
    width: 406px;
  }
  #guidelines p:nth-of-type(2) {
    flex-basis: 411px;
    margin-left: -155px;
    padding-left: 150px;
    background-color: #888888;
    width: 111px;
  }
  #guidelines p:nth-of-type(3) {
    flex-basis: 411px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(4) {
    flex-basis: 411px;
    margin-left: -159px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(5) {
    flex-basis: 411px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines p:nth-of-type(6) {
    flex-basis: 411px;
    margin-left: -155px;
    padding-left: 155px;
    background-color: #888888;
  }
  footer {
    width: 361px;
    font-size: 14px;
    margin-top: 47%;
    height: 50px;
  }
}
@media(min-width: 412px) and (max-width: 414px) {
  #container {
    width: auto;
  }
  .head-content h1 img {
    width: 100%;
    float: left;
  }
  #business-overview {
    width: 95%;
    margin-left: 10px;
    font-size: 4px;
  }
  #contact {
    display: none;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service {
    position: relative;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
    width: 95%;
    font-size: 21px;
    margin-left: 10px;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
    margin-left: 10px;
    width: 95%;
  }
  #business-introduction-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation {
    width: 100%;
    margin-top: 15%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation img {
    width: 100%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 2%;
  }
  #business-introduction-menu .inspection img {
    width: 100%;
    margin-top: 42%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(1) {
    width: 99%;
    margin-top: 2.5%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 1%;
  }
  #business-introduction-menu .safety-initiatives img {
    width: 100%;
    margin-top: 10%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 1%;
  }
  #business-introduction-menu .cs-improvement img {
    width: 100%;
    margin-top: 24%;
    margin-left: 0%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(1) {
    width: 99%;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 1%;
  }
  #business-introduction-menu .education-and-training img {
    width: 100%;
    margin-top: 13%;
    margin-left: 0%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(1) {
    width: 99%;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 1%;
  }
  #business {
    display: none;
  }
  #guidelines {
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 25%;
  }
  #guidelines p {
    border: none;
  }
  #guidelines .guidelines-about-the-use-of-the-site {
    flex-basis: 414px;
    margin-top: 0px;
    margin-left: -170px;
    background-color: #888888;
    width: 412px;
  }
  #guidelines .guidelines-privacy-policy {
    flex-basis: 415px;
    margin-left: -155px;
    padding-left: 155px;
    background-color: #888888;
    width: 115px;
  }
  #guidelines .guidelines-basic-policy-on-specific-personal-information {
    flex-basis: 415px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines .guidelines-compliance-initiatives {
    flex-basis: 415px;
    margin-left: -159px;
    background-color: #888888;
  }
  #guidelines .guidelines-anti-social-forces {
    flex-basis: 415px;
    margin-left: -170px;
    background-color: #888888;
  }
  #guidelines .guidelines-site-map {
    flex-basis: 415px;
    margin-left: -155px;
    padding-left: 165px;
    background-color: #888888;
  }
  footer {
    width: 384px;
    font-size: 14px;
    margin-top: 57%;
    margin-left: -20px;
    height: 50px;
  }
}
@media(min-width: 415PX) and (max-width: 768px) {
  #container {
    width: auto;
  }
  .head-content h1 img {
    width: 100%;
    float: left;
  }
  #business-overview {
    width: 95%;
    margin-left: 15px;
    font-size: 18px;
  }
  #contact {
    display: none;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service {
    position: relative;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2 {
    width: 95%;
    font-size: 21px;
    margin-left: 10px;
  }
  #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p {
    margin-left: 10px;
    width: 95%;
  }
  #business-introduction-menu {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation {
    width: 100%;
    margin-top: 15%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation img {
    width: 100%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .quality-improvement-and-environmental-conservation p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 2%;
  }
  #business-introduction-menu .inspection img {
    width: 100%;
    margin-top: 42%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(1) {
    width: 99%;
    margin-top: 2.5%;
    margin-left: 0%;
  }
  #business-introduction-menu .inspection p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 3%;
    margin-left: 1%;
  }
  #business-introduction-menu .safety-initiatives img {
    width: 100%;
    margin-top: 10%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(1) {
    width: 99%;
    padding-left: 1%;
  }
  #business-introduction-menu .safety-initiatives p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-left: 1%;
  }
  #business-introduction-menu .cs-improvement img {
    width: 100%;
    margin-top: 24%;
    margin-left: 0%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(1) {
    width: 99%;
    margin-top: 1%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .cs-improvement p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 2%;
    margin-left: 1%;
  }
  #business-introduction-menu .education-and-training img {
    width: 100%;
    margin-top: 13%;
    margin-left: 0%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(1) {
    width: 99%;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 1%;
  }
  #business-introduction-menu .education-and-training p:nth-of-type(2) {
    width: 95%;
    font-size: 13px;
    margin-top: 1%;
    margin-left: 1%;
  }
  #business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
    font-size: 10px;
  }
  #business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 35px;
    padding-top: 15px;
  }
  #efforts {
    margin-top: -16%;
    margin-left: 180px;
  }
  #overview {
    margin-top: -18.5%;
    margin-left: 380px;
  }
  #case {
    margin-top: -18.5%;
    margin-left: 560px;
  }
  #business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 110px;
    line-height: 30px;
  }
  #business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 165px;
    line-height: 30px;
  }
  #business .overview-company-profile {
    border-bottom: 1px solid;
    width: 140px;
    line-height: 30px;
  }
  #business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
  #business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
  #business .efforts-quality {
    line-height: 30px;
  }
  #business .overview-greetings {
    line-height: 30px;
  }
  #business .case-examples-of-construction-work {
    line-height: 30px;
  }
  #guidelines {
    font-size: 12px;
    margin-top: 73px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
  }
  #guidelines .guidelines-about-the-use-of-the-site {
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -110px;
    text-align: center;
  }
  #guidelines .guidelines-privacy-policy {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
  }
  #guidelines .guidelines-basic-policy-on-specific-personal-information {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines .guidelines-compliance-initiatives {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines .guidelines-anti-social-forces {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines .guidelines-site-map {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
  }
  #guidelines {
    margin-left: 0px;
    padding-left: 150px;
  }
  footer {
    width: 718px;
    font-size: 14px;
    height: 50px;
    margin-top: 70px;
  }
}