@charset "utf-8";
/* CSS Document */
  body {
    margin: 0;
  }
  #container {
    margin: 0 auto;
    max-width: 960px;
  }
  #main-image p {
    font-size: 20px;
    color: #ffffff;
    height: 311px;
	width: 100%;
	margin-top: 20px;
	padding-top: 100px;
	padding-left: 100px;
	background-repeat: no-repeat;
    background-image: url("../img/jpg/kowa-bill.jpg")
   }
  header {
   margin-left: 10px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 443px;
    margin-top: -40px;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
  }
 #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	right: 920px;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	right: 820px;
  }
#promoted-by-professionals {
	position: relative;
}
#promoted-by-professionals h2 {
	margin-top: 0px;
}
#promoted-by-professionals p {
	margin-top: 50px;
}
#promoted-by-professionals img {
	position: absolute;
	top: 0px;
	left:460px;
}
#introduction-of-each-company {
	position: relative;
}
.introduction-of-each-company-02 {
	width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-image:url("../img/png/introduction-of-each-company-introducation-image.png");
	position: relative;
}
.introduction-of-each-company-02 h2{
	background-color: #A2A2A2;
	text-align: center;
	width: 40%;
	height: 30px;
	font-size: 18px;
	padding-top: 10px;
	position: absolute;
	top: 50px;
	left: 30%;
}
.introduction-of-each-company-02 li {
	display: inline;
	list-style: none;
	background-color: #A2A2A2;
	width: 105px;
	font-size: 14px;
	}
.introduction-of-each-company-02  ul li:nth-of-type(1) {
	position: absolute;
	top: 160px;
	left: 215px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
	}
.introduction-of-each-company-02 ul li:nth-of-type(2) {
	position: absolute;
	top: 160px;
	left: 365px;
	width: 95px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-02 ul li:nth-of-type(3) {
	position: absolute;
	top: 160px;
	left: 505px;
	width: 97px;
	height: 50px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-02 ul li:nth-of-type(4) {
	position: absolute;
	top: 160px;
	left: 645px;
	height: 60px;
	width: 80px;
	padding-top: 30px;
	padding-left: 23px;
	}
.introduction-of-each-company-03 {
	background: url("../img/png/introduction-of-each-company-consignment-property-image-2.png");
	background-repeat: no-repeat;
	width: 100%;
	height: 156px;
	}
.introduction-of-each-company-03 p {
	font-size: 14px;
	width: 75px;
	height: 20px;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #2EBFFB;
	margin-left: 200px;
	position: absolute;
	top: 55.4%;
}
.introduction-of-each-company-04 {
	background: url("../img/png/introduction-of-each-company-construction-examples-image-2.png");
	background-repeat: no-repeat;
	background-position: right;
	width: 100%;
	height: 156px;
	position: absolute;
	top: 51.4%;
	}
.introduction-of-each-company-04 p {
	font-size: 14px;
	width: 75px;
	height: 20px;
	padding-top: 10px;
	padding-left: 15px;
	background-color: #81F52E;
	position: absolute;
	top: 43%;
	left: 71%;
}
.introduction-of-each-company-05 {
	width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-image: url("../img/png/kowa-kenshu.png");
	position: relative;
}
.introduction-of-each-company-05 h2{
	background-color: #A2A2A2;
	text-align: center;
	width: 40%;
	height: 30px;
	font-size: 18px;
	padding-top: 10px;
	position: absolute;
	top: 50px;
	left: 30%;
}
.introduction-of-each-company-05 li {
	display: inline;
	list-style: none;
	background-color: #A2A2A2;
	width: 105px;
	font-size: 14px;
	}
.introduction-of-each-company-05  ul li:nth-of-type(1) {
	position: absolute;
	top: 160px;
	left: 215px;
	width: 95px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
	}
.introduction-of-each-company-05 ul li:nth-of-type(2) {
	position: absolute;
	top: 160px;
	left: 325px;
	width: 95px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-05 ul li:nth-of-type(3) {
	position: absolute;
	top: 160px;
	left: 435px;
	width: 97px;
	height: 60px;
	padding-top: 40px;
	text-align: center;
}
.introduction-of-each-company-05 ul li:nth-of-type(4) {
	position: absolute;
	top: 160px;
	left: 545px;
	height: 60px;
	width: 80px;
	padding-top: 40px;
	padding-left: 23px;
	}
.introduction-of-each-company-05 ul li:nth-of-type(5) {
	position: absolute;
	top: 160px;
	left: 655px;
	height: 60px;
	width: 80px;
	padding-top: 40px;
	padding-left: 23px;
	margin-left: 4px;
	}
.introduction-of-each-company-06 {
	width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-image: url("../img/png/introduction-of-each-company-company-profile-image-2.png");
	position: relative;
}
.introduction-of-each-company-06 p:nth-of-type(1) {
	
}
.introduction-of-each-company-06 p:nth-of-type(2) {

}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
  #introduction-of-each-business {
    margin-top: 100px;
    margin-left: 100px;
    padding-top: 15px;
  }
#news {
	margin-top: 500px;
	position: relative;
}
#news p:nth-of-type(1) {
	position: absolute;
	top: 0px;
	left: 130px;
}
#news p:nth-of-type(2) {
	position: absolute;
	top: 0px;
	left: 800px;
}
#news dl {
	margin-top: 20px;
}
#news dt {
	border-top: 1px dashed;
	padding-top: 20px;
	padding-bottom: 20px;
}
#news dt:last-of-type {
	border-bottom: 1px dashed;
}
#news dd:nth-of-type(1) {
	position: absolute;
	top: 56px;
	left: 130px;
}
#news dd:nth-of-type(2) {
	position: absolute;
	top: 113px;
	left: 130px;
}
#news dd:nth-of-type(3) {
	position: absolute;
	top: 170px;
	left: 130px;
}
#news dd:nth-of-type(4) {
	position: absolute;
	top: 228px;
	left: 130px;
}
#news dd:nth-of-type(5) {
	position: absolute;
	top: 284px;
	left: 130px;
}
#news dd:nth-of-type(6) {
	position: absolute;
	top: 343px;
	left: 130px;
}
  #efforts {
    margin-top: -121px;
    margin-left: 300px;
  }
  #overview {
    margin-top: -141px;
    margin-left: 550px;
  }
  #case {
    margin-top: -141px;
    margin-left: 750px;
  }
  #guidelines {
    font-size: 12px;
    margin-top: 73px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
  }
  #introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
  #efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
  #overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
  #case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
  #introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
  #efforts-quality {
    line-height: 30px;
  }
  #overview-greetings {
    line-height: 30px;
  }
  #case-examples-of-construction-work {
    line-height: 30px;
  }
  #guidelines-about-the-use-of-the-site {
    border-left: 1px solid;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -20px;
    text-align: center;
  }
  #guidelines-privacy-policy {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
  }
  #guidelines-basic-policy-on-specific-personal-information {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines-compliance-initiatives {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines-anti-social-forces {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  #guidelines-site-map {
    margin-left: 5px;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
  }
  #guidelines {
    margin-left: 150px;
  }
  footer {
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 50px;
    color: #FFFFFF;
    background-color: #5B8834;
    width: 900px;
    height: 30px;
  }
  @media(max-width: 960px) {
    #container {
      width: auto;
    }
    #company h1 {
      width: 360px;
      font-size: 15px;
      margin-left: 60px;
      margin-top: 80px;
    }
    #company img {
      width: auto;
      margin-left: 5px;
    }
    #business-overview {
      width: 360px;
      margin-top: -80px;
      margin-left: 5px;
      font-size: 4px;
    }
    #contact {
      width: 360px;
      margin-top: 10px;
      margin-left: 170px;
    }
    #parent-fictional-real-estate-group {
      width: 110px;
      margin-top: -20px;
      margin-left: 4px;
      font-size: 10px;
    }
    #parent-trusted-and-proven-parther {
      width: 250px;
      font-size: 5px;
      margin-top: -20px;
    }
    #main-image img {
      width: 360px;
      margin-top: 0px;
    }
    #main-image p {
      width: 360px;
      font-size: 5px;
      margin-top: -90px;
      margin-left: 50px;
      line-height: 1.5em;
    }
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
    }
    #guidelines p {
      border: none;
    }
    #guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 360px;
    }
	#guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 227px;
	  height: 50px;
    }
  }