@charset "utf-8";
/* CSS Document */
 body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 463px;
    margin-top: -4.5%;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
  }
#contact .contact-contact-us{
	position: absolute;
	top: 30px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
#specialist-in-building-management-that-plays-a-role .title h2{
	font-size: 30px;
	width: 520px;
	line-height: 1.5em;
	margin-top: 150px;
}
#specialist-in-building-management-that-plays-a-role .title img{
	margin-top: 4%;
	margin-left: 70%;
}
#specialist-in-building-management-that-plays-a-role .title p{
	font-size: 14px;
	width: 620px;
	line-height: 2em;
	margin-top: -25%;
	padding-top: 3%;
}
#company-profile-link ul li{
	list-style: none;
}
#company-profile-link .greeting p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 40px;
	}
#company-profile-link .greeting a{
	text-decoration: none;
	}
#company-profile-link .arrow-first{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 2%;
}
#company-profile-link .circle-first{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.8%;
    margin-left: 1.5%;
}
#company-profile-link .about-us p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: -33px;
	margin-left: 31%;
	padding-top: 10px;
	padding-left: 40px;
}
#company-profile-link .about-us a{
	text-decoration: none;
	}
#company-profile-link .arrow-second{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 33.2%;
}
#company-profile-link .circle-second{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.7%;
    margin-left: 32.5%;
}
#company-profile-link .group-enterprise p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: -33px;
	margin-left: 62%;
	padding-top: 10px;
	padding-left: 40px;
}
#company-profile-link .group-enterprise a{
	text-decoration: none;
	}
#company-profile-link .arrow-third{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -2.9%;
	margin-left: 64%;
}
#company-profile-link .circle-third{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.8%;
    margin-left: 63.5%;
}
#company-profile-link .list-of-technical-qualifications p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 50px;
	padding-top: 10px;
	padding-left: 40px;	
}
#company-profile-link .list-of-technical-qualifications a{
	text-decoration: none;
	}
#company-profile-link .arrow-fourth{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 2%;
}
#company-profile-link .circle-fourth{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.8%;
    margin-left: 1.5%;
}
#company-profile-link .access-map p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: -34px;
	margin-left: 31%;
	padding-top: 10px;
	padding-left: 40px;
}
#company-profile-link .access-map a{
	text-decoration: none;
	}
#company-profile-link .arrow-five{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	margin-top: -27px;
	margin-left: 33.2%;
}
#company-profile-link .circle-five{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    margin-top: -1.8%;
    margin-left: 32.5%;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 300px;
      float: left;
    }
    #business-overview {
      width: 355px;
      margin-left: 0px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
	#specialist-in-building-management-that-plays-a-role .title h2{
	  width: 300px;
	  margin-left: 30px;
	}
	#specialist-in-building-management-that-plays-a-role .title img{
		margin-top: 10%;
		margin-left: 20%;
	}
	#specialist-in-building-management-that-plays-a-role .title p{
		width: 350px;
		margin-top: 10%;
		margin-left: 1%;
	}
	#company-profile-link{
	position: relative;
}
    #company-profile-link .greeting p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 50px;
	margin-left: 50px;
	padding-top: 10px;
	padding-left: 40px;
	z-index: -1;
	}
   #company-profile-link .arrow-first{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	position: absolute;
	top: 15%;
	left: 18%;
	z-index: 3;
}
   #company-profile-link .circle-first{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    position: absolute;
	top: 5%;
	left: 17%;
	z-index: 2;
}
   #company-profile-link .about-us p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 5%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 40px;
}
   #company-profile-link .arrow-second{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	position: absolute;
	top: 36%;
	left: -13%;
	z-index: 3;
}
   #company-profile-link .circle-second{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    position: absolute;
	top: 26%;
	left: -14%;
	z-index: 2;
}
   #company-profile-link .group-enterprise p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 5%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 40px;
}
   #company-profile-link .arrow-third{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	position: absolute;
	top: 51%;
	left: -44%;
	z-index: 3;
}
   #company-profile-link .circle-third{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    position: absolute;
	top: 47%;
	left: -45%;
	z-index: 2;
}
   #company-profile-link .list-of-technical-qualifications p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 5%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 40px;	
}
   #company-profile-link .arrow-fourth{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	position: absolute;
	top: 78%;
	left: 18%;
	z-index: 3
}
  #company-profile-link .circle-fourth{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    position: absolute;
	top: 68%;
	left: 17%;
	z-index: 2
}
  #company-profile-link .access-map p{
	border: 2px solid #5c8934;
	height: 30px;
	width: 230px;
	margin-top: 5%;
	margin-left: 14%;
	padding-top: 10px;
	padding-left: 40px;
}
  #company-profile-link .arrow-five{
	content: "";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 8px 0px 8px;
	border-color: #ffffff transparent transparent transparent;
	transform: rotate(270deg);
	position: absolute;
	top: 99%;
	left: -13%;
	z-index: 3
}
  #company-profile-link .circle-five{
	 width: 25px;
    height: 25px;
    background-color: #B7AA00;
    border-radius: 50%;
    position: absolute;
	top: 89%;
	left: -14%;
	z-index: 2
}
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 358px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 227px;
	  height: 50px;
    }
  }