@charset "utf-8";
/* CSS Document */
  body {
    margin: 0;
  }
  #container {
    margin: 0 auto;
    max-width: 960px;
  }
  header {
   margin-left: 10px;
  }
 #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 448px;
    margin-top: -45px;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
}
 #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	right: 630px;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	right: 530px;
  }
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2{
	color: #5c8934;
	margin-top: 50px;
	margin-left: 60px;
	line-height: 1.5rem;
	font-size: 20px;
    width: 420px;
}
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p{
	font-size: 12px;
	margin-top: 20px;
	margin-left: 60px;
	line-height: 1.5rem;
    width: 670px;
}
#main-image img{
    margin-left: 50%;
    margin-top: -40%;
}
#business-introduction-menu{
	display: flex;
	flex-wrap: wrap;
    text-decoration: none;
}
#business-introduction-menu a{
    text-decoration: none;
    color: #000000;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dt{
	margin-top: 20%;
    border-top: solid 10px #B8860B;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dd:nth-of-type(1){
	color: #B8860B;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dd:nth-of-type(2){
	padding-top: 10px;
	font-size: 14px;
    width: 440px;
}
#business-introduction-menu .inspection dt{
	margin-top: -32.9%;
    margin-left: 520px;
    border-top: solid 10px #B8860B;
}
#business-introduction-menu .inspection dd:nth-of-type(1){
	margin-left: 515px;
	color: #B8860B;
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .inspection dd:nth-of-type(2){
	margin-left: 515px;
	padding-top: 10px;
	margin-top: 9px;
	width: 476px;
	font-size: 14px;;
}
#business-introduction-menu .safety-initiatives dt{
	margin-top: 20%;
    border-top: solid 10px #B8860B;
}
#business-introduction-menu .safety-initiatives dd:nth-of-type(1){
	color: #B8860B;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .safety-initiatives dd:nth-of-type(2){
	padding-top: 10px;
	width: 476px;
	font-size: 14px;;
}
#business-introduction-menu .cs-improvement dt{
	margin-top: -33%;
	margin-left: 515px;
    border-top: solid 10px #B8860B;
}
#business-introduction-menu .cs-improvement dd:nth-of-type(1){
	color: #B8860B;
	margin-bottom: 10px;
	margin-left: 515px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .cs-improvement dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	margin-left: 515px;
	font-size: 14px;
}
#business-introduction-menu .education-and-training dt{
	margin-top: 10%;
	border-top: solid 10px #B8860B;
}
#business-introduction-menu .education-and-training dd:nth-of-type(1){
	color: #B8860B;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .education-and-training dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	font-size: 14px;
}
#business{
	background-color: #888888;
	height: 160px;
	line-height: 20px;
}
#introduction-of-each-business{
	margin-top: 100px;
	margin-left: 100px;
	padding-top: 15px;
}
#efforts{
	margin-top: -121px;
	margin-left: 300px;
	}
#overview{
	margin-top: -141px;
	margin-left: 550px;
}
#case{
	margin-top: -141px;
	margin-left: 750px;
}
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}
#introduction-of-each-business-introducation{
	border-bottom: 1px solid;
	width: 190px;
	line-height: 30px;
}
#efforts-quality-improvement{
	border-bottom: 1px solid;
	width: 235px;
	line-height: 30px;
}
#overview-company-profile{
	border-bottom: 1px solid;
	width: 190px;
	line-height: 30px;
}
#case-entrusted-property{
	border-bottom: 1px solid;
	width: 200px;
	line-height: 30px;
}
#introduction-of-each-business-building-equipment-management{
	line-height: 30px;
}
#efforts-quality{
	line-height: 30px;
}
#overview-greetings{
	line-height: 30px;
}
#case-examples-of-construction-work{
	line-height: 30px;
}
#guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    #company h1 {
      width: 360px;
      font-size: 15px;
      margin-left: 60px;
      margin-top: 80px;
    }
    #company img {
      width: auto;
      margin-left: 5px;
    }
    #business-overview {
      width: 360px;
      margin-top: -80px;
      margin-left: 5px;
      font-size: 4px;
    }
    #contact {
      width: 360px;
      margin-top: 10px;
      margin-left: 170px;
    }
    #parent-fictional-real-estate-group {
      width: 110px;
      margin-top: -20px;
      margin-left: -40px;
      font-size: 10px;
    }
    #parent-trusted-and-proven-parther {
      width: 250px;
      font-size: 5px;
      margin-top: -20px;
    }
    #main-image img {
      width: 360px;
      margin-top: 0px;
    }
    #main-image p {
      width: 360px;
      font-size: 5px;
      margin-top: -90px;
      margin-left: 50px;
      line-height: 1.5em;
    }
      #business {
      display: none;
    }
	#business-introduction-menu {
		position: relative;
		width: 360px;
	}
	#business-introduction-menu .business-introduction-menu-cleaning-management {
		position: absolute;
		top: 750px;
		right: -115px;
	}
	#business-introduction-menu .business-introduction-menu-construction {
		position: absolute;
		top: 750px;
	}
	#business-introduction-menu .business-introduction-menu-customer-support {
		position: absolute;
		top: 1500px;
		right: -115px;
	}
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
	  margin-top: 1200px;
    }
    #guidelines p {
      border: none;
    }
    #guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: -20px;
      margin-left: -170px;
      background-color: #888888;
	  width: 360px;
    }
	#guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
    }
    #guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 1314px;
	  height: 50px;
    }
  }