@charset "utf-8";
/* CSS Document */
 body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 463px;
    margin-top: -4.2%;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
    
  }
  #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2{
    color: #5c8934;
    font-size: 35px;
    width: 600px;
    margin-top: 100px;
}
#promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p{
    width: 440px;
    line-height: 1.5em;
    margin-top: 50px;
}
#main-image img{
    float: right;
    margin-top: -43%;
}
#business-introduction-menu{
	display: flex;
	flex-wrap: wrap;
    text-decoration: none;
}
#business-introduction-menu a{
    text-decoration: none;
    color: #000000;
}
#business-introduction-menu .business-introduction-menu-building-equipment-management dt{
	margin-top: 75%;
    border-top: solid 10px #007A66;
}
#business-introduction-menu .business-introduction-menu-building-equipment-management dd:nth-of-type(1){
	color: #007A66;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .business-introduction-menu-building-equipment-management dd:nth-of-type(2){
	padding-top: 10px;
	font-size: 14px;
    width: 440px;
}
#business-introduction-menu .business-introduction-menu-cleaning-management dt{
	margin-top: -32.9%;
    margin-left: 520px;
    border-top: solid 10px #82A61C;
}
#business-introduction-menu .business-introduction-menu-cleaning-management dd:nth-of-type(1){
	margin-left: 515px;
	color: #82A61C;
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .business-introduction-menu-cleaning-management dd:nth-of-type(2){
	margin-left: 515px;
	padding-top: 10px;
	margin-top: 9px;
	width: 476px;
	font-size: 14px;;
}
#business-introduction-menu .business-introduction-menu-construction dt{
	margin-top: 20%;
    border-top: solid 10px #8F671E;
}
#business-introduction-menu .business-introduction-menu-construction dd:nth-of-type(1){
	color: #8F671E;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .business-introduction-menu-construction dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	font-size: 14px;;
}
#business-introduction-menu .business-introduction-menu-customer-support dt{
	margin-top: -33%;
	margin-left: 515px;
    border-top: solid 10px #0076A9;
}
#business-introduction-menu .business-introduction-menu-customer-support dd:nth-of-type(1){
	color: #0076A9;
	margin-bottom: 10px;
	margin-left: 515px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .business-introduction-menu-customer-support dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	margin-left: 515px;
	font-size: 14px;
}#business-introduction-menu{
	display: flex;
	flex-wrap: wrap;
    text-decoration: none;
}
#business-introduction-menu a{
    text-decoration: none;
    color: #000000;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dt{
	margin-top: 20%;
    border-top: solid 10px #007A66;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dd:nth-of-type(1){
	color: #007A66;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .quality-improvement-and-environmental-conservation dd:nth-of-type(2){
	padding-top: 10px;
	font-size: 14px;
    width: 440px;
}
#business-introduction-menu .inspection dt{
	margin-top: -32.9%;
    margin-left: 520px;
    border-top: solid 10px #82A61C;
}
#business-introduction-menu .inspection dd:nth-of-type(1){
	margin-left: 515px;
	color: #82A61C;
	margin-top: 10px;
	padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .inspection dd:nth-of-type(2){
	margin-left: 515px;
	padding-top: 10px;
	margin-top: 9px;
	width: 476px;
	font-size: 14px;;
}
#business-introduction-menu .safety-initiatives dt{
	margin-top: 20%;
    border-top: solid 10px #8F671E;
}
#business-introduction-menu .safety-initiatives dd:nth-of-type(1){
	color: #8F671E;
	margin-bottom: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .safety-initiatives dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	font-size: 14px;;
}
#business-introduction-menu .cs-improvement dt{
	margin-top: -33%;
	margin-left: 515px;
    border-top: solid 10px #0076A9;
}
#business-introduction-menu .cs-improvement dd:nth-of-type(1){
	color: #0076A9;
	margin-bottom: 10px;
	margin-left: 515px;
	padding-top: 10px;
    padding-bottom: 10px;
	font-size: 25px;
    border-bottom: 1px solid #000000;
}
#business-introduction-menu .cs-improvement dd:nth-of-type(2){
	padding-top: 10px;
	width: 475px;
	margin-left: 515px;
	font-size: 14px;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 300px;
      float: left;
    }
    #business-overview {
      width: 360px;
      margin-left: 0px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service{
      position: relative;
      }
    #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service h2{
      width: 340px;
      font-size: 21px;
      margin-left: 10px;
      }
    #promoted-by-professionals-familiar-with-building-sites-reliable-and-reliable-one-stop-service p{
      margin-left: 10px;
      width: 340px;
      }
    #main-image img{
      width: 360px;
      position: absolute;
      top: 135%;
      left: 0%;
      }
    #business-introduction-menu{
      display: flex;
      flex-direction: column;
      position: relative;
    }
    #business-introduction-menu .business-introduction-menu-building-equipment-management{
      width: 357px;
      margin-top: 130%;
    }
    #business-introduction-menu .business-introduction-menu-building-equipment-management dt{
      width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-building-equipment-management dt img{
      width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-building-equipment-management dd:nth-of-type(1){
        width: 353px;
        padding-left: 1%;
    }
    #business-introduction-menu .business-introduction-menu-building-equipment-management dd:nth-of-type(2){
        width: 350px;
        font-size: 13px;
        position: absolute;
        left: 2%;
    }
    #business-introduction-menu .business-introduction-menu-cleaning-management{
        width: 357px;
        position: absolute;
        top: 128%;
        left: -144%
    }
    #business-introduction-menu .business-introduction-menu-cleaning-management dt{
        width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-cleaning-management dt img{
        width: 357px;
        margin-left: 0.1%;        
    }
    #business-introduction-menu .business-introduction-menu-cleaning-management dd:nth-of-type(1){
        width: 354px;
        padding-left: 1%;
    }
    #business-introduction-menu .business-introduction-menu-cleaning-management dd:nth-of-type(2){
        width: 350px;
        font-size: 13px;
        position: absolute;
        left: 3%;
    }
    #business-introduction-menu .business-introduction-menu-construction{
        width: 357px;
        position: absolute;
        top: 145%;;
    }
    #business-introduction-menu .business-introduction-menu-construction dt{
        width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-construction dt img{
        width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-construction dd:nth-of-type(1){
        width: 354px;
        padding-left: 1%;
    }
    #business-introduction-menu .business-introduction-menu-construction dd:nth-of-type(2){
        width: 350px;
        font-size: 13px;
        position: absolute;
        left: 2%;
    }
    #business-introduction-menu .business-introduction-menu-customer-support{
        width: 357px;
        position: absolute;
        top: 219%;
        left: -142.5%;
    }
    #business-introduction-menu .business-introduction-menu-customer-support dt{
        width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-customer-support dt img{
        width: 357px;
    }
    #business-introduction-menu .business-introduction-menu-customer-support dd:nth-of-type(1){
        width: 354px;
        padding-left: 1%;
    }
    #business-introduction-menu .business-introduction-menu-customer-support dd:nth-of-type(2){
        width: 350px;
        font-size: 13px;
    }
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
      margin-top: 280%;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 358px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 310px;
      font-size: 14px;
	  margin-top: 330%;
	  height: 50px;
    }
  }