@charset "utf-8";
/* CSS Document */
 body {
    margin: 0 0 0 0;
  }
  #container {
    margin: 0 auto 0 auto;
    max-width: 960px;
  }
  #business-overview {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-left: 463px;
    margin-top: -4.5%;
  }
  #contact p{
    font-size: 12px;
    color: #5B8834;
	position: relative;
    
  }
  #contact .contact-contact-us{
	position: absolute;
	top: 30px;
	left: 64.3%;
  }
  #contact .contact-site-map {
    position: absolute;
	top: 30px;
	left: 69%;
  }
#construction-examples .text h2{
    color: #d99365;
    font-size: 25px;
    margin-top: 150px;
    padding-bottom: 20px;
    border-bottom: solid 1px #000000;
}
#construction-examples .case001 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction1{
    background-color: #FFDBC9;
    height: 500px;
    position: relative;
}
#construction-examples .value-up-construction1 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .value-up-construction1 dd:nth-of-type(1){
    width: 890px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .value-up-construction1 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction1 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .value-up-construction1 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -30.2%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction1 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-first-1-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 134px;
    left: 136px;
}
#construction-examples .arrow-first-1-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 55%;
    left: 42%;
}
#construction-examples .arrow-first-1-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 26.5%;
    left: 53.3%;
}
#construction-examples .case002 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction2{
    background-color: #FFDBC9;
    height: 540px;
    position: relative;
}
#construction-examples .value-up-construction2 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .value-up-construction2 dd:nth-of-type(1){
    width: 900px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .value-up-construction2 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction2 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .value-up-construction2 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -28.7%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction2 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-second-2-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 25%;
    left: 136px;
}
#construction-examples .arrow-second-2-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 55%;
    left: 42%;
}
#construction-examples .arrow-second-2-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 24.5%;
    left: 53.3%;
}
#construction-examples .case003 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction3{
    background-color: #FFDBC9;
    height: 560px;
    position: relative;
}
#construction-examples .value-up-construction3 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .value-up-construction3 dd:nth-of-type(1){
    width: 920px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .value-up-construction3 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction3 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .value-up-construction3 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -30.2%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .value-up-construction3 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-third-3-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 27%;
    left: 136px;
}
#construction-examples .arrow-third-3-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 55%;
    left: 42%;
}
#construction-examples .arrow-third-3-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 26.5%;
    left: 53.3%;
}
#construction-examples .case004 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work1{
    background-color: #FFDBC9;
    height:1520px;
    position: relative;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(1){
    width: 920px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -49.7%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(6){
    height: 25px;
    width: 70px;
    margin-top: 80px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(7){
    margin-top: 10px;
   margin-left: 75px;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(8){
    height: 25px;
    width: 70px;
    margin-top: -49.7%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(9){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-fourth-4-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 9.9%;
    left: 136px;
}
#construction-examples .arrow-fourth-4-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 25%;
    left: 42%;
}
#construction-examples .arrow-fourth-4-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 9.8%;
    left: 53.3%;
}
#construction-examples .arrow-fourth-4-4{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 56.8%;
    left: 136px;
}
#construction-examples .arrow-fourth-4-5{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 73%;
    left: 42%;
}
#construction-examples .arrow-fourth-4-6{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 56.7%;
    left: 53.3%;
}
#construction-examples .case005 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work2{
    background-color: #FFDBC9;
    height: 540px;
    position: relative;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(1){
    width: 920px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -30.2%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-five-5-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 21.9%;
    left: 136px;
}
#construction-examples .arrow-five-5-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 50%;
    left: 42%;
}
#construction-examples .arrow-five-5-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 21.6%;
    left: 53.3%;
}
#construction-examples .case006 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work3{
    background-color: #FFDBC9;
    height: 570px;
    position: relative;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(1){
    width: 920px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -30.2%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-six-6-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 26.6%;
    left: 136px;
}
#construction-examples .arrow-six-6-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 50%;
    left: 42%;
}
#construction-examples .arrow-six-6-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 26.2%;
    left: 53.3%;
}
#construction-examples .case007 h2{
    height: 25px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work4{
    background-color: #FFDBC9;
    height: 560px;
    position: relative;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dt{
    color: #d99365;
    font-size: 22px;
    width: 915px;
    margin-left: 35px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 2px #000000;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(1){
    width: 920px;
    margin-top: 10px;
    margin-left: 35px;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(2){
    height: 25px;
    width: 70px;
    margin-top: 30px;
    margin-left: 75px;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(3){
    margin-top: 10px;
    margin-left: 75px;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(4){
    height: 25px;
    width: 70px;
    margin-top: -30.2%;
    margin-left: 47%;
    padding-top: 10px;
    background-color: #d99365;
}
#construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(5){
    margin-top: 10px;
    margin-left: 47%;
}
#construction-examples .arrow-seven-7-1{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 24.2%;
    left: 136px;
}
#construction-examples .arrow-seven-7-2{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 50%;
    left: 42%;
}
#construction-examples .arrow-seven-7-3{
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0px 18px;
    border-color: #d99365 transparent transparent transparent;
    transform: rotate(270deg);
    position: absolute;
    top: 23.8%;
    left: 53.3%;
}
#business {
    background-color: #888888;
    height: 160px;
    line-height: 20px;
  }
#business .introduction-of-each-business {
    margin-top: 20%;
    margin-left: 100px;
    padding-top: 15px;
  }
#efforts {
    margin-top: -12.6%;
    margin-left: 300px;
  }
#overview {
    margin-top: -141px;
    margin-left: 550px;
  }
#case {
    margin-top: -141px;
    margin-left: 750px;
  }
#business .introduction-of-each-business-introducation {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .efforts-quality-improvement {
    border-bottom: 1px solid;
    width: 235px;
    line-height: 30px;
  }
#business .overview-company-profile {
    border-bottom: 1px solid;
    width: 190px;
    line-height: 30px;
  }
#business .case-entrusted-property {
    border-bottom: 1px solid;
    width: 200px;
    line-height: 30px;
  }
#business .introduction-of-each-business-building-equipment-management {
    line-height: 30px;
  }
#business .efforts-quality {
    line-height: 30px;
  }
#business .overview-greetings {
    line-height: 30px;
  }
#business .case-examples-of-construction-work {
    line-height: 30px;
  }
#guidelines{
	font-size: 12px;
	margin-top: 73px;
	margin-left: 60px;
	display: flex;
	flex-direction: row;
}

#guidelines .guidelines-about-the-use-of-the-site{
	border-left: 1px solid;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: -20px;
	text-align: center;
}
#guidelines .guidelines-privacy-policy{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines .guidelines-basic-policy-on-specific-personal-information{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-compliance-initiatives{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-anti-social-forces{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}
#guidelines .guidelines-site-map{
	margin-left: 5px;
	border-right: 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}
#guidelines{
	margin-left: 0px;
	padding-left: 150px;
	}
footer{
	margin-top: 10px;
	padding-top: 15px;
	padding-left: 50px;
	color: #FFFFFF;
	background-color: #5B8834;
	width: 900px;
	height: 30px;
}
@media(max-width: 960px) {
    #container {
      width: auto;
    }
    .head-content h1 img{
      width: 300px;
      float: left;
    }
    #business-overview {
      width: 355px;
      margin-left: 0px;
      font-size: 4px;
    }
    #contact{
      display: none;
      }
    #construction-examples{
        position: relative;
    }
    #construction-examples .text h2{
        width: 348px;
    }
    #construction-examples .case001 h2{
        margin-left: 0%;
    }
    #construction-examples .value-up-construction1{
        width: 348px;
        height: 820px;
    }
    #construction-examples .value-up-construction1 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction1 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction1 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction1 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .value-up-construction1 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction1 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-first-1-1{
        position: absolute;
        top: 20.3%;
        left: 22.8%;
    }
    #construction-examples .arrow-first-1-2{
        transform: rotate(360deg);
        position: absolute;
        top: 56%;
    }
    #construction-examples .arrow-first-1-3{
        position: absolute;
        top: 60.2%;
        left: 22.8%;
    }
    #construction-examples .case002 h2{
        margin-left: 0%;
    }
    #construction-examples .value-up-construction2{
        width: 348px;
        height: 820px;
    }
    #construction-examples .value-up-construction2 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction2 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction2 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction2 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .value-up-construction2 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction2 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-second-2-1{
        position: absolute;
        top: 20.2%;
        left: 22.8%;
    }
    #construction-examples .arrow-second-2-2{
        transform: rotate(360deg);
        position: absolute;
        top: 56%;
    }
    #construction-examples .arrow-second-2-3{
        position: absolute;
        top: 60.2%;
        left: 22.8%;
    }
    #construction-examples .case003 h2{
        margin-left: 0%;
    }
    #construction-examples .value-up-construction3{
        width: 348px;
        height: 870px;
    }
    #construction-examples .value-up-construction3 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction3 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .value-up-construction3 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction3 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .value-up-construction3 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .value-up-construction3 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-third-3-1{
        position: absolute;
        top: 24%;
        left: 22.8%;
    }
    #construction-examples .arrow-third-3-2{
        transform: rotate(360deg);
        position: absolute;
        top: 59%;
    }
    #construction-examples .arrow-third-3-3{
        position: absolute;
        top: 63%;
        left: 22.8%;
    }
    #construction-examples .case004 h2{
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1{
        width: 348px;
        height: 2260px;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(6){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(6)+dd img{
        width: 325px;
        margin-left: -22.3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(8){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work1 dd:nth-of-type(8)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-fourth-4-1{
        position: absolute;
        top: 9.45%;
        left: 22.7%;
    }
    #construction-examples .arrow-fourth-4-2{
        transform: rotate(360deg);
        position: absolute;
        top: 30.7%;
    }
    #construction-examples .arrow-fourth-4-3{
        position: absolute;
        top: 32.35%;
        left: 22.5%;
    }
    #construction-examples .arrow-fourth-4-4{
        position: absolute;
        top: 55.17%;
        left: 22.6%;
    }
    #construction-examples .arrow-fourth-4-5{
        transform: rotate(360deg);
        position: absolute;
        top: 76.3%;
    }
    #construction-examples .arrow-fourth-4-6{
        position: absolute;
        top: 78.1%;
        left: 22.7%;
    }
    #construction-examples .case005 h2{
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2{
        width: 348px;
        height: 790px;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work2 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-five-5-1{
        position: absolute;
        top: 19%;
        left: 22.6%;
    }
    #construction-examples .arrow-five-5-2{
        transform: rotate(360deg);
        position: absolute;
        top: 55.5%;
    }
    #construction-examples .arrow-five-5-3{
        position: absolute;
        top: 60.5%;
        left: 22.6%;
    }
    #construction-examples .case006 h2{
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3{
        width: 348px;
        height: 870px;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work3 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-six-6-1{
        position: absolute;
        top: 26.4%;
        left: 22.6%;
    }
    #construction-examples .arrow-six-6-2{
        transform: rotate(360deg);
        position: absolute;
        top: 59.5%;
    }
    #construction-examples .arrow-six-6-3{
        position: absolute;
        top: 64%;
        left: 22.6%;
    }
    #construction-examples .case007 h2{
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4{
        width: 348px;
        height: 820px;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dt{
        width: 348px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(1){
        width: 340px;
        margin-left: 0%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(2){
        width: 80px;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(2)+dd img {
        width: 325px;
        margin-left: -22.8%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(4){
        width: 80px;
        margin-top: 10%;
        margin-left: 3%;
    }
    #construction-examples .equipment-and-energy-saving-renewal-work4 dd:nth-of-type(4)+dd img{
        width: 325px;
        margin-left: -83.2%;
    }
    #construction-examples .arrow-seven-7-1{
        position: absolute;
        top: 22.1%;
        left: 22.6%;
    }
    #construction-examples .arrow-seven-7-2{
        transform: rotate(360deg);
        position: absolute;
        top: 57.5%;
    }
    #construction-examples .arrow-seven-7-3{
        position: absolute;
        top: 62%;
        left: 22.6%;
    }
    #business {
      display: none;
    }
	#guidelines {
      display: flex;
      flex-wrap: wrap;
	  float: left;
    }
    #guidelines p {
      border: none;
    }
    #guidelines .guidelines-about-the-use-of-the-site {
      flex-basis: 360px;
      margin-top: 0px;
      margin-left: -170px;
      background-color: #888888;
	  width: 347px;
    }
	#guidelines .guidelines-privacy-policy {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 130px;
      background-color: #888888;
	  width: 60px;
    }
    #guidelines .guidelines-basic-policy-on-specific-personal-information {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-compliance-initiatives {
      flex-basis: 360px;
      margin-left: -159px;
      background-color: #888888;
    }
    #guidelines .guidelines-anti-social-forces {
      flex-basis: 360px;
      margin-left: -170px;
      background-color: #888888;
    }
    #guidelines .guidelines-site-map {
      flex-basis: 360px;
      margin-left: -155px;
      padding-left: 135px;
      background-color: #888888;
    }
    footer {
      width: 300px;
      font-size: 14px;
	  margin-top: 227px;
	  height: 50px;
    }
  }