@charset "utf-8";
/*================================================================================
	要素のスタイリング
================================================================================*/
body {
	background-color: #f5f5f5;
	font-size: 87.5%;
	color: #666666;
}
a {
	text-decoration: underline;
}
a:link {
	color: #339900;
}
a:visited {
	color: #339900;
}
a:hover {
	color: #ef5ba7;
}
/*================================================================================
	コンテンツ全体（#wrapper
================================================================================*/
#wrapper {
	margin: 0px auto;
	background-color: #FFFFFF;
	width: 900px;
}
/*================================================================================
	ヘッダ（#header）
================================================================================*/
#header {
	background-image: url(../img/bg_header.jpg);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	height: 135px;
}
/*===============================================================
		タグラインのテキスト（#header p）
===============================================================*/
#header p {
	font-size: 85.7%;
	color: #ffffff;
}
/*================================================================================
	メニューとメインコンテンツの親要素（#content）
================================================================================*/
#content:after {
	display: block;
	clear: both;
	content: "";
}
/*================================================================================
	メニュー（#nav）
================================================================================*/
#nav {
	width: 190px;
	float: left;
}
#nav h2 {	/*不要な要素を非表示にする*/
	width: 0px;
	height: 0px;
	min-height: 0px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#nav ul {
	margin-left: 10px;
	list-style: none;
}
#nav ul li {
	height: 54px;
}
/*================================================================================
	メインコンテンツ（#main）
================================================================================*/
#main {
	width: 650px;
	margin-right: 30px;
	float: right;
}
/*===============================================================
		アイテムリスト（div.item-list）の、画像周囲の枠線
===============================================================*/
#main .item-list dt {
	padding-top: 8px;
	padding-left: 8px;
}
#main .item-list .text {
	padding: 5px 8px 0px 8px;
	font-size: 87.5%;
	line-height: 1.5;
}
/*================================================================================
	フッタ（#footer）
================================================================================*/
#footer {
	margin-top: 30px;
	background-image: url(../img/bg_footer.jpg);
	background-repeat: repeat-x;
}
#footer h2 {	/*不要な要素を非表示にする*/
	width: 0px;
	height: 0px;
	min-height: 0px;
	overflow: hidden;
	position: absolute;
	top: 0;
}
#footer p {
	padding: 12px 0;
	text-align: center;
}
