@charset "utf-8";
/* CSS Document */
body {
  margin: 0 0 0 0;
  background: #f8f8f8;
  color: #5c5c5c;
  font-size: 14px;
  font-family: '游明朝', 'Yu Mincho', YuMincho, serif;
  font-weight: normal;
  letter-spacing: .04em;
  line-height: 1;
}
#container {
  margin: 0 auto;
}
section.toparea {
  width: 1200px;
  margin: 100px auto;
}
#head-content {
  margin-left: 0;
  text-align: center;
}
#head-content h1 img {
  width: 100px;
}
section.main-img-area{
  text-align: center;
}
section.top-img {
  width: 1200px;
  display: block;
  text-align: center;
}
.tea-ceremony-culture {
  text-align: left;
  margin-top: 100px;
}
.about-tea-theory h2 {
  width: 500px;
  font-size: 214.2%;
  letter-spacing: .2em;
  font-weight: normal;
  margin: 0 auto;
}
.about-tea-theory p:nth-of-type(1) {
  width: 500px;
  margin: 60px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.28;
  font-size: 121.4%;
}
.about-tea-theory p:nth-of-type(2) {
  width: 500px;
  margin: 60px auto 0 auto;
}
.about-tea-theory p a {
  color: #333;
}
section.newsarea {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
}
section.newsarea h2{
  font-size: 163.5%;
  margin-top: 180px;
}
#news dl {
  float: left;
  width: 300px;
  margin: 50px;
}
#news dt {
  width: 300px;
}
#news .end-of-business {
  text-align: left;
  position: relative;
}
#news .end-of-business dd:nth-of-type(1) {
  transform: rotate(90deg);
  position: absolute;
  top: 80px;
  left: 0px;
  opacity: 0.5;
}
#news .end-of-business dd:nth-of-type(2) {
  width: 40%;
  position: absolute;
  top: 370px;
  left: 45px;
}
#news .open-lectures {
  text-align: left;
  position: relative;
}
#news .open-lectures dd:nth-of-type(1) {
  transform: rotate(90deg);
  position: absolute;
  top: 80px;
  left: 400px;
  opacity: 0.5;
}
#news .open-lectures dd:nth-of-type(2) {
  width: 25%;
  line-height: 1.5em;
  position: absolute;
  top: 370px;
  left: 450px;
}
#news .end-of-new-membership {
  text-align: left;
  position: relative;
}
#news .end-of-new-membership dd:nth-of-type(1) {
  transform: rotate(90deg);
  position: absolute;
  top: 80px;
  left: 800px;
  opacity: 0.5;
}
#news .end-of-new-membership dd:nth-of-type(2) {
  width: 24%;
  line-height: 1.5em;
  position: absolute;
  top: 370px;
  left: 850px;
}
#news p {
  text-align: center;
  line-height: 150px;
}
#news p a {
  color: #333;
}
section.tea-theory-area{
  width: 1200px;
  margin: 0 auto;
}
#tea-theory-shop {
  position: relative;
}
#tea-theory-shop h2 {
  text-align: center;
  font-size: 163.5%;
  margin-top: 180px;
}
#tea-theory-shop dt {
  writing-mode: tb-rl;
  font-size: 178.5%;
  position: absolute;
  top: 130px;
  left: 200px;
}
#tea-theory-shop dd:nth-of-type(1) {
  text-align: center;
  margin: 100px auto;
}
#tea-theory-shop dd:nth-of-type(2) {
  margin: 45px 0 0 300px;
  font-size: 121.4%;
  font-weight: bold;
  line-height: 1.6;
}
#tea-theory-shop dd:nth-of-type(3) {
  margin: 20px 0 0 300px;
  width: 600px;
  line-height: 2.28em;
}
#tea-theory-shop p {
  line-height: 2.28;
  margin: 30px 0 0 300px;
}
#tea-theory-shop p a {
  color: #333;
}
#cafe {
  position: relative;
}
#cafe dt {
  writing-mode: tb-rl;
  font-size: 178.5%;
  margin: 250px 0 0 180px;
}
#cafe dd:nth-of-type(1) {
  margin: -150px 0 45px 270px;
}
#cafe dd:nth-of-type(2) {
  width: 500px;
  margin: 0 0 0 280px;
  font-size: 121.4%;
  font-weight: bold;
  line-height: 1.6;
}
#cafe dd:nth-of-type(3) {
  width: 600px;
  margin: 20px 0 0 280px;
  line-height: 2.28em;
}
#cafe p {
  width: 150px;
  margin: 30px 0 0 280px;
}
#cafe p a {
  color: #333;
}
section {
  content: "";
  display: block;
  clear: both;
}
#the-show {
  position: relative;
}
#the-show dt {
  writing-mode: tb-rl;
  font-size: 178.5%;
  margin: 250px 0 0 200px;
}
#the-show dd:nth-of-type(1) {
  margin: -150px 0 45px 270px;
}
#the-show dd:nth-of-type(2) {
  width: 500px;
  margin: 0 0 0 300px;
  font-size: 121.4%;
  font-weight: bold;
  line-height: 1.6;
}
#the-show dd:nth-of-type(3) {
  width: 600px;
  margin: 20px 0 0 300px;
  line-height: 2.28em;
}
#the-show p:nth-of-type(1) {
  width: 150px;
  margin: 30px 0 0 300px;
}
#the-show p:nth-of-type(2) {
  float: right;
  border-bottom: solid 1px;
  padding-left: 20px;
  margin: 50px 0 100px 0;
  transform: rotate(90deg);
}
#the-show p.arrow::after {
  content: "";
  display: block;
  width: 2px;
  height: 1px;
  border-right: 15px solid #000;
  transform: rotate(145deg);
  position: absolute;
  top: 9.49px;
  left: -2px;
}
#the-show p.arrow a {
  text-decoration: none;
  color: #333;
  font-size: 11px;
}
#the-show p a {
  color: #333;
}
section {
  content: "";
  display: block;
  clear: both;
}
.service-link {
  width: 100%;
  height: 250px;
  background-color: #858585;
  z-index: -1;
}
.service-first-link ul{
  width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
}
.service-first-link ul li {
  float: left;
  width: 280px;
  text-align: center;
  list-style: none;
  Z-index: 1;
  color: #333;
  line-height: 60px;
  background-color: #fff;
}
.service-second-link ul {
  width: 1200px;
  padding-top: 60px;
  margin: 0 42%;
}
.service-second-link ul li {
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
  Z-index: 1;
  color: #333;
  line-height: 60px;
}
.service-link .service-first-link ul li:not(:first-child) {
  margin-left: 20px;
}
.service-link ul li img {
  vertical-align: middle;
  width: 18px;
  padding-right: 7px;
}
.service-link ul li a {
  text-decoration: none;
  color: #333;
}
section {
  content: "";
  display: block;
  clear: both;
}
.tea-theory-link {
  width: 1200px;
  margin: 50px auto;
}
.tea-theory-link ul li {
  float: left;
  width: 100px;
  list-style: none;
}
.tea-theory-link ul li:nth-of-type(1) {
  margin: 50px 0 0 150px;
  border-right: 1px solid #000;
}
.tea-theory-link ul li:nth-of-type(2) {
  margin: 50px 0 0 0;
  padding-left: 30px;
  border-right: 1px solid #000;
}
.tea-theory-link ul li:nth-of-type(3) {
  margin: 50px 0 0 0;
  padding: 0 30px;
}
.tea-theory-link ul li:nth-of-type(4) {
  width: 190px;
  margin: 50px 0 0 0;
  padding: 0 40px;
  border-left: 1px solid #000;
}
.tea-theory-link ul li:nth-of-type(5) {
  margin: 50px 0 0 0;
  padding-left: 30px;
  border-left: 1px solid #000;
}
.tea-theory-link ul li:nth-of-type(6) {
  width: 180px;
  margin: 50px 0 0 0;
  border-left: 1px solid #000;
  padding-left: 30px;
}
.tea-theory-link ul li a {
  color: #333;
  text-decoration: none;
}
section {
  content: "";
  display: block;
  clear: both;
}
.txt-last-area {
  text-align: center;
  padding: 50px 0 75px 0;
}
@media(max-width: 768px) {
  #container {
    width: 100%;
  }
  section.toparea {
  width: 100%;
}
  #head-content h1 img {
    width: 20%;
  }
  .top-img img {
    width: 100%;
    margin-top: 50px;
  }
  section.tea-ceremony-culture {
    width: 100%;
  }
  .about-tea-theory h2 {
    width: 100%;
  }
  .about-tea-theory p:nth-of-type(1) {
    width: 100%;
  }
  .about-tea-theory p:nth-of-type(2) {
    width: 100%;
  }
  nav.Nav-Menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    color: #000;
    text-align: center;
    width: 100%;
    transform: translateY(-100%);
    transition: all 0.6s;
  }
  nav.Nav-Menu ul {
    background: #ccc;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  nav.Nav-Menu ul li {
    font-size: 1.1em;
    list-style-type: none;
    padding: 0;
    width: 100%;
    border-bottom: 1px dotted #333;
  }
  nav.Nav-Menu ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.Nav-Menu ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
  }
  nav.Nav-Menu.active {
    transform: translateY(0%);
  }
  .hamburger-menu {
    display: block;
    position: fixed;
    right: 87.7777777777778%;
    top: 12px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
  }
  .hamburger-menu span {
    display: block;
    position: absolute;
    width: 30px;
    border-bottom: solid 3px #000;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
  }
  .hamburger-menu span:nth-child(1) {
    top: 9px;
  }
  .hamburger-menu span:nth-child(2) {
    top: 18px;
  }
  .hamburger-menu span:nth-child(3) {
    top: 27px;
  }
  .hamburger-menu.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .hamburger-menu.active span:nth-child(2), .hamburger-menu.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  section.newsarea {
    width: 100%;
  }
  #news {
	width: 100%;	
	}
  #news h2 {
    margin: 50px auto 0 auto;
  }
  #news dl {
    margin: 50px 0 0 0;
    box-sizing: border-box;
  }
  #news dt {
    margin-left: 15px;
  }
  #news dt img {
    width: 40%;
  }
  #news .end-of-business {
	clear: both;
	float: none;
    position: relative;
  }
  #news .end-of-business dd:nth-of-type(1) {
    transform: none;
    position: absolute;
    top: 65px;
    left: 44%;
  }
  #news .end-of-business dd:nth-of-type(2) {
    width: 42%;
    position: absolute;
    top: 103px;
    left: 44%;
  }
  #news .open-lectures {
	clear: both;
	float: none;
    position: relative;
  }
  #news .open-lectures dd:nth-of-type(1) {
    transform: none;
    position: absolute;
    top: 65px;
    left: 44%;
  }
  #news .open-lectures dd:nth-of-type(2) {
    width: 42%;
    position: absolute;
    top: 103px;
    left: 44%;
  }
  #news .end-of-new-membership {
	clear: both;
	float: none;
    position: relative;
  }
  #news .end-of-new-membership dd:nth-of-type(1) {
    transform: none;
    position: absolute;
    top: 65px;
    left: 44%;
  }
  #news .end-of-new-membership dd:nth-of-type(2) {
    width: 42%;
    position: absolute;
    top: 103px;
    left: 44%;
  }
  #news p {
	width: 35%;
    margin: 50px auto 0 auto;
    }
  section.tea-theory-area {
    width: 100%;
    text-align: left;
  }
  #tea-theory-shop h2 {
    text-align: center;
    margin: 50px auto 50px auto;
  }
  #tea-theory-shop dt {
    width: 3%;
	margin-left: -180px;
  }
  #tea-theory-shop dd img {
    width: 90%;
    margin-left: 10%;
  }
  #tea-theory-shop dd:nth-of-type(1) {
    margin-top: 100px;
  }
  #tea-theory-shop dd:nth-of-type(2) {
    clear: both;
	float: none;
    width: 90%;
    margin: -90px 0 0 20px;
  }
  #tea-theory-shop dd:nth-of-type(3) {
    clear: both;
	float: none;
    width: 90%;
    margin: 20px 0 0 20px;
  }
  #tea-theory-shop p {
    clear: both;
	float: none;
    width: 120px;
    margin: 20px auto 0 auto;
  }
  #cafe {
	float: left;
    width: 100%;
	position: relative;
  }
  #cafe dt {
	float: left;
	text-align: left;
    margin: 120px 130px 0 1%;
  }
  #cafe dd {
	float: left;
  }
  #cafe dd img {
	float: left;
    width: 90%;
	position: absolute;
	top: 110px;
	left: 40px;
  }
  #cafe dd:nth-of-type(2) {
    width: 70%;
    margin: 47% 0 0 15px;
  }
  #cafe dd:nth-of-type(3) {
    width: 90%;
    margin: 20px 0 20px 15px;
  }
  #cafe p {
   clear: both;
   float: none;
   width: 120px;
   margin: 20px auto 0 auto;
  }
  #the-show {
	float: left;
	margin-top: 0px;
    position: relative;
  }
  #the-show dt {
    float: left;
	text-align: left;
    margin: 120px 0% 0 1%;
  }
  #the-show dd {
    float: left;
  }
  #the-show dd img {
    width: 90%;
	position: absolute;
	top: 110px;
	left: 40px;
  }
  #the-show dd:nth-of-type(2) {
    width: 95%;
    margin: 26% 0 0 15px;
  }
  #the-show dd:nth-of-type(3) {
    width: 95%;
    margin: 20px 0 20px 15px;
  }
  #the-show p:nth-of-type(1) {
    margin: 450px auto 0 auto;
  }
  #the-show p:nth-of-type(2) {
    width: 70px;
    border-bottom: solid 1px;
    transform: rotate(90deg);
    margin-top: 80px;
  }
  #the-show p.arrow::after {
    content: "";
    display: block;
    width: 1px;
    height: 1px;
    border-right: 15px solid #000;
    transform: rotate(145deg);
    position: absolute;
    top: 10px;
    left: -1px;
  }
  .service-link {
  width: 100%;
    height: 550px;
    z-index: -1;
    margin: -400px 0 0 0;
  }
.service-first-link ul {
  width: 100%;
}
.service-first-link ul li {
  float: none;
  text-align: center;
  list-style: none;
  Z-index: 1;
  color: #333;
  line-height: 60px;
  background-color: #fff;
  margin-top: 10%;
}
.service-link .service-first-link ul li:not(:first-child) {
  margin-left: auto;
  margin-right: auto;
}
.service-link .service-first-link ul li:nth-of-type(1) {
  margin-left: auto;
  margin-right: auto;
}
.service-second-link ul {
  width: 100%;
  padding-top: 60px;
  margin: -10% 0 0 0;
}
.service-second-link ul li {
  float: left;
  width: 30%;
  text-align: center;
  list-style: none;
  Z-index: 1;
  color: #333;
  line-height: 60px;
}
.service-second-link ul li:nth-of-type(1) {
  margin-left: 20%;
}
 .tea-theory-link {
	width: 100%;
    margin-top: 20px;
  }
  .tea-theory-link ul li:nth-of-type(1) {
    width: 20%;
    margin: 50px 0 0 12.61111111111111%;
  }
  .tea-theory-link ul li:nth-of-type(2) {
    width: 20%;
    margin-top: 50px;
    padding-left: 16px;
  }
  .tea-theory-link ul li:nth-of-type(3) {
    width: 30%;
    margin: 50px 0 0 0%;
    padding: 0 10px;
  }
  .tea-theory-link ul li:nth-of-type(4) {
    width: 60%;
    margin: 20px 0 0 23%;
    padding: 0 10px;
  }
  .tea-theory-link ul li:nth-of-type(5) {
    width: 20%;
    margin: 20px 28% 0 14%;
    padding-left: 10px;
  }
  .tea-theory-link ul li:nth-of-type(6) {
    width: 55%;
    margin: 20px 0 0 -27%;
    padding-left: 10px;
  }
  footer .txtarea {
    margin: 0 auto;
  }
  .txt-last-area {
    text-align: center;
    padding-top: 20px;
  }
}