@charset "utf-8";
/* CSS Document */
@media(max-width:540px) {
  section.top-image {
    height: 180px;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
 section.top-image {
	 width: 100%;
	 background-size: cover;
}
 section.top-image p {
	width: 60%;
	height: 40px;
    background-color: #EBEBEB;
    font-size: 20px;
    color: #797979;
    text-align: center;
    padding-top: 15px;
    border-radius: 30px;
	align-self: center;
  }
  section.top-image img {
   width: 28%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	flex-direction: column;
  }
  section.profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 5%;
    box-sizing: border-box;
  }
  section.profiel img {
     width: 90%;
	margin: 20px 0 0 5%;
  }
  section.profiel p {
    line-height: 1.5em;
    margin-left: 18%;
  }
  section.wcb-cafe-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 5%;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.wcb-cafe-profiel p {
    width: 90%;
    line-height: 1.5em;
	margin: 20px 0 0 5%;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel a .WCBCAFE {
	width: 90%;
	margin-left: 5%;
  }
  section.cafe-67-2-profiel {
    content: "";
    display: block;
    clear: both;
    box-sizing: border-box;
  }
  section.cafe-67-2-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 5%;
  }
  section.cafe-67-2-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.cafe-67-2-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.cafe-67-2-profiel a .cafe67 {
	width: 90%;
	margin-left: 5%;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
	flex-direction: column;
  }
  section.kowa-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 5%;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.kowa-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    width: 90%;
	margin-left: 5%;
  }
  section.tea-theory-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 5%;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.tea-theory-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tea-theory-profiel  a .tea-theory {
    width: 90%;
	margin-left: 5%;
  }
  section.mitui-profiel {
    content: "";
    display: block;
    clear: both;
  }
  section.mitui-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    box-sizing: border-box;
    margin: 0 0 0 5%;
  }
  section.mitui-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.mitui-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .mitui {
    width: 90%;
	margin-left: 5%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
  }
  section.revive-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 20px 0 5%;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.revive-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.revive-profiel  a .rivive {
    width: 90%;
	margin-left: 5%;
  }
  section.tempura-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 5%;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.tempura-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel  a .tempura {
    width: 90%;
	margin-left: 5%;
}
section.travel-agency-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 5%;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.travel-agency-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.travel-agency-profiel a .travel-agency {
	width: 90%;
	margin-left: 5%;	
  }
div.content-block-4 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
  }
  section.nursery-school-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 20px 0 5%;
    box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.nursery-school-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.nursery-school-profiel a .nursery-school {
	width: 90%;
	margin-left: 5%;	
  }
 section.trading-profiel {
    width: 90%;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 20px 0 5%;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    width: 90%;
	margin: 20px 0 0 5%;
  }
  section.trading-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.trading-profiel a .trading {
	width: 90%;
	margin-left: 5%;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 45%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width:541px) and (max-width:1023px) {
  section.top-image {
    height: 100%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.top-image p {
	width: 55%;
	height: 35px;
    background-color: #EBEBEB;
    font-size: 20px;
    color: #797979;
    text-align: center;
    position: absolute;
    top: 100px;
    left: 28%;
	padding-top: 20px;
    border-radius: 30px;
  }
  section.top-image img {
   width: 28%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 40px 1%;
    box-sizing: border-box;
  }
  section.profiel img {
	width: 90%;
    margin-left: 5%;
  }
  section.profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.wcb-cafe-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 2%;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.wcb-cafe-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.wcb-cafe-profiel a .WCBCAFE {
	width: 90%;
	margin-left: 5%;
  }
  section.cafe-67-2-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 1% 0 2%;
  }
  section.cafe-67-2-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.cafe-67-2-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.cafe-67-2-profiel a .cafe67 {
	width: 90%;
	margin-left: 5%;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.kowa-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 1%;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.kowa-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.kowa-profiel  a .kowa {
    width: 90%;
	margin-left: 5%;
  }
  section.tea-theory-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 2%;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
   width: 90%;
    margin-left: 5%;
  }
  section.tea-theory-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.tea-theory-profiel  a .tea-theory {
    width: 90%;
	margin-left: 5%;
  }
  section.mitui-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 1% 20px 2%;
    box-sizing: border-box;
  }
  section.mitui-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.mitui-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.mitui-profiel  a .mitui {
    width: 90%;
	margin-left: 5%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.revive-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 1%;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.revive-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.revive-profiel  a .revive-profiel {
    width: 90%;
	margin-left: 5%;
  }
  section.tempura-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 2%;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.tempura-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.tempura-profiel  a .tempura {
    width: 90%;
	margin-left: 5%;
}
section.travel-agency-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 1% 0 2%;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.travel-agency-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.travel-agency-profiel a .travel-agency {
	width: 90%;
	margin-left: 5%;	
  }
  div.content-block-4 {
    width: 96%;
    margin: 0 auto;
	display: flex;
	justify-content: flex-start;
  }
  section.nursery-school-profiel {
	float: left;
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
	box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.nursery-school-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
 section.nursery-school-profiel a .nursery-school {
	width: 90%;
	margin-left: 5%;	
  }
 section.trading-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 4%;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    width: 90%;
    margin-left: 5%;
  }
  section.trading-profiel p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.trading-profiel a .trading {
	width: 90%;
	margin-left: 5%;
  }
  section.footer div.end-footer {
	float: left;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 90%;
    line-height: 1.5em;
    margin-left: 5%;
  }
  section.footer div.end-footer::after {
	content: "";
	display: block;
	clear: both;
  }
}
@media (min-width:1024px) and (max-width:1399px) {
  section.top-image {
    height: 360px;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
	position: relative;
  }
  section.top-image p {
	width: 55%;
	height: 45px;
    background-color: #EBEBEB;
    font-size: 30px;
    color: #797979;
    text-align: center;
    position: absolute;
    top: 140px;
    left: 32%;
	padding-top: 10px;
    border-radius: 30px;
  }
  section.top-image img {
   width: 28%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	justify-content: space-around;
  }
  section.profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 40px 0;
    box-sizing: border-box;
  }
  section.profiel img {
    margin-left: 18%;
  }
  section.profiel p {
    line-height: 1.5em;
    margin-left: 18%;
  }
  section.wcb-cafe-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    margin-left: 18%;
  }
  section.wcb-cafe-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
	
  section.wcb-cafe-profiel a .WCBCAFE {
	width: 90%;
	margin-left: 5%;
  }
  section.cafe-67-2-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
  }
  section.cafe-67-2-profiel img {
    margin-left: 18%;
  }
  section.cafe-67-2-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.cafe-67-2-profiel a .cafe67 {
	width: 90%;
	margin-left: 5%;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.kowa-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    margin-left: 18%;
  }
  section.kowa-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    width: 90%;
	margin-left: 5%;
  }
  section.tea-theory-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    margin-left: 17%;
  }
  section.tea-theory-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tea-theory-profiel  a .tea-theory {
    width: 90%;
	margin-left: 5%;
  }
  section.mitui-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.mitui-profiel img {
    margin-left: 17%;
  }
  section.mitui-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .mitui {
    width: 90%;
	margin-left: 5%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.revive-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    margin-left: 17%;
  }
  section.revive-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.revive-profiel  a .rivive {
    width: 90%;
	margin-left: 5%;
  }
  section.tempura-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    margin-left: 17%;
  }
  section.tempura-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
 section.tempura-profiel  a .tempura {
    width: 90%;
	margin-left: 5%;
}
section.travel-agency-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    margin-left: 17%;
  }
  section.travel-agency-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.travel-agency-profiel a .travel-agency {
	width: 90%;
	margin-left: 5%;	
  }
div.content-block-4 {
    width: 100%;
    margin: 0 auto;
    display: flex;
	justify-content: space-around;
  }
  section.nursery-school-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
	box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    margin-left: 17%;
  }
  section.nursery-school-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.nursery-school-profiel a .nursery-school {
	width: 90%;
	margin-left: 5%;	
  }
 section.trading-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    margin-left: 17%;
  }
  section.trading-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.trading-profiel a .trading {
	width: 90%;
	margin-left: 5%;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width:1400px) and (max-width:1439px) {
  section.top-image {
    height: 100%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.top-image p {
	width: 55%;
	height: 45px;
    background-color: #EBEBEB;
    font-size: 30px;
    color: #797979;
    text-align: center;
	padding-top: 10px;
    border-radius: 30px;
  }
  section.top-image img {
   width: 28%;
   height: 100%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	justify-content: space-around;
  }
  section.profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 40px 0;
    box-sizing: border-box;
  }
  section.profiel img {
    margin-left: 18%;
  }
  section.profiel p {
    line-height: 1.5em;
    margin-left: 18%;
  }
  section.wcb-cafe-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    margin-left: 18%;
  }
  section.wcb-cafe-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.wcb-cafe-profiel a .WCBCAFE {
	width: 90%;
	margin-left: 5%;
  }
  section.cafe-67-2-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
  }
  section.cafe-67-2-profiel img {
    margin-left: 18%;
  }
  section.cafe-67-2-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
  }
  section.kowa-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    margin-left: 18%;
  }
  section.kowa-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    width: 90%;
	margin-left: 5%;
  }
  section.tea-theory-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    margin-left: 17%;
  }
  section.tea-theory-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tea-theory-profiel  a .tea-theory {
    width: 90%;
	margin-left: 5%;
  }
  section.mitui-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 60px 0;
    box-sizing: border-box;
  }
  section.mitui-profiel img {
    margin-left: 17%;
  }
  section.mitui-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .mitui {
    width: 90%;
	margin-left: 5%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.revive-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    margin-left: 17%;
  }
  section.revive-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.revive-profiel  a .revive-profiel {
    width: 90%;
	margin-left: 5%;
  }
  section.tempura-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    margin-left: 17%;
  }
  section.tempura-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel  a .tempura {
    width: 90%;
	margin-left: 5%;
}
section.travel-agency-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 60px 0;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    margin-left: 17%;
  }
  section.travel-agency-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.travel-agency-profiel a .travel-agency {
	width: 90%;
	margin-left: 5%;	
  }
div.content-block-4 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.nursery-school-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
	box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    margin-left: 17%;
  }
  section.nursery-school-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.nursery-school-profiel a .nursery-school {
	width: 90%;
	margin-left: 5%;	
  }
 section.trading-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    margin-left: 17%;
  }
  section.trading-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.trading-profiel a .trading {
	width: 90%;
	margin-left: 5%;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width:1440px) and (max-width:1919px) {
  section.top-image {
    height: 100%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  section.top-image p {
	width: 40%;
	height: 45px;
    background-color: #EBEBEB;
    font-size: 30px;
    color: #797979;
    text-align: center;
    position: absolute;
    top: 200px;
    left: 32%;
	padding-top: 10px;
    border-radius: 30px;
  }
  section.top-image img {
    width: 28%;
    height: 100%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	justify-content: space-around;
  }
  section.profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 40px 0;
    box-sizing: border-box;
  }
  section.profiel img {
    margin-left: 18%;
  }
  section.profiel p {
    line-height: 1.5em;
    margin-left: 18%;
  }
  section.wcb-cafe-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    margin-left: 18%;
  }
  section.wcb-cafe-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.cafe-67-2-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
  }
  section.cafe-67-2-profiel img {
    margin-left: 18%;
  }
  section.cafe-67-2-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.kowa-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    margin-left: 18%;
  }
  section.kowa-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    margin: 20px auto 0 21%;
  }
  section.tea-theory-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    margin-left: 17%;
  }
  section.tea-theory-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.mitui-profiel img {
    margin-left: 17%;
  }
  section.mitui-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .tempura {
  text-align: center;
  margin: 20px 0 0 32%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.revive-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    margin-left: 17%;
  }
  section.revive-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    margin-left: 17%;
  }
  section.tempura-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel  a .tempura {
  text-align: center;
  margin: 20px 0 0 32%;
}
section.travel-agency-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    margin-left: 17%;
  }
  section.travel-agency-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
div.content-block-4 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.nursery-school-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 0;
	box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    margin-left: 17%;
  }
  section.nursery-school-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
 section.trading-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    margin-left: 17%;
  }
  section.trading-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 15%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media (min-width:1921px) and (max-width:2560px) {
  section.top-image {
    height: 100%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.top-image p {
	width: 55%;
	height: 105px;
    background-color: #EBEBEB;
    font-size: 80px;
    color: #797979;
    text-align: center;
	padding-top: 15px;
    border-radius: 30px;
  }
  section.top-image img {
   width: 28%;
   height: 100%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	justify-content: space-around;
  }
  section.profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 40px 0;
    box-sizing: border-box;
  }
  section.profiel img {
    margin-left: 18%;
  }
  section.profiel p {
    line-height: 1.5em;
    margin-left: 18%;
  }
  section.wcb-cafe-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    margin-left: 18%;
  }
  section.wcb-cafe-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.cafe-67-2-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 0 0;
  }
  section.cafe-67-2-profiel img {
    margin-left: 18%;
  }
  section.cafe-67-2-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  div.content-block-2 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.kowa-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 0;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    margin-left: 18%;
  }
  section.kowa-profiel p {
    margin-left: 18%;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    margin: 20px auto 0 21%;
  }
  section.tea-theory-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    margin-left: 17%;
  }
  section.tea-theory-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 20px 0 20px 0;
    box-sizing: border-box;
  }
  section.mitui-profiel img {
    margin-left: 17%;
  }
  section.mitui-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .tempura {
  text-align: center;
  margin: 20px 0 0 32%;
  }
  div.content-block-3 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.revive-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 40px 0;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    margin-left: 17%;
  }
  section.revive-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 20px 0;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    margin-left: 17%;
  }
  section.tempura-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.tempura-profiel  a .tempura {
  text-align: center;
  margin: 20px 0 0 32%;
}
section.travel-agency-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    margin-left: 17%;
  }
  section.travel-agency-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
div.content-block-4 {
    width: 100%;
    margin: 0 auto;
	display: flex;
	justify-content: space-around;
  }
  section.nursery-school-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
	box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    margin-left: 17%;
  }
  section.nursery-school-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
 section.trading-profiel {
    height: 900px;
    border: solid 5px #7E7E7E;
    margin: 0 0 0 0;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    margin-left: 17%;
  }
  section.trading-profiel p {
    margin-left: 17%;
    line-height: 1.5em;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 10%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
