@charset "utf-8";
/* CSS Document */
@media(max-width:768px) {
  section.top-image {
	width: 100%;
    height: 50%;
    background: URL("../img/top-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  section.top-image p {
	width: 45%;
	height: 25%;
    background-color: #EBEBEB;
    font-size: 17px;
    color: #797979;
    text-align: center;
	margin: 0;
	padding: 10px 0 10px 0;
    border-radius: 30px;
	align-self: center;
	vertical-align: middle;
  }
  section.top-image img {
   width: 50%;
   height: 50%;
  }
  div.content-block-1 {
    width: 100%;
    margin: 0;
	display: flex;
	flex-direction: column;
  }
  section.profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.profiel p {
	width: 90%;
    line-height: 1.5em;
    margin: 20px auto;
	display: block;
  }
  section.wcb-cafe-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.wcb-cafe-profiel p {
    width: 90%;
    line-height: 1.5em;
	margin: 20px auto 0;
	display: block;
    box-sizing: border-box;
  }
  section.wcb-cafe-profiel a .WCBCAFE {
	width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.cafe-67-2-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 0 auto;
	box-sizing: border-box;
  }
  section.cafe-67-2-profiel img {
    width: 90%;
	margin: 20px auto;
  }
  section.cafe-67-2-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.cafe-67-2-profiel a .cafe67 {
	width: 90%;
	margin: 20px auto;
	display: block;
  }
  div.content-block-2 {
    width: 100%;
    margin: 20px auto;
    display: flex;
	flex-direction: column;
	}
  section.kowa-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.kowa-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.kowa-profiel p {
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.kowa-profiel  a .kowa {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.tea-theory-profiel {
    width: 90%;
    height: 1000px;
	border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.tea-theory-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.tea-theory-profiel p {
	width: 90%; 
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.tea-theory-profiel  a .tea-theory {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.mitui-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    box-sizing: border-box;
    margin: 20px auto;
  }
  section.mitui-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.mitui-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.mitui-profiel  a .mitui {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  div.content-block-3 {
    width: 100%;
    margin: 20px auto;
	display: flex;
	flex-direction: column;
  }
  section.revive-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.revive-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.revive-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.revive-profiel  a .rivive {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.tempura-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.tempura-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.tempura-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.tempura-profiel  a .tempura {
    width: 90%;
	margin: 20px auto;
	display: block;
}
section.travel-agency-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px auto;
    box-sizing: border-box;
  }
  section.travel-agency-profiel img {
    width: 90%;
	margin: 20px auto;
  }
  section.travel-agency-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.travel-agency-profiel a .travel-agency {
	width: 90%;
	margin: 20px auto;
	display: block;	
  }
div.content-block-4 {
    width: 100%;
    margin: 20px auto;
	display: flex;
	flex-direction: column;
  }
  section.nursery-school-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
	margin: 20px auto;
    box-sizing: border-box;
  }
  section.nursery-school-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.nursery-school-profiel p {
    width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.nursery-school-profiel a .nursery-school {
	width: 90%;
	margin: 20px auto;
	display: block;
  }
 section.trading-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px 20px 0 5%;
    box-sizing: border-box;
  }
  section.trading-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.trading-profiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.trading-profiel a .trading {
	width: 90%;
	margin: 20px auto;
	display: block;
  }
 section.grilled-meat-muscle-profiel {
    width: 90%;
    height: 1000px;
    border: solid 5px #7E7E7E;
    margin: 20px 20px 0 5%;
    box-sizing: border-box;
  }
  section.grilled-meat-muscle-profiel img {
    width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.grilled-meat--muscleprofiel p {
	width: 90%;
    margin: 20px auto 0;
	display: block;
    line-height: 1.5em;
  }
  section.grilled-meat-muscle-profiel a .grilled-meat-muscle {
	width: 90%;
	margin: 20px auto;
	display: block;
  }
  section.footer div.end-footer {
    width: 100%;
    height: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: #30EFF8;
  }
  section.footer div.end-footer p {
    width: 45%;
    margin: 0 auto;
    padding-top: 20px;
  }
}