@charset "utf-8";
/* CSS Document */
body {
  margin: 0 0 0 0;
  background: #f8f8f8;
  color: 000;
  font-size: 14px;
  font-family: '游明朝', 'Yu Mincho', YuMincho, serif;
  font-weight: normal;
  letter-spacing: .04em;
  line-height: 1;
}
#container {
  margin: 0 auto;
}
section.top-image {
  height: 990px;
  background: URL("../img/top-image.jpg");
  background-repeat: no-repeat;
  position: relative;
}
section.top-image p {
  width: 540px;
  height: 55px;
  background-color: #EBEBEB;
  font-size: 40px;
  color: #797979;
  text-align: center;
  position: absolute;
  top: 300px;
  left: 710px;
  padding-top: 20px;
  border-radius: 30px;
}
section.top-image img {
  position: absolute;
  top: -70px;
  left: -70px;
}
div.content-block-1 {
  width: 1000px;
  margin: 50px auto 0 auto;
}
section.profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.profiel img {
  margin: 20px 0 0 45px;
}
section.profiel p {
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.wcb-cafe-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 0 20px 0 20px;
  box-sizing: border-box;
}
section.wcb-cafe-profiel img {
  margin: 20px 0 0 45px;
}
section.wcb-cafe-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.wcb-cafe-profiel a .WCBCAFE {
  text-align: center;
  margin: 20px 0 0 40%;
}
section.cafe-67-2-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  box-sizing: border-box;
}
section.cafe-67-2-profiel img {
  margin: 20px 0 0 45px;
}
section.cafe-67-2-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.cafe-67-2-profiel  a .cafe67 {
  text-align: center;
  margin: 20px auto 0 40%;
}
div.content-block-1::after {
  content: "";
  display: block;
  clear: both;
}
div.content-block-2 {
  width: 1000px;
  margin: 0 auto;
}
section.kowa-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin-top: 20px;
  box-sizing: border-box;
}
section.kowa-profiel img {
  margin: 20px 0 0 45px;
}
section.kowa-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.kowa-profiel  a .kowa {
  margin: 20px auto 0 15%;
}
section.tea-theory-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 20px;
  box-sizing: border-box;
}
section.tea-theory-profiel img {
  margin: 20px 0 0 45px;
}
section.tea-theory-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.tea-theory-profiel  a .tea-theory {
  text-align: center;
  margin: 20px 0 0 45%;
}
section.mitui-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 20px;
  box-sizing: border-box;
}
section.mitui-profiel img {
  margin: 20px 0 0 45px;
}
section.mitui-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.mitui-profiel a .mitui {
  text-align: center;
  margin: 20px 0 0 33%;
}
div.content-block-2::after {
  content: "";
  display: block;
  clear: both;
}
div.content-block-3 {
  width: 1000px;
  margin: 0 auto;
}
section.revive-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}
section.revive-profiel img {
  margin: 20px 0 0 45px;
}
section.revive-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.revive-profiel  a .rivive {
  text-align: center;
  margin: 20px 0 0 34%;
}
section.tempura-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 20px;
  box-sizing: border-box;
}
section.tempura-profiel img {
  margin: 20px 0 0 45px;
}
section.tempura-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.tempura-profiel  a .tempura {
  text-align: center;
  margin: 20px 0 0 25%;
}
section.travel-agency-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 20px;
  box-sizing: border-box;
}
section.travel-agency-profiel img {
  margin: 20px 0 0 45px;
}
section.travel-agency-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.travel-agency-profiel  a .travel-agency {
  text-align: center;
  margin: 20px 0 0 33%;
}
div.content-block-3::after {
  content: "";
  display: block;
  clear: both;
}
div.content-block-4 {
  width: 1000px;
  margin: 0 auto;
}
section.nursery-school-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
}
section.nursery-school-profiel img {
  margin: 20px 0 0 45px;
}
section.nursery-school-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.nursery-school-profiel  a .nursery-school {
  text-align: center;
  margin: 20px 0 0 26%;
}
section.trading-profiel {
  float: left;
  width: 300px;
  height: 900px;
  border: solid 5px #7E7E7E;
  border-radius: 20px;
  margin: 20px 0 0 20px;
  box-sizing: border-box;
}
section.trading-profiel img {
  margin: 20px 0 0 45px;
}
section.trading-profiel p {
  width: 220px;
  line-height: 1.5em;
  margin: 0 0 0 45px;
}
section.trading-profiel  a .trading {
  text-align: center;
  margin: 20px 0 0 35%;
}
div.content-block-4::after {
  content: "";
  display: block;
  clear: both;
}
section.footer div.end-footer {
  width: 1920px;
  height: 50px;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: #30EFF8;
}
section.footer div.end-footer p {
  width: 200px;
  margin: 0 auto;
  padding-top: 20px;
}