@charset "utf-8";
/* CSS Document */
@media(max-width:768px){
section.title h1{
	width: 30%;
	margin: 70px auto;
	color: #FCFCFC;
}
#meat1 {
	width: 70%;
	margin: 0 auto;
}
#navi{
	float: left;
}
#navi ul{
	list-style-type: none;
}
#navi ul li{
	float: left;
}
#navi ul li img{
	border: 3px solid white;
}
#main{
	width: 70%;
	margin-top: 30px;
}
#main img{
	width: 70%;
	border: 3px solid white;
	position: absolute;
}
}