@charset "utf-8";
/* CSS Document */
body {
    margin: 0 0 0 0;
	background-color: #000;
}
div.container {
	margin: 0 auto;
}
section.title h1{
	width: 200px;
	margin: 70px auto;
	color: #FCFCFC;
}
#meat1 {
	width: 90%;
	margin: 0 auto;
}
#navi{
	width: 20%;
	float: left;
	margin: 0 0 30px 10%;
}
#navi ul{
	list-style-type: none;
}
#navi ul li{
	width: 150px;
	float: left;
}
#navi ul li img{
	border: 3px solid white;
	margin: 5px 5px 0 0;
}
#main{
	float: left;
}
#main img{
	width: 40%;
	border: 3px solid white;
	position: absolute;
	margin-left: 30px;
}
#meat1::after{
	content: "";
	display: block;
	clear: both;
}