@charset "utf-8";
/* CSS Document */
body {
	margin: 0 0 0 0;
}
div#container {
	margin: 0 auto;
}
section.title h1 {
	width: 200px;
	margin: 50px auto 0 auto;
}

/* 上段UIドロップダウンメニュー　*/

section#main-link {
	width: 100%;
	margin: 0 auto;
}

/* 上段ドロップダウンメニュー位置設定コード　*/

section#main-link ul.business li {
	list-style-type: none;
}
ul.business {
	position: relative;
}
ul.business li {
	width: 100%;
}
html ul.business li {
	display: inline;
	zoom: 1.0;
}
* + html ul.business li {
	display: inline;
	zoom: 1.0;
}
ul.business li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #FFF;
	text-decoration: none;
	position: relative;
	font-size: 14px;
}
ul.business li a:hover {
	color: #717171;
}
* html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-1 {
  zoom: 1;
  position: relative;
}
* html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-2 {
  zoom: 1;
  position: relative;
}
* html ul.sub-3 {
  zoom: 1;
  position: relative;
}
* + html ul.sub-3 {
  zoom: 1;
  position: relative;
}
ul.business {
  zoom: 1;
  margin: 50px 0 0 0;
}
ul.business li.corporate-information {
  width: 95.5%;
  float: left;
  position: absolute;
  left: 4.5%;
  box-sizing: border-box;
}
ul.business li.business-introduction {
  width: 83%;
  float: left;
  position: absolute;
  left: 17%;
  box-sizing: border-box;
}
ul.business li.news {
  width: 71%;
  float: left;
  position: absolute;
  left: 29%;
  box-sizing: border-box;
}
ul.business li.sustainability {
  width: 60%;
  float: left;
  position: absolute;
  left: 40%;
  box-sizing: border-box;
}
ul.business li.investor-information {
  width: 42%;
  float: left;
  position: absolute;
  left: 58%;
  box-sizing: border-box;
}
ul.business li.employment-information {
  width: 29%;
  float: left;
  position: absolute;
  left: 71%;
  box-sizing: border-box;
}
ul.business li.future {
  width: 13%;
  float: left;
  position: absolute;
  left: 82%;
  box-sizing: border-box;
}

/* ドロップダウンメニューグループ1 */

div.business-group-1 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin-left: -8%;
}
ul.business div.business-group-1 p {
	width: 20%;
	height: 200px;
	background: url("../img/jpg/business-link/No.1.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 12%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ1 リンク*/

ul.business div.business-group-1 ul.sub-1  {
	float: left;
	height: 30px;
    margin: -300px 0 0 40%;
}
ul.business div.business-group-1 ul.sub-2 {
	float: left;
	height: 30px;
	margin: -300px 0 0 63%;
}
ul.business div.business-group-1 ul.sub-3 {
	float: left;
	height: 30px;
	margin: -300px 0 0 80%;
}

div.business-group-1::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ2 */

div.business-group-2 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin: 0 0 0 -22%;
}
ul.business div.business-group-2 p {
	width: 20%;
	height: 200px;
	background: url("../img/jpg/business-link/No.2.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 12%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ2 リンク */

ul.business div.business-group-2 ul.sub-1 {
	float: left;
	height: 30px;
	margin: -300px 0 0 40%;
	color: #000;
}

div.business-group-2::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ3 */

div.business-group-3 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin: 0 0 0 -42%;
}
ul.business div.business-group-3 p {
	width: 20%;
	height: 200px;
	background: url("../img/jpg/business-link/No.3.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 12%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ3 リンク */

ul.business div.business-group-3 ul.sub-1 {
	float: left;
	height: 30px;
	margin: -300px 0 0 40%;
}
ul.business div.business-group-3 ul.sub-2 {
	float: left;
	height: 30px;
	margin: -300px 0 0 55%;
}
ul.business div.business-group-3 ul.sub-2 li:nth-of-type(1) {
	color: #FFF;
}

div.business-group-3::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ4 */

div.business-group-4 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin: 0 0 0 -70%;
}
ul.business div.business-group-4 p {
	width: 22%;
	height: 200px;
	background: url("../img/jpg/business-link/No.4.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 11%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ4 リンク */

ul.business div.business-group-4 ul.sub-1 {
	float: left;
	height: 30px;
	margin: -300px 0 0 40%;
}
ul.business div.business-group-4 ul.sub-2 {
	float: left;
	width: 20%;
	height: 30px;
	margin: -300px 0 0 65%;
}
ul.business div.business-group-4 ul.sub-2 li:nth-of-type(1){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-2 li:nth-of-type(5){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-3 {
	float: left;
	height: 30px;
	margin: -300px 0 0 87%;
}
ul.business div.business-group-4 ul.sub-3 li:nth-of-type(1){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-3 li:nth-of-type(4){
	color: #FFF;
}
ul.business div.business-group-4 ul.sub-4 {
	float: left;
	height: 30px;
	margin: -300px 0 0 55%;
}

div.business-group-4::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ5 */

div.business-group-5 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin: 0 0 0 -148%;
	color: #FFF;
}
ul.business div.business-group-5 p {
	width: 20%;
	height: 200px;
	background: url("../img/jpg/business-link/No.5.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 12%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ5 リンク */

ul.business div.business-group-5 ul.sub-1 {
	float: left;
	height: 30px;
	margin: -300px 0 0 40%;
}
ul.business div.business-group-5 ul.sub-2 {
	float: left;
	width: 30%;
	height: 30px;
	margin: -300px 0 0 65%;
}

div.business-group-5::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ6 */

div.business-group-6 {
	display: none;
	background-color: #1A2E2C;
	z-index: 1;
	margin: 0 0 0 -256%;
}
ul.business div.business-group-6 p {
	width: 20%;
	height: 200px;
	background: url("../img/jpg/business-link/No.6.jpg");
	background-repeat: no-repeat;
	background-position: 5% 30%;
	text-align: left;
	margin: 50px 0 0 5%;
	padding: 140px 0 0 12%;
	color: #FFF;
	font-weight: 1000;
}

/* ドロップダウンメニューグループ6 リンク */

ul.business div.business-group-6 ul.sub-1 {
	float: left;
	width: 25%;
	height: 30px;
	margin: -300px 0 0 45%;
}
ul.business div.business-group-6 ul.sub-1 li:nth-of-type(1){
	color: #FFF;
	font-size: 18px;
}
ul.business div.business-group-6 ul.sub-2 {
	float: left;
	width: 25%;
	height: 30px;
	margin: -300px 0 0 70%;
}
ul.business div.business-group-6 ul.sub-2 li:nth-of-type(1){
	color: #FFF;
	font-size: 18px;
}

div.business-group-6::after {
	content: "";
	display: block;
	clear: both;
}

/* ドロップダウンメニューグループ7 */

div.business-group-7 {
	background-color: #1A2E2C;
	box-sizing: border-box;
	position: absolute;
	left: -10px;
}
ul.business li.future a{
	color: #000;
}
ul.business::after {
	content: "";
	display: block;
	clear: both;
}

/* メインイメージ画像 */

section.main-image {
	width: 100%;
	margin: 120px auto 0 auto;
	z-index: -1;
	overflow: hidden;
}
section.news-content-area-1 {
	width: 80%;
	margin: 100px auto 0 auto;
}

/* ニュース及びお知らせ */

div.content-1 {
	width: 100%;
}
dl.manila-railway-philippines {
	float: left;
	width: 100%;
	border-top: 2px dotted #666;
	border-bottom: 2px dotted #666;
	padding: 20px 0 20px 0;
}
dl.manila-railway-philippines dt {
	float: left;
}
dl.manila-railway-philippines dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.manila-railway-philippines dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
div.content-2 {
   width: 100%;
}
dl.friend {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.friend dt {
	float: left;
}
dl.friend dd:nth-of-type(1) {
    float: left;
	margin: 0 0 0 50px;
}
dl.friend dd:nth-of-type(2) {
    float: left;
	margin: 0 0 0 90px;
}
div.content-3 {
	width: 100%;
}
dl.personnel-changes-at-the-supervisor-level-1 {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-1 dt {
	float: left;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.personnel-changes-at-the-supervisor-level-1 dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
div.content-4 {
	width: 100%;
}
dl.country-exposure {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.country-exposure dt {
	float: left;
}
dl.country-exposure dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 50px;
}
dl.country-exposure dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 130px;
}
div.content-5 {
	width: 100%;
}
dl.personnel-changes-at-the-supervisor-level-2 {
	float: left;
	width: 100%;
	margin-top: 20px;
	border-bottom: 2px dotted #666;
	padding: 0 0 20px 0;
}
dl.personnel-changes-at-the-supervisor-level-2 dt {
	float: left;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(1) {
   float: left;
   margin: 0 0 0 57px;
}
dl.personnel-changes-at-the-supervisor-level-2 dd:nth-of-type(2) {
   float: left;
   margin: 0 0 0 50px;
}
section.news-content-area-1::after {
	content: "";
	display: block;
	clear: both;
}
section.news-content-area-2 {
	width: 100%;
	margin: 50px auto 0 auto;
}
section.news-content-area-2 div.content-1 {
	
}
section.news-content-area-2 div.content-1 p:nth-of-type(1) {
   margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(2) {
	margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(3) {
	margin-left: 20px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(4) {
	float: left;
	margin-left: 10px;
}
section.news-content-area-2 div.content-1 p:nth-of-type(5) {
	float: left;
	margin-left: 50px;
}
section.news-content-area-2 {
	content: "";
	display: block;
	clear: both;
}

/* 事業紹介 */

section.business-details {
	width: 100%;
	margin: 0 auto;
}
div.business-introduction-1 {
	width: 100%;
	height: 800px;
	margin-top: 100px;
    color: #16F85A;
	background: url("../img/jpg/what-business/No.1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-1 p:nth-of-type(1) {
	width: 100%;
	text-align: center;
	margin: 0 0 0 0;
	padding-top: 230px;
	font-size: 30px;
	color: #16F85A;
}
div.business-introduction-1 p:nth-of-type(2) {
	width: 100%;
	text-align: center;
	margin: 0 0 0 0;
	padding-top: 20px;
	font-size: 50px;
	color: #16F85A;
}
div.business-introduction-1 p:nth-of-type(3) {
	width: 100%;
	text-align: center;
	margin: 0 0 0 0;
	padding-top: 20px;
	font-size: 20px;
	color: #16F85A;
}
div.business-introduction-2 {
	float: left;
	width: 50%;
	height: 640px;
	color: #16F85A;
	background: url("../img/jpg/what-business/No.2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-2 p:nth-of-type(1) {
	width: 100%;
	text-align: center;
	margin: 230px 0 0 0;
	font-size: 20px;
}
div.business-introduction-2 p:nth-of-type(2) {
	width: 34.375%;
	text-align: center;
	margin: 5% 0 0 30%;
	padding: 20px 0 20px 0;
	font-size: 14px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
section.business-details::after {
	content: "";
	display: block;
	clear: both;
}
div.business-introduction-3 {
	float: left;
	width: 25%;
	height: 320px;
	color: #16F85A;
	background: url("../img/jpg/what-business/No.3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-3 p:nth-of-type(1) {
	width: 90%;
	text-align: center;
	margin: 130px 0 0 5%;
	font-size: 17px;
}
div.business-introduction-3 p:nth-of-type(2) {
	width: 50%;
	text-align: center;
	margin: 5% 0 0 25%;
	padding: 20px 0 20px 0;
	font-size: 12px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
section.business-details::after {
	content: "";
	display: block;
	clear: both;
}
div.business-introduction-4 {
	float: left;
	width: 25%;
	height: 320px;
	color: #16F85A;
	background: url("../img/jpg/what-business/No.4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-4 p:nth-of-type(1) {
	width: 90%;
	text-align: center;
	margin: 130px 0 0 5%;
	font-size: 15px;
}
div.business-introduction-4 p:nth-of-type(2) {
	width: 60%;
	text-align: center;
	margin: 5% 0 0 20%;
	padding: 20px 0 20px 0;
	font-size: 17px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
section.business-details::after {
	content: "";
	display: block;
	clear: both;
}
div.business-introduction-5 {
	float: left;
	width: 25%;
	height: 320px;
	color: #16F85A;
	background: url("../img/jpg/what-business/No.5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-5 p:nth-of-type(1) {
	width: 90%;
	text-align: center;
	margin: 120px 0 0 5%;
	font-size: 15px;
}
div.business-introduction-5 p:nth-of-type(2) {
	width: 40%;
	text-align: center;
	margin: 5% 0 0 30%;
	padding: 20px 0 20px 0;
	font-size: 20px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
section.business-details::after {
	content: "";
	display: block;
	clear: both;
}
div.business-introduction-6 {
	float: left;
	width: 25%;
	height: 320px;
	color: #16F85A;
	position: relative;
	margin-bottom: 70px;
	background: url("../img/jpg/what-business/No.6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
div.business-introduction-6 p:nth-of-type(1) {
	width: 90%;
	text-align: center;
	margin: 120px 0 0 5%;
	font-size: 15px;
}
div.business-introduction-6 p:nth-of-type(2) {
	width: 65%;
	text-align: center;
	margin: 5% 0 0 20%;
	padding: 20px 0 20px 0;
	font-size: 15px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}
section.business-details::after {
	content: "";
	display: block;
	clear: both;
}

/*　事業紹介 事業分野 */

section.business-field {
	width: 100%;
	height: 380px;
	margin: 0 auto;
}
section.business-field dt {
	text-align: center;
	margin: 0 auto 50px auto;
}
section.business-field dd {
	margin: 0 0 0 5%;
}
section.business-field dd:nth-of-type(1) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.1.png");
	background-repeat: no-repeat;
	padding: 80px 0 0 12px;
}
section.business-field dd:nth-of-type(2) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.2.png");
	background-repeat: no-repeat;
	background-position: 5px 0px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(3) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.3.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 80px 0 0 5px;
}
section.business-field dd:nth-of-type(4) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.4.png");
	background-repeat: no-repeat;
	background-position: 25px 0px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(5) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.5.png");
	background-repeat: no-repeat;
	background-position: 10px 0px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(6) {
	float: left;
	width: 10%;
	background: url("../img/png/business-field/icon-No.6.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	margin-bottom: 50px;
	padding: 80px 0 0 0;
}
section.business-field dd:nth-of-type(7) {
	clear: both;
	width: 90%;
}
section.business-field dd:nth-of-type(8) {
	width: 90%;
	margin-top: 20px;
}
section.business-field dd:nth-of-type(9) {
	width: 90%;
	margin-top: 20px;
}
section.business-field dd:nth-of-type(10) {
	width: 155px;
	height: 45px;
	margin: 40px auto 0 auto;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.business-field::after {
	content: "";
	display: block;
	clear: both;
}

/* 何でだか商事グループ 企業情報 */

section.what-group {
	width: 100%;
	margin: 100px auto 0 auto;
}
section.what-group div.what-group-1 {
	float: left;
	width: 100%;
	height: 720px;
	background: url("../img/jpg/what-group/No.1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	vertical-align: middle;
}
section.what-group div.what-group-1  p:nth-of-type(1) {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
    color: #16F85A;
	padding-top: 15%;
}
section.what-group div.what-group-1 p:nth-of-type(2) {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	color: #16F85A;
	padding-top: 20px;
}
section.what-group div.what-group-1 p:nth-of-type(3) {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	font-size: 50px;
	color: #16F85A;
	padding-top: 20px;
}
section.what-group div.what-group-2 {
	width: 25%;
	height: 360px;
	float: left;
	color: #000;
	background: url("../img/jpg/what-group/No.2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
section.what-group div.what-group-2 p {
	width: 95%;
	font-size: 18px;
	color: #16F85A;
	text-align: center;
	position: absolute;
	top: 50%;
	}
section.what-group div.what-group-3 {
	width: 25%;
	height: 360px;
	float: left;
	background: url("../img/jpg/what-group/No.3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
section.what-group div.what-group-3 p {
	width: 95%;
	font-size: 18px;
	color: #16F85A;
	text-align: center;
	position: absolute;
	top: 50%;
}
section.what-group div.what-group-4 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/what-group/No.4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
section.what-group div.what-group-4 p {
	width: 95%;
	font-size: 18px;
	color: #16F85A;
	text-align: center;
	position: absolute;
	top: 50%;
}
section.what-group div.what-group-5 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/what-group/No.5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
section.what-group div.what-group-5 p {
	width: 95%;
	font-size: 18px;
	color: #16F85A;
	text-align: center;
	position: absolute;
	top: 50%;
}
section.what-group::after {
	content: "";
	display: block;
	clear: both;
}
section.what-group-data {
	width: 100%;
	margin: 0 auto;
}
section.what-group-data div.what-group-data-1 p {
	width: 29%;
	margin: 50px auto;
	padding-bottom: 10px;
	font-size: 34px;
	font-weight: 1000;
	border-bottom: 7px solid #000;
}
section.what-group-data div.what-group-data-2 {
	width: 15%;
	float: left;
	margin-left: 10%;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(1) {
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) {
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-2 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-3 {
	width: 15%;
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(1) {
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-3 p:nth-of-type(2) {
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 {
	width: 20%;
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(1) {
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) {
	margin-top: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-4 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-5 {
	width: 15%;
	float: left;
	margin-left: 50px;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(1) {
	padding: 10px 0 10px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) {
	margin: 10px 0 20px 0;
	box-sizing: border-box;
	text-align: center;
	font-weight: bolder;
	font-size: 34px;
}
section.what-group-data div.what-group-data-5 p:nth-of-type(2) span {
	font-size: 14px;
}
section.what-group-data div.what-group-data-6 {
	width: 35%;
	float: right;
}
section.what-group-data div.what-group-data-6 p {
	box-sizing: border-box;
	font-weight: bold;
	margin-left: 40%;
	font-size: 15px;
}
section.what-group-data div.what-group-data-7 p {
	width: 160px;
	height: 45px;
	margin: 200px auto 50px auto;
	padding: 15px 0 0 25px;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
}
section.what-group-data::after {
	content: "";
	display: block;
	clear: both;
}

/* サステナビリティ */

section.company-growth {
	width: 100%;
	margin: 0 auto;
}
section.company-growth div.company-growth-1 {
	width: 100%;
	height: 720px;
	color: #16F85A;
	background: url("../img/jpg/company-growth/No.1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.company-growth div.company-growth-1 dl dt {
	width: 100%;
	margin: 200px auto 0 auto;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
section.company-growth div.company-growth-1 dd:nth-of-type(1) {
	width: 100%;
	margin: 20px auto 0 auto;
	text-align: center;
	font-size: 50px;
	padding-top: 20px;
}
section.company-growth div.company-growth-1 dd:nth-of-type(2) {
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
	padding-top: 20px;
}
section.company-growth div.company-growth-2 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/company-growth/No.2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.company-growth div.company-growth-2 p {
	width: 90%;
	margin: 170px 0 0 5%;
	font-size: 15px;
	text-align: center;
}
section.company-growth div.company-growth-3 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/company-growth/No.3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.company-growth div.company-growth-3 p {
	width: 90%;
	margin: 170px 0 0 5%;
	font-size: 15px;
	text-align: center;
}
section.company-growth div.company-growth-4 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/company-growth/No.4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.company-growth div.company-growth-4 p {
	width: 90%;
	margin: 170px 0 0 5%;
	font-size: 15px;
	text-align: center;
}
section.company-growth div.company-growth-5 {
	width: 25%;
	height: 360px;
	float: left;
	color: #16F85A;
	background: url("../img/jpg/company-growth/No.5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.company-growth div.company-growth-5 p {
	width: 90%;
	margin: 170px 0 0 5%;
	font-size: 15px;
	text-align: center;
}
section.company-growth::after {
	content: "";
	display: block;
	clear: both;
}
section.company-growth-message {
	width: 100%;
	margin: 0 auto;
}
section.company-growth-message dl dt {
	width: 680px;
	margin: 50px auto 50px auto;
	padding: 10px 0 10px 0;
	border-bottom: 7px solid #000;
	box-sizing: border-box;
	text-align: center;
	font-size: 34px;
	font-weight: 1000;
}
section.company-growth-message dl dd:nth-of-type(1) img {
	width: 30%;
	float: left;
	margin: 0 0 50px 10%;
}
section.company-growth-message dl dd:nth-of-type(2) {
	float: left;
	width: 40%;
	margin-left: 5%;
}
section.company-growth-message dl dd:nth-of-type(3) {
	float: left;
	width: 40%;
	margin: 20px 0 20px 5%;
}
section.company-growth-message dl dd:nth-of-type(4) {
	float: left;
	width: 40%;
	margin-left: 5%;
}
section.company-growth-message dl dd:nth-of-type(5) {
	float: right;
	width: 25%;
	height: 45px;
	margin: 5% 30% 0 0;
	padding: 15px 0 0 0;
	background-color: #000;
	color: #FFF;
	box-sizing: border-box;
	text-align: center;
}
section.company-growth-message::after {
	content: "";
	display: block;
	clear: both;
}

/* フッター部分 */

section.footer-img {
	width: 100%;
	margin: 100px auto 0 auto;
	box-sizing: border-box;
}
section.footer-img div.footer-img-1 {
	float: left;
	width: 33.3%;
	height: 240px;
	box-sizing: border-box;
	background: url("../img/jpg/footer/No.1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.footer-img div.footer-img-1 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	color: #16F85A;
	box-sizing: border-box;
}
section.footer-img div.footer-img-1 p:nth-of-type(2){
	width: 70px;
    margin: 3% 0 0 40%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	color: #16F85A;
	box-sizing: border-box;
}
section.footer-img div.footer-img-2 {
	float: left;
	width: 33.3%;
	height: 240px;
	box-sizing: border-box;
	background: url("../img/jpg/footer/No.2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.footer-img div.footer-img-2 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	color: #16F85A;
	box-sizing: border-box;
}
section.footer-img div.footer-img-2 p:nth-of-type(2){
	width: 70px;
    margin: 3% 0 0 40%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	color: #16F85A;
}
section.footer-img div.footer-img-3 {
	float: left;
	width: 33.4%;
	height: 240px;
	box-sizing: border-box;
	background: url("../img/jpg/footer/No.3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.footer-img div.footer-img-3 p:nth-of-type(1){
	width: 70%;
    margin: 100px 0 0 25%;
	color: #16F85A;
	box-sizing: border-box;
}
section.footer-img div.footer-img-3 p:nth-of-type(2){
	width: 130px;
    margin: 3% 0 0 35%;
	padding: 10px 0 10px 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	box-sizing: border-box;
	color: #16F85A;
}
section.footer-img::after {
	content: "";
	display: block;
	clear: both;
}

/* 最下段フッター部分 */

section.last-footer {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	background-color: #09F943;
}
div.what-trading-footer p {
	width: 250px;
	margin: 0 auto;
	padding-top: 15px;
	white-space: pre;
}