@charset "utf-8";
/* CSS Document */
body {
    margin: 0 0 0 0;
	background-color: #000;
	font-family: 'Shippori Antique B1', sans-serif;
}
div.container {
	width: 100%;
	margin: 0 auto;
}
/*タイトルロゴ*/
section.title h1 {
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}
section.title h1 img{
	width: 400px;
}
/*各ページへのリンク*/
div.menu ul {
	width: 50%;
	list-style-type: none;
    margin: 30px auto 0 auto;
}
div.menu ul li{
	width: 25%;
	float: left;
}
div.menu ul li a{
	text-decoration: none;
	color: #fff6c9;
}
div.menu::after {
	content: "";
	display: block;
	clear: both;
}
/*焼肉マッスルメイン画像部分*/
section.main-images {
	width: 100%;
	margin: 120px auto 0 auto;
	z-index: -1;
	overflow: hidden;
}
/*焼肉マッスル H2タグ 店舗紹介*/
section.girilled-meat-muscle-profile {
	width: 50%;
	margin: 0 auto;
}
section.girilled-meat-muscle-profile h2 {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
	margin-bottom: 17px;
}
/*Javascript ギャラリー機能動作部分 カルビ肉*/
#meat1 {
	width: 90%;
	margin: 0 0 0 5%;
}
#navi {
	width: 45%;
	float: left;
	margin: 0 0 30px 0;
}
#navi ul {
	list-style-type: none;
}
#navi ul li {
	float: left;
	margin: 15px 0 0 10px;
}
#navi ul li img {
	width: 100%;
	border: 3px solid white;
	margin: 5px 0 0 0;
}
#calvi {
	float: left;
	margin: 15px 0 34% 0;
}
#calvi img{
	float: left;
	width: 40%;
	border: 3px solid white;
	position: absolute;
	margin-left: 30px;
}
#meat1::after {
	content: "";
	display: block;
	clear: both;
}
/*カルビ肉のお勧め*/
section.calvi-gallery {
	width: 50%;
	margin: 0 auto;
}
section.calvi-gallery p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}
/*Javascript ギャラリー機能動作部分 牛・豚・鶏各食用部位*/
#meat-parts {
	width: 90%;
	margin: 0 0 0 5%;
}
#parts {
	width: 45%;
	float: left;
	margin: 0 0 30px 0;
}
#parts ul {
	list-style-type: none;
}
#parts ul li {
	float: left;
	margin: 15px 0 0 10px;
}
#parts ul li img {
	width: 100%;
	border: 3px solid white;
	margin: 5px 0 0 0;
}
#eat-parts {
	float: left;
	margin: 15px 0 34% 0;
}
#eat-parts img{
	float: left;
	width: 40%;
	border: 3px solid white;
	position: absolute;
	margin-left: 30px;
}
#meat-parts::after {
	content: "";
	display: block;
	clear: both;
}
/*食用肉の部位の情報*/
section.meat-eat-parts {
    width: 50%;
	margin: 0 auto 18px auto;	
}
section.meat-eat-parts p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}
/*Javascript ギャラリー機能動作部分 デザート*/
#desert {
	width: 90%;
	margin: 0 0 0 5%;
}
#navi-desert {
	width: 45%;
	float: left;
	margin: 0 0 30px 0;
}
#navi-desert ul {
	list-style-type: none;
}
#navi-desert ul li {
	float: left;
	margin: 15px 0 0 10px;
}
#navi-desert ul li img {
	width: 100%;
	border: 3px solid white;
	margin: 5px 0 0 0;
}
#main-desert {
	float: left;
	margin: 15px 0 34% 0;
}
#main-desert img{
	float: left;
	width: 40%;
	border: 3px solid white;
	position: absolute;
	margin-left: 30px;
}
#desert::after {
	content: "";
	display: block;
	clear: both;
}
/*デザートのお勧め*/
section.desert-gallery {
    width: 50%;
	margin: 0 auto 18px auto;	
}
section.desert-gallery p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}