@charset "utf-8";
/* CSS Document */
@media(max-width:768px){
/*タイトルロゴ*/
section.title h1 {
	width: 100%;
	margin: 0 0 0 0;
	padding-top: 0;
}
section.title h1 img {
	width: 100%;
	margin: 0;
}
/* ハンバーガーメニュー　*/		
span.nav-toggle {
    display: block;
	margin-top: -100%;
    position: relative;
    height: 1.5rem;
	z-index: 99;
}
span.nav-toggle i {
    display: block;
    width: 10%;
    height: 2px;
    background-color: #DDD8D8;
    position: absolute;
    transition: transform .5s, opacity .5s;
	margin-left: 90%;
}
span.nav-toggle i:nth-child(1) {
    top: 10px;
}
span.nav-toggle i:nth-child(2) {
    top: 20px;
    bottom: 0;
}
span.nav-toggle i:nth-child(3) {
    top: 30px;
}
span.nav-toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
span.nav-toggle.show i:nth-child(2) {
    opacity: 0;
}
span.nav-toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
section.responsive-nav {
	width: 93.51%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
	-webkit-overflow-scrolling: touch;
}
section.responsive-nav.show {
	width: 100%;
	opacity: 1;
    visibility: visible;
	z-index: 1;
	background-color: #fff6c9;
	margin-top: 0px;
}
/*ハンバーガーメニュー 各ページへのリンク*/
div.menu {
	position: relative;
}
div.menu ul {
	width: 30%;
	list-style-type: none;
    margin: 30px auto 0 auto;
}
div.menu ul li{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 34px;
}
div.menu ul li a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
}
div.menu::after {
	content: "";
	display: block;
	clear: both;
}
/*ライブレッド　メイン画像部分*/
section.main-images {
	width: 100%;
	margin: 120% auto 0 auto;
	z-index: -1;
	overflow: hidden;
}
/*ライブレッド H2タグ 店舗紹介*/
section.rye-braed-profile {
	width: 90%;
	margin: 0 auto;
}
section.rye-braed-profile h2 {
	color: #F8F2F2;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 17px;
}
/*Javascript モーダルウィンドウ機能動作部分 ライ麦パン調理状況*/
#navi1 {
	width: 100%;
	float: left;
}
#navi1 ul{
	list-style-type: none;
}
#navi1 ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}
div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
#overLayer{
	width: 100%;
	display:none;
	position: fixed;
	top: 50%;
	left: 0;
	margin-top: -30%;
	margin-left:0;
}
#overLayer img{
	width: 100%;
	margin: 0 auto;
}
section.rye-bread-cooking::after {
	content: "";
	display: block;
	clear: both;
}
/*当店のこだわり*/
section.shop-modal {
	width: 100%;
	margin: 0 auto;
}
section.shop-modal p {
	color: #F8F2F2;
	width: 70%;
	margin: 0 auto;
}
/*Javascript モーダルウィンドウ機能動作部分 ライ麦パン*/
#navi2 {
	width: 100%;
	float: left;
	margin-top: 40px;
}
#navi2 ul{
	list-style-type: none;
}
#navi2 ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}

section.rye-bread-kinds::after {
	content: "";
	display: block;
	clear: both;
}
/*ライ麦への想い*/
section.rye-bread-modal {
	width: 100%;
	margin: 0 auto;
}
section.rye-bread-modal p {
	color: #F8F2F2;
	width: 70%;
	margin: 0 auto;
}
/*Javascript モーダルウィンドウ機能動作部分 デザートパン*/
#navi3 {
	width: 100%;
	float: left;
	margin-top: 40px;
}
#navi3 ul{
	list-style-type: none;
}
#navi3 ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}

section.dessert-bread::after {
	content: "";
	display: block;
	clear: both;
}
/*デザートパンのこだわり*/
section.dessert-bread-modal {
	width: 100%;
	margin: 0 auto;
}
section.dessert-bread-modal p {
	color: #F8F2F2;
	width: 70%;
	margin: 0 auto;
}
/*Javascript モーダルウィンドウ機能動作部分 店内の様子*/
#navi {
	width: 100%;
	float: left;
	margin-top: 40px;
}
#navi4 ul{
	list-style-type: none;
}
#navi4 ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}

section.various-bread::after {
	content: "";
	display: block;
	clear: both;
}
/*店内のこだわり*/
section.various-bread-modal {
	width: 100%;
	margin: 0 auto;
}
section.various-bread-modal p {
	color: #F8F2F2;
	width: 70%;
	margin: 0 auto;
}
}
/*フッターエリア*/
