@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
header {
width: 100%;
height: 100px;
background-color: #c2007b;
}
nav {
width: 980px;
margin: 0 auto;
overflow: hidden;
}
nav li {
list-style-type: none;
background-color: #a1f640;
width: 180px;
height: 20px;
float: left;
margin-right: 10px;
}
nav li:last-child {
margin-right: 0;
}
.content {
width: 1000px;
margin: 0 auto;
overflow: hidden;
}
main {
width: 700px;
height: 740px;
float: left;
background-color: #00984b;
}
aside {
width: 260px;
height: 740px;
float: right;
background-color: #00984b;
}
footer {
width: 100%;
height: 100px;
margin-top: 10px;
background-color: #c2007b;
}