@charset "utf-8";
/* CSS Document */
@media(max-width:768px){
/*タイトルロゴ*/
section.title h1 {
	width: 100%;
	margin: 0 0 0 0;
	padding-top: 0;
}
section.title h1 img {
	width: 100%;
	margin: 0;
}
/* ハンバーガーメニュー　*/		
span.nav-toggle {
    display: block;
	margin-top: -100%;
    position: relative;
    height: 1.5rem;
	z-index: 99;
}
span.nav-toggle i {
    display: block;
    width: 10%;
    height: 2px;
    background-color: #DDD8D8;
    position: absolute;
    transition: transform .5s, opacity .5s;
	margin-left: 90%;
}
span.nav-toggle i:nth-child(1) {
    top: 10px;
}
span.nav-toggle i:nth-child(2) {
    top: 20px;
    bottom: 0;
}
span.nav-toggle i:nth-child(3) {
    top: 30px;
}
span.nav-toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
}
span.nav-toggle.show i:nth-child(2) {
    opacity: 0;
}
span.nav-toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
}
section.responsive-nav {
	width: 93.51%;
	height: 100%;
	position: fixed;
	overflow-y: scroll;
	z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
	-webkit-overflow-scrolling: touch;
}
section.responsive-nav.show {
	width: 100%;
	opacity: 1;
    visibility: visible;
	z-index: 1;
	background-color: #fff6c9;
	margin-top: 0px;
}
/*ハンバーガーメニュー 各ページへのリンク*/
div.menu {
	position: relative;
}
div.menu ul {
	width: 30%;
	list-style-type: none;
    margin: 30px auto 0 auto;
}
div.menu ul li{
	width: 100%;
	float: left;
	text-align: center;
	line-height: 34px;
}
div.menu ul li a{
	text-decoration: none;
	color: #000;
	font-size: 13px;
}
div.menu::after {
	content: "";
	display: block;
	clear: both;
}
/*焼肉マッスルメイン画像部分*/
section.main-images {
	width: 100%;
	margin: 120% auto 0 auto;
	z-index: -1;
	overflow: hidden;
}
/*焼肉マッスル H2タグ 店舗紹介*/
section.girilled-meat-muscle-profile {
	width: 90%;
	margin: 0 auto;
}
section.girilled-meat-muscle-profile h2 {
	color: #F8F2F2;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 17px;
}
/*Javascript ギャラリー機能動作部分 カルビ肉*/
#navi{
	width: 100%;
	float: left;
}
#navi ul{
	list-style-type: none;
}
#navi ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}
#navi ul li img:nth-of-type(1){
	border: 3px solid white;
}
#navi ul li img:nth-of-type(2){
	border: 3px solid white;
}
#navi ul li img:nth-of-type(3){
	border: 3px solid white;
}
#navi ul li img:nth-of-type(4){
	border: 3px solid white;
}
#navi ul li img:nth-of-type(5){
	border: 3px solid white;
}
#navi ul li img:nth-of-type(6){
	border: 3px solid white;
}
#calvi{
	width: 95%;
	margin: 30px 0 0 0;
}
#calvi img{
	width: 90%;
	border: 3px solid white;
	position: absolute;
	margin-left: 0;
}
#meat1::after{
	content: "";
	display: block;
	clear: both;
}
/*カルビ肉のお勧め*/
section.calvi-gallery {
	width: 90%;
	margin: 67.5% auto 17px auto;
}
section.calvi-gallery p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}
/*Javascript ギャラリー機能動作部分 牛・豚・鶏各食用部位*/
#parts{
	width: 100%;
	float: left;
}
#parts ul{
	list-style-type: none;
}
#parts ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}
#parts ul li img:nth-of-type(1){
	border: 3px solid white;
}
#parts ul li img:nth-of-type(2){
	border: 3px solid white;
}
#parts ul li img:nth-of-type(3){
	border: 3px solid white;
}
#parts ul li img:nth-of-type(4){
	border: 3px solid white;
}
#eat-parts {
	width: 95%;
	margin: 30px 0 0 0;
}
#eat-parts img{
	width: 90%;
	border: 3px solid white;
	position: absolute;
	margin-left: 0;
}
#meat-parts::after{
	content: "";
	display: block;
	clear: both;
}
/*食肉の部位の情報*/
section.meat-eat-parts {
    width: 90%;
	margin: 67.5% auto 17px auto;
}
section.meat-eat-parts p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}
/*Javascript ギャラリー機能動作部分 デザート*/
#navi-desert {
	width: 100%;
	float: left;
}
#navi-desert ul{
	list-style-type: none;
}
#navi-desert ul li{
	width: 45%;
	float: left;
	margin: 0 2.5%;
}
#navi-desert ul li img:nth-of-type(1) {
	border: 3px solid white;
}
#navi-desert ul li img:nth-of-type(2) {
	border: 3px solid white;
}
#navi-desert ul li img:nth-of-type(3) {
	border: 3px solid white;
}
#navi-desert ul li img:nth-of-type(4) {
	border: 3px solid white;
}
#main-desert {
	width: 95%;
	margin: 30px 0 0 0;
}
#main-desert img{
	width: 90%;
	border: 3px solid white;
	position: absolute;
	margin-left: 0;
}
#desert::after{
	content: "";
	display: block;
	clear: both;
}
/*デザートのお勧め*/
section.desert-gallery {
    width: 90%;
	margin: 67.5% auto 0 auto;
}
section.desert-gallery p {
	color: #F8F2F2;
	line-height: 30px;
	font-size: 20px;
}
/*フッターエリア*/
section.footer-group {
  width: 90%;
  color: #fff;
  margin: 0 auto;
}
div.business-form {
  float: both;
  width: 100%;
  position: relative;
}
div.business-form p:nth-of-type(1) {
	margin-top: 50px;
}
div.business-form p:nth-of-type(2) {
  margin-bottom: 17px;
}
div.business-form p:nth-of-type(3) {}
div.business-form p:nth-of-type(4) {}
div.business-form p:nth-of-type(5) {}
div.business-form p:nth-of-type(6) {
  font-size: 26px;
  margin: 170px 0 0 0;
  position: absolute;
  top: 0;
}
div.business-form p:nth-of-type(7) {
  font-size: 26px;
  margin: 200px 0 0 0;
  position: absolute;
  top: 0;
}
section.explanation-of-shop-reception {
  float: both;
  width: 100%;
  color: #fff;
  margin: 128px auto 50px auto;
}
section.explanation-of-shop-reception p {
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
footer {
  width: 100%;
}
}