@charset "utf-8";
/* CSS Document */
section.revive-top-zone {
 position: relative;
}
div.circle-1 {
 width: 100px;
 height: 100px;
 background-color: #FF0000;
 border-radius: 50%;
}
div.eazy-sixtheen-second {
 position: absolute;
 top: 80px;
 left: 52%;
 z-index: 2;
}
div.eazy-sixtheen-second p {
 text-align: center;
 position: absolute;
 top: 22px;
 left: 20px;
 transform: rotate(-15deg);
 color: #FFF;
}
div.eazy-sixtheen-second p span.sixtheen {
 font-size: 32px;
}
div.eazy-sixtheen-second p span.second {
 font-size: 22px;
}
div.assessment-column {
 position: relative;
}
div.assessment-txt-area {
 position: absolute;
 top: -570px;
 left: 56%;
 z-index: 1;
}
div.assessment {
 background-color: #FDE71C;
 text-align: center;
 width: 400px;
 height: 50px;
 box-sizing: border-box;
 padding-top: 15px;
}
div.assessment p span.free-assessment {
 color: #FF0000;
 font-size: 20px;
 font-weight: bold;
}
div.assessment p {
 font-size: 20px;
 font-weight: bold;
}
div.assessment-procedure {
 height: 500px;
 background-color: #FFFFFF;	
}
p.step-1 {
 color: #06CFF0;
 margin: 0 0 5px 20px;
 padding: 10px 0 0 0;
}
div.backgroud-color-1 {
 width: 370px;
 height: 60px;
 background-color: #DADADA;
 margin: 0 0 0 15px;
}
div.property-information {
 margin: 0 0 0 15px;
 padding-top: 10px;
 position: relative;
}
div.property-information p:nth-of-type(2) {
 color: #FF0000;
 border: 1px solid #FF0000;
 width: 50px;
 height: 25px;
 padding: 5px 0 0 5px;
 box-sizing: border-box;
}
div.property-information input {
 width: 250px;
 height: 35px;
 position: absolute;
 top: 10px;
 left: 80px;
}
div.txt-area-1 p.step-2 {
 color: #06CFF0;
 margin: 10px 0 5px 20px;
}
div.backgroud-color-2 {
 width: 370px;
 height: 220px;
 background-color: #DADADA;
 margin: 0 0 0 15px;
}
div.prefectures {
 margin: 0 0 0 20px;
 padding-top: 10px;
 position: relative;
}
div.prefectures p:nth-of-type(2) {
 color: #FF0000;
 border: 1px solid #FF0000;
 width: 50px;
 height: 25px;
 padding: 5px 0 0 5px;
 box-sizing: border-box;
}
div.prefectures input {
 width: 250px;
 height: 35px;
 position: absolute;
 top: 10px;
 left: 80px;
}
div.municipality {
 margin: 10px 0 10px 20px;
 position: relative;
}
div.municipality p:nth-of-type(2) {
 color: #FF0000;
 border: 1px solid #FF0000;
 width: 50px;
 height: 25px;
 padding: 5px 0 0 5px;
 box-sizing: border-box;
}
div.municipality input {
 width: 250px;
 height: 35px;
 position: absolute;
 top: 0px;
 left: 80px;
}
div.town-name {
 margin: 10px 0 10px 20px;
 position: relative;
}
div.town-name p:nth-of-type(2) {
 color: #FF0000;
 border: 1px solid #FF0000;
 width: 50px;
 height: 25px;
 padding: 5px 0 0 5px;
 box-sizing: border-box;
}
div.town-name input {
 width: 250px;
 height: 35px;
 position: absolute;
 top: 0px;
 left: 80px;
}
div.ding-name {
 margin: 10px 0 10px 20px;
 position: relative;
}
div.ding-name p:nth-of-type(2) {
 color: #FF0000;
 border: 1px solid #FF0000;
 width: 50px;
 height: 25px;
 padding: 5px 0 0 5px;
 box-sizing: border-box;
}
div.ding-name input {
 width: 250px;
 height: 35px;
 position: absolute;
 top: 0px;
 left: 80px;
}
div.txt-area-2 {
 margin: 0 0 0 15px;
}
div.mail-assessment p {
 width: 370px;
 height: 60px;
 background-color: #7A7A7A;
 box-sizing: border-box;
 margin: 10px 0 5px 0;
 padding: 20px 0 0 0;
 text-align: center;
 color: #FFFFFF;
}
div.tel-assessment p {
 width: 370px;
 height: 60px;
 background-color: #7A7A7A;
 box-sizing: border-box;
 padding: 20px 0 0 0;
 text-align: center;
 color: #FFFFFF;
}
section.hope {
 margin: 50px 0 0 30%;
 position: relative;
}
section.hope p:nth-of-type(1) {
 float: left;
 width: 300px;
 height: 30px;
 font-size: 20px;
 border: 1px solid #0000FF;
 border-radius: 20px;
 text-align: center;
 margin-top: 8px;
 padding-top: 5px;
 box-sizing: border-box;
}
section.hope p:nth-of-type(1)::before {
 content: "";
 width: 0px;
 height: 0px;
 border-style: solid;
 border-width: 11px 11px 0px 11px;
 border-color: #0000FF transparent transparent  transparent;
 transform: rotate(270deg);
 position: absolute;
 top: 17px;
 left: 21.6%;
}
section.hope p:nth-of-type(1)::after {
 content: "";
 width: 0px;
 height: 0px;
 border-style: solid;
 border-width: 10px 10px 0px 10px;
 border-color: #FFF transparent transparent  transparent;
 transform: rotate(270deg);
 position: absolute;
 top: 17px;
 left: 21.58%;
}
section.hope p:nth-of-type(2) {
 float: left;
 font-size: 40px;
 font-weight: 1000;
 margin: 0px 0 0 20px;
}
section.hope p span.service-hope {
 color: #FF0000;
}
section.hope img {
 margin: 50px 0 0 0;
 position: relative;
}